@{
    ViewBag.Title = "The Light of Gita - Chapter XIV";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>



<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter XIV</h2>
        <h3 style="color:#0094ff;">Gunathraya Yoga</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                Gunathraya refers to the operating principles of Prakriti .Sattva guna
                (Sentient force), Rajo guna (mutative force) and Tamo guna (static force) the
                forces constituting Prakriti. ‘Siva Saktiatmakam Brahma’, means that
                consciousness and power together constitute Brahma. In Nirguna Brahma the
                forces of Sattva, Raja and Tama are dormant and not active. There the Supreme consciousness alone is felt and experienced by the purified individual soul. But
                Saguna Brhama is formed by the combination of three forces taking the seed of
                creation from the Supreme consciousness. We can see innumerous forms and
                things around the world due to the permutation and combination of these three
                forces. The influence of three forces is present in human beings as well as in other
                living and non-living beings.This is well discussed in this chapter.
                </br></br>
                Sattvaguna refers to the good qualities such as love and affection,
                consideration for others, moral qualities, devotion to God etc. It is the purest form
                of Prakriti white and transparent. Rajoguna is characterised by power, material
                pleasures, getting control over others, amassing wealth and fame, the colour
                ascribed to it is red. Tamo guna (static force) refers to the mean propensities
                common to man and animals and the colour ascribed to it is black. The influence
                of these three forces is present in every human mind. A study of these forces helps
                one for the psychoanalysis of the individuals. The human mind is generally
                classified into Sattvika, Rajasika and Tamasika, according to the intensity of the
                influence of these forces. </br></br>
                One who goes beyond the influence of these three gunas only can enjoy
                the Divine bliss.

            </p>
        </div>
    </div>
</div>

<div class="slokaWrapper">
    <div class="slokaDiv">
        śrī-bhagavān uvāca<br /><br />
        paraṁ bhūyaḥ pravakṣyāmi<br />
        jñānānāṁ jñānam uttamam<br />
        yaj jñātvā munayaḥ sarve<br />
        parāṁ siddhim ito gatāḥ<br />
        [1]<br />
    </div>
    <p class="slokadescription">
        Sri Krisna said: I shall tell you of the supreme wisdom, the highest of all
        wisdoms. The sages who knew it reached the highest perfection and got liberated
        from the worldly existence.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        idaṁ jñānam upāśritya<br />
        mama sādharmyam āgatāḥ<br />
        sarge 'pi nopajāyante<br />
        pralaye na vyathanti   <br />
        [2]<br />
    </div>
    <p class="slokadescription">
        Those who, practicing this wisdom, fixing their mind on Me, need not worry
        about their birth after entering into My being; at the time of the cosmic dawn or
        death at the cosmic night. Once they attain Me they have no return thereafter.
        Rebirth and death are the state of those who have not attained perfection. At
        the time of Pralaya all those created beings would merge in to the ParaPrakriti, the
        primodial Prakriti, at the time of cosmic night and that they all would take birth in
        the beginning of the cosmic day (Prabhava).
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        mama yonir mahad brahma<br />
        tasmin garbhaṁ dadhāmy aham<br />
        sambhavah sarva-bhūtānāṁ<br />
        tato bhavati bhārata<br />
        [3]<br />
    </div>
    <p class="slokadescription">
        Arjuna, My Paraprakriti is responsible for the creation of all beings and is the
        womb of all creatures. I place my seed in the womb of Paraprakriti.
        Paraprakriti is the state of subtle Prakriti, the un-manifest Prakriti and is the
        source of life. Paraprakriti receiving the seed of Purusa creates the world.
        Aparaprakriti is the visible world everywhere. Everything created is the
        Aparaprakriti.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sarva-yonisu kaunteya<br />
        mūrtayaḥ sambhavanti yāḥ<br />
        tāsāṁ brahma mahad yonir<br />
        aham bīja-pradah pitā<br />
        [4]<br />
    </div>
    <p class="slokadescription">
        All things are created by the Mother Nature taking the seed from Me being
        the farther of the created.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sattvaṁ rajas tama iti<br />
        gunāḥ prakṛti-sambhavāḥ<br />
        nibadhnanti mahā-bāho<br />
        dehe dehinam avyayam<br />
        [5]<br />
    </div>
    <p class="slokadescription">
        The operative principles of Prakriti; Sattva, raja and tama qualities bind the
        soul to the body.
        As the unit soul is bound by Prakriti by its power the soul loses freedom and
        becomes a slave of sorrow and happiness. In the course of time there arises the
        desire for the liberation of the soul and it finds out a suitable method and that the
        individual starts doing right actions for freeing the soul. Slowly the soul gets
        released from the bondages of Prakriti and escapes into the Divine Purusa.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tatra sattvaṁ nirmalatvāt<br />
        prakāśakam anāmayam<br />
        sukha-sangena badhnāti<br />
        jñāna-sangena cānagha<br />
        [6]<br />
    </div>
    <p class="slokadescription">
        Arjuna, the nature of Sattva guna is pure and bright. But it creates the desire
        for the wellbeing and knowledge. The Sattva guna also binds the soul.
        It is said that Sattvaguna is the purest form of Prakriti and is with white light.
        Mind becomes pure when Sattvaguna is predominant in one. Sattvika are those
        whose minds are dominated by Sattvaguna and are good by not performing wrong
        deeds. But they are interested in their wellbeing and also for getting knowledge.
        As their minds are purified they are very near to the Divine. If they perform, right
        action taking the ideation of the Supreme without the desire for results; will soon
        attain liberation.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        rajo rāgātmakaṁ viddhi<br />
        tṛṣṇā-sanga-samudbhavam<br />
        tan nibadhnāti kaunteya<br />
        karma-sangena dehinam<br />
        [7]<br />
    </div>
    <p class="slokadescription">
        Arjuna, the nature of Rajo guna (mutative force) increases once sensual
        desires, passion and attachments. It binds a soul through attachments and desire
        for fruits of action.
        Power, wealth, fame, sensual enjoyments, aristocratic bend of mind etc. are
        marked by the influence of Rajoguna. The term Raja (king) is related to Rajo guna.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tamas tv ajñāna-jaṁ viddhi<br />
        mohanam sarva-dehinām<br />
        pramādālasya-nidrabhis<br />
        tannibadhnāti bhārata<br />
        [8]<br />
    </div>
    <p class="slokadescription">
        Ignorance is generated from Tamoguna. The soul is deluded mainly by
        sensual enjoyments. The Tamoguna dominated persons think that their body is
        everything and even the atma is the body. Tamoguna induces people to do wrong
        actions. More sleep, eror, idleness etc. are the symptoms of Tamoguna.
        Animal instincts become predominant with the nature of Tamoguna. Most of
        the criminals are dominated by Tamoguna.Tamoguna binds the soul to animal
        instincts and one becomes illcultured. Once a friend told if a man and a woman
        dominatd byTamoguna get married their relationship would be that of a healthy
        cow and a strong bull. They would be animal like.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sattvam sukhe sañjayati<br />
        rajaḥ karmani bhārata<br />
        jñānam āvrtya tu tamaḥ<br />
        pramāde sañjayatyuta<br />
        [9]<br />
    </div>
    <p class="slokadescription">
        O Bharata, Sattvaguna binds a soul to happiness and wellbeing, Rajo guna
        to actions and Tamoguna to wrong actions and idleness.
        These three forces of Prakriti are present in everybody but in varying degree
        of their predominance. These forces are necessary for the existence of everybody.
        A pure mind, right action, good sleep etc. are there in one dominated by the force
        of Sattvaguna. Eagerness to do right action and to strive for real knowledge are
        the qualities of Sattvaguna.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        rajas tamaś cābhibhūya<br />
        sattvaṁ bhavati bhārata<br />
        rajah sattvam tamaścaiva<br />
        tamaḥ sattvaṁ rajas tathā<br />
        [10]<br />
    </div>
    <p class="slokadescription">
        Arjuna, sometimes Sattvaguna dominates Rajoguna and Tamoguna and
        sometimes Rajoguna dominates Sattvaguna and Tamoguna and sometimes
        Tamoguna may dominate Sattva guna and Rajo guna.
        Though these three forces exist in everybody in varying degree of their influence
        by action one can improve the influence of one of these forces i.e. one can cause
        to improve the influence of Sattvaguna or Rajoguna or Tamoguna by appropriate
        actions. The influence, in one person, of these forces goes on changing every now
        and then.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sarva-dvāreṣu dehe 'smin <br />
        prakāśa upajāyate <br />
        jñānam yadā tadā vidyād <br />
        vivṛddhaṁ sattvam ityuta <br />
        [11]<br />
    </div>
    <p class="slokadescription">
        When one’s sensory and motor organs get brightened with light and
        discernment, it is taken for granted that in him there is the dominance of
        Sattvaguna.
        Sattvaguna is characterized by brightness. One can develop the influence
        of Sattva guna by virtuous action and right ideation of the Supreme.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        lobhaḥ pravṛttirārambhaḥ <br />
        karmaṇām aśamaḥ spṛhā <br />
        rajasy etāni jāyante<br />
        vivṛddhe bharatarṣabha<br />
        [12]<br />
    </div>
    <p class="slokadescription">
        When one’s mind is predominated by Rajo guna; craving for wealth and sensual
        desires increase. He will always try for the satisfaction of his strong drives or
        desires.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        aprakāśo'pravṛttis ca<br />
        pramādo moha eva ca<br />
        tamasy etāni jāyante<br />
        vivṛddhe kuru-nandana<br />
        [13]<br />
    </div>
    <p class="slokadescription">
        Arjuna, in whose mind Tamoguna is predominant, ignorance, darkness,
        idleness and the tendency of committing criminal offences are intensified.
        An individual predominant with Tamoguna will not be ready to perform even
        his rightful duties.
        He may raise lame excuses for not performing his duties or actions. Some
        hold that they are not ready to work under anybody, while they may not take
        initiative and show enthusiasm to any work independently. Such people are
        sensuous and wish to be lazy and comfortable at the expense of others.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yadā sattve pravṛddhe tu<br />
        pralayaṁ yāti deha-bhṛt<br />
        tadottama-vidām lokān<br />
        amalān pratipadyate<br />
        [14]<br />
    </div>
    <p class="slokadescription">
        When one person dies while his mind is dominated by Sattvaguna he will
        attain the world of the men of noble deeds, i.e. the heavens (ethereal world).

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        rajasi pralayaṁ gatvā<br />
        karma-sangiṣu jāyate<br />
        tathā pralīnastamasi<br />
        mūḍha-yoniṣu jāyate<br />
        [15]<br />
    </div>
    <p class="slokadescription">
        It is stated that if a person’s mind while leaving his body is predominant with
        Rajoguna; his next birth would be among the men of those busy with actions for
        amassing wealth and power. If one dies while Tamoguna is predominant he would
        take the next birth as a stupid creature such as insect or beast.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        karmaṇaḥ sukṛtasyāhuḥ<br />
        sāttvikaṁ nirmalaṁ phalam<br />
        rajasas tu phalaṁ duḥkham<br />
        ajñānaṁ tamasaḥ phalam<br />
        [16]<br />
    </div>
    <p class="slokadescription">
        The result of Sattvika action is harmless though they are interested in their
        wellbeing. But the result of Rajasika action is strong mental torture and sorrow and
        that of thamasika action is ignorance and darkness.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sattvāt sañjāyate jñānaṁ<br />
        rajaso lobha eva ca<br />
        pramāda-mohau tamaso<br />
        bhavato 'jñānam eva ca<br />
        [17]<br />
    </div>
    <p class="slokadescription">
        From Sattvaguna knowledge, Rajoguna craving and from Tamoguna
        ignorance, wrong action and reduced sensibility of mind will take place.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        ūrdhvaṁ gacchanti sattva-sthā<br />
        madhye tiṣṭhanti rājasāḥ<br />
        jaghanya-guṇa-vṛtti-sthā<br />
        adho gacchanti tāmasāḥ<br />
        [18]
    </div>
    <p class="slokadescription">
        Those who dominated by Sattvaguna move towards the higher planes of
        knowledge but those with Rajoguna predominance stay in the middle, while those
        with Tamoguna predominance go down.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        nānyaṁ guṇebhyaḥ kartāraṁ<br />
        yadā draṣṭānupaśyati<br />
        guṇebhyaś ca paraṁ vetti<br />
        mad-bhāvaṁ so'dhigacchati<br />
        [19]<br />
    </div>
    <p class="slokadescription">
        He who knows that the doer of all actions is Prakriti characterized by three
        forces and knows that the Supreme self is indifferent and beyond the preview of
        Prakriti and also knows that the atma is only a witnessing entity; attains Me.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        guṇān etān atītya trīndehī<br />
        deha-samudbhavān<br />
        janma-mṛtyu-jarā-duḥkhair<br />
        vimukto 'mṛtam aśnute<br />
        [20]<br />
    </div>
    <p class="slokadescription">
        When the soul becomes free from the grip of the three forces of Prakriti it
        also becomes free from birth and death, happiness and sorrow and ultimately
        attains a state of immortality and eternal bliss.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        arjuna uvāca<br /><br />
        kair liṅgaistrīn guṇān etān<br />
        atīto bhavati prabho<br />
        kim ācāraḥ kathaṁ caitāṁs<br />
        trīn guṇān ativartate<br />
        [21]<br />
    </div>
    <p class="slokadescription">
        Arjuna asked: O Lord, what is the status of one beyond gunas? What are
        his rituals? How does he win the influence of the gunas?

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śrī-bhagavān uvāca<br /><br />
        prakāśaṁ ca pravṛttim ca<br />
        moham eva ca pāndava<br />
        na dveṣṭi sampravṛttāni<br />
        na nivṛttāni kāṅkṣati<br />
        [22]<br />
    </div>
    <p class="slokadescription">
        Sri Krisna said: Arjuna, he who does not hate light and activity or long for
        when they are absent; is said to be beyond the influence of three forces of Prakriti
        ; Sattva, Raja and Tama.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        udāsīna-vadāsīno<br />
        gunair yo na vicālyate<br />
        guṇā vartanta ity evaṁ<br />
        yo 'vatiṣṭhati neṅgate <br />
        [23]<br /><br />

        sama-duhkha-sukhaḥ sva-sthaḥ<br />
        sama-loṣṭāśma-kāñcanaḥ<br />
        tulya-priyāpriyo dhīras<br />
        tulya-nindātma-saṁstutiḥ <br />
        [24]<br /><br />
        mānāpamānayos tulyas<br />
        tulyo mitrāri-pakṣayoḥ<br />
        sarvārambha-parityāgī<br />
        gunātītaḥ sa ucyate<br />
        [25]<br />
    </div>
    <p class="slokadescription">
        He who is not disturbed by the influence of the three forces and knows that
        he moves within the gunas and tries to attain the Supreme does not fall from the
        higher state of mind.
        A person who knows that the forces are that of the Prakriti and that the atma
        is beyond the gunas shall not have a down fall.
        He who is established in the Supreme and considers sorrow and happiness
        equally and also for whom soil, stone and gold are alike, who is wise and not
        affected by fame or ignominy and also sees friends and enemies equally and has
        surrendered his doer ship of action to God;is said to be beyond the influence of the
        three gunas.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        māṁ ca yo'vyabhicāreṇa<br />
        bhakti-yogena sevate<br />
        sa guṇān samatītyaitān<br />
        brahma-bhūyāya kalpate<br />
        [26]<br />
    </div>
    <p class="slokadescription">
        He who fixing his mind on Me, worships Me with full devotion is said to have
        overcome the influence of forces of Prakriti.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        brahmaṇo hi pratiṣṭhāham<br />
        amṛtasyāvyayasya ca<br />
        śāśvatasya ca dharmasya<br />
        sukhasyaikāntikasya ca<br />
        [27]<br />
    </div>
    <p class="slokadescription">
        I am the origin and the ground of the imperishable Brahma and the source
        of eternal virtue, immortality and bliss.
</div>