@{
    ViewBag.Title = "The Light of Gita - Chapter XVII";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter XVII</h2>
        <h3 style="color:#0094ff;">Sradhathraya Vibhaga Yoga</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                Sradha refers to one’s belief and faith and ‘thraya’ to the three forces of
                Prakriti. The minds of individuals can be categorized into three on the basis of the
                intensity of the influence of the forces (gunas) of prakriti in them. They are Sattvika,
                Rajasika and Tamasika. If an individual’s mind is dominated by Sattva guna rather
                than Rajo guna and Tamo guna he is said to be Sattvika. Where Rajo guna is
                dominant, he is called Rajasika and Tamasika in whom Tamo guna is the
                dominating force. In every individual these three principles are present in varied
                degrees or intensities i.e. human mind is a composition of these three forces. As a result of the permutation and combination of these three forces the entire world
                appears to be different with infinite nature and existence. In this chapter it is
                discussed as to the influence of operative principles of Prakriti in human beings.
                <br /><br />
                Develop infallible faith in God and lead a life of happiness and peacefulness.
            </p>
        </div>
    </div>
</div>
<div class="slokaWrapper">

    <div class="slokaDiv">
        arjuna uvāca<br />
        ye śāstra-vidhim utsṛjya<br />
        yajante śraddhayanvitāḥ<br />
        teṣāṁ niṣṭha tu kā kṛṣṇa<br />
        sattvam āho rajastamaḥ<br />
        [1]<br />

    </div>
    <p class="slokadescription">
        Arjuna asked: Krisna, some worship the Gods with faith and some others
        with faith but without observing the directions of scriptures. What is their position?
        Whether Sattvika, Rajasika or Tamasika?

    </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            śrī-bhagavān uvāca<br />
            tri-vidhā bhavati sraddhā<br />
            dehināṁ sā svabhāva-jā<br />
            sāttvikī rājasī caiva<br />
            tāmasī ceti tāṁ sṛṇu<br />
            [2]<br />
        </div>
        <p class="slokadescription">
            Sri Krisna said: According to faith and nature of the worshippers, they are
            categorized into Sattvika, Rajasika and Tamasika. You hear from Me.



        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            sattvānurūpā sarvasy<br />
            śraddhā bhavati bhārata<br />
            śraddhā-mayo'yaṁ puruṣo<br />
            yo yac-chraddhaḥ sa eva saḥ<br />
            [3]<br />
        </div>
        <p class="slokadescription">
            Arjuna, faith is formed according to the culture and mental states of
            everyone. Whatever be the nature of his faith, he will be that, invariably.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            yajante sāttvikā devān<br />
            yaksa-rakṣāṁsi rājasāḥ<br />
            pretān bhūta-ganāṁscānye<br />
            yajante tāmasā janāḥ<br />
            [4]<br />
        </div>
        <p class="slokadescription">
            Those with Sattvika mental disposition worship Gods, and those with
            Rajasika mindset worship demons or demi-gods and that the Tamasika worship
            sprits of the dead and the ghosts.
            Men of real knowledge and wisdom say that the character of a person can
            be understood on the basis of the deity he selects for worship. The Sattvika men
            of mental status worship divine symbols. They are the worshippers of divine light
            or consciousness. Sattvika man strives for real knowledge and tries to attain the
            Supreme consciousness. But the Rajasika worship Demi-Gods or demons
            representing power and that they want to gain power, fame, siddhi (extra ordinary
            mental power) and wealth by worshipping symbols representing power. The
            Tamasika worship the spirit of the dead and the gone to attain certain powers of
            inhuman nature. They usually do many wrong deeds and harm the common man.
            They really follow witchcraft. There are some who worship human beings to attain
            some extra ordinary mental powers. It is too Tamasika worship. Such worships prevent spiritual progress. The worships by Sattvika are desirable and are usually
            directed towards the ultimate truth. Not worshipping any God is better than the
            worship of Saktheya( power worship).


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            aśāstra-vihitaṁ ghoraṁ<br />
            tapyante ye tapo janāḥ<br />
            dambhāhaṅkāra-samyuktāḥ<br />
            kāma-rāga-balānvitāḥ<br />
            [5]<br />
        </div>
        <p class="slokadescription">
            Some do severe penance not according to the directions of the scriptures.
            They are under the influence of egotism, ignorance, severe attachment to sensual
            enjoyments and power.
            They really torture the body and soul by practicing severe penance, rituals
            and sacrifices. Egotism, arrogance and greed for wealth and power are their
            characteristic nature. They are mainly concerned with material gains rather than
            attaining the freedom for the tortured soul within. They have found out that by
            worshipping symbols representing power; they can attain certain mental powers,
            wealth and social status. These are the peculiarities of those with Asura
            dispositions.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            karśayantaḥ śarīra-stham<br />
            bhūta-grāmam acetasah<br />
            māṁ caivāntaḥ śarīra-sthaṁ<br />
            tān viddhyāsura-niścayān<br />
            [6]<br />
        </div>
        <p class="slokadescription">
            Remaining in the heart of the human beings as soul, I suffer the pain of
            demoniac actions. With the help of the twenty-three factors representing our body, wrong and
            cruel actions are performed by the people with Asura disposition. The results of
            such actions are suffered by the soul within. These combinations of twenty-three
            factors are responsible for promoting good deeds as well. When the mind is
            directed towards light it becomes divine and when it is directed towards ignorance
            and sin and it is Asura.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            ahārāstvapi sarvasya<br />
            tri-vidho bhavati priyaḥ<br />
            yajñastapastatha dānaṁ<br />
            teṣāṁ bhedamimaṁ śṛṇu<br />
            [7]<br />
        </div>
        <p class="slokadescription">
            Even the food we take can be classified into three relating to the mental
            status of the persons (Sattvika, Rajasika, and Tamasika). Giving of alms, penance
            and sacrifices are also of the three types as above. You hear it from Me.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            āyuh-sattva-balārogya<br />
            sukha-prīti-vivardhanāḥ<br />
            rasyāḥ snigdhāḥ sthirā hṛdyā<br />
            āhārāḥ sāttvika-priyāḥ<br />
            [8]<br />
        </div>
        <p class="slokadescription">
            For Sattvika persons their food habits shall be according to their age, vital
            force, body power, health and comforts, so also for promoting their health; pleasing
            food items like sweets, items combined with ghee etc. are said to be suitable.
            Meat, egg, fish etc.are not included in the food items of Sattvika as they are
            considered Tamasika. For Sattvika men vegetarian food is preferable. But most of
            the people take too much non-vegetarian food items for improving their health.
            They are the least worried of the purity of their minds and are mainly concerned with the taste attributed to the non-vegetarian food. ‘Ahimsa paramodharma’,
            means non-violence is the ultimate moral obligation. Killing or promoting to kill
            animals, birds etc. comes under violence.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            kaṭv-amla-lavaṇātyuṣṇa<br />
            tīkṣṇa-rūksa-vidāhinaḥ<br />
            āhārā rājasasyeṣṭā<br />
            duḥkha-śokāmaya-pradāḥ<br />
            [9]<br />
        </div>
        <p class="slokadescription">
            Bitter, acid, salty, too hot, pungent (strong odor), dry and burning food are
            liked by Rajasika men. These items cause to illness and sorrow.
            In short Sattvika types of people are very rare and than those with Rajasika
            and Tamasika nature. If it is so, most of our representatives are Rajasika or
            Tamasika types. Therefore, there would not be any shortage of problems. We shall
            not expect much from them.
            It is interesting to note that once a chief representative of the people’s party
            told that he had consumed more number of chicken than any fox ever did.We can
            hope that he has not become a fox.
            Our civil rules must be made very strict and practically useful as in the case
            of developed nations to efficiently control the people with Rajasika and Tamasika
            nature.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            yāta-yāmaṁ gata-rasaṁ<br />
            pūti paryuṣitaṁ ca yat<br />
            ucchiṣṭam api cāmedhyaṁ<br />
            bhojanaṁ tāmasa-priyam<br />
            [10]<br />
        </div>
        <p class="slokadescription">
            People with Tamasika bent of mind prefer to half cooked, half ripe, stale,
            insipid (flavourless), rotten and polluted food. They prefer to those food items
            prepared even before a night. However there is no one purely Tamasika or Rajasika.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            aphalākāṅkṣibhir yajño<br />
            vidhi-dṛṣṭo ya ijyate<br />
            yaṣṭavyameveti manaḥ<br />
            samādhāya sa sāttvikaḥ<br />
            [11]<br />
        </div>
        <p class="slokadescription">
            One performing any sacrifice properly with purity of mind is said to be
            Sattvika. Most of the sacrifices of Sattvika are carried out with a view to purifying
            one’s mind. Such sacrifices are for the welfare of others as well.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            abhisandhāya tu phalaṁ<br />
            dambhārtham api caiva yat<br />
            ijyate bharata-śreṣṭha<br />
            taṁ yajñaṁ viddhi rājasam<br />
            [12]<br />
        </div>
        <p class="slokadescription">
            Arjuna, where one performs sacrifices (yajna) for a particular result or to
            show others that he is one doing such actions; is said to be Rajasika.
            Sacrifice also means giving up the benefits to others. Where a person
            performs sacrifice for the welfare of others it becomes Sattvika and desirable. We
            see today many sacrifices are merely physical and pseudo spiritual displays.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            vidhi-hīnam asṛṣṭannaṁ<br />
            mantra-hīnam adakṣiṇam<br />
            śraddhā-virahitaṁ yajñaṁ<br />
            tāmasaṁ paricakṣate<br />
            [13]<br />
        </div>
        <p class="slokadescription">
            Sacrifices being done not following the scriptural directions, not serving food
            or alms to the deserved, not paying sacrificial fees or not properly chanting scared
            words and done carelessly are said to be Tamasika. Many of our sacrifices have become Tamasika because they are diverted
            from the divine path and goal. Therefore they are of no use, if not harmful. Money,
            time and materials used for such sacrifices may become waste, if the sacrifices
            are not done as prescribed in the scriptures. There is compulsory collection of
            money to conduct sacrifices and to provide food to the general public. Usually
            many receiving food from such sacrifices are rich and the affluent. It is sinful to
            provide food as alms to the rich, by collecting money from the poor.
            It is like enthusiasm shown in declaring aids and rewards generously to
            someone in the public, by the government and the ministers from the public
            exchequer.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            deva-dvija-guru-prājñapūjanaṁ<br />
            śaucam ārjavam<br />
            brahmacaryam ahiṁsā ca<br />
            śārīraṁ tapa ucyate<br />
            [14]<br />

        </div>
        <p class="slokadescription">
            Worshipping of Gods and respecting Brahmins, man of wisdom etc. are said
            to be penance of physical nature. So are the purity of body, mind, Brahmacharya,
            non-violence etc being considered as penance performed physically.
            The difference between God and Gods needs to be clearly understood. God
            refers to the Supreme consciousness or the Supreme Self. Gods refer to the
            symbolic forms such as Varuna (God of water), Vayu (God of air), Agni deva (the
            God of fire), Indra (God of senses), Subrahmanya (the God of justice and war),
            Dharmasasta (The God of justice) etc. and also various Goddesses like
            Saraswathy, Lakshmi, Durga etc. with definite conceptual meanings and purposes.
            Most of the above symbols of deities represent divine power. It is to be noted that
            these symbols are mental creations with definite ideational meanings. The people
            usually worship Gods for purposes other than attaining liberation. Right worship
            is the one only to attain the Supreme consciousness. Worshipping of other Gods of divine forms may act as a basis to worship the
            Supreme self for liberation.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            anudvega-karaṁ vākyaṁ<br />
            satyaṁ priya-hitaṁ ca yat<br />
            svādhyāyābhyasanaṁ caiva<br />
            vāṅ-mayaṁ tapa ucyate<br />
            [15]<br />

        </div>
        <p class="slokadescription">
            Penance of words refers to one not creating discomfort to others by the use
            of harsh words or telling some truth not bringing ill will and also the study of Vedas,
            Sastras and practice of repeating His divine names.
            Whatever we hear now a days in media discussions are not penance of
            words but encounters of people, with egoistic disposition and arrogance. The
            divine purpose of the use of words is defeated. Words are the gifts of the Supreme.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            manaḥ-prasādaḥ saumyatvaṁ<br />
            maunam ātma-vinigrahaḥ<br />
            bhāva-samśuddhirityetat<br />
            tapo mānasamucyate<br />
            [16]<br />

        </div>
        <p class="slokadescription">
            Happiness, gentleness, ideational purity, control of mind, purity of mind etc.
            are said to be the penance with mind.
            At present we lack humbleness, love and keeping of silence, wherever
            necessary.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            śraddhayā parayā taptaṁ<br />
            tapas tat tri-vidhaṁ naraiḥ<br />
            aphalākāṅkṣibhiryuktaiḥ<br />
            sāttvikaṁ paricakṣate<br />
            [17]<br />

        </div>
        <p class="slokadescription">
            It is said that penances being performed with body, mind and words; as
            stated above with purity of mind and purpose, without desire for fruits of action; are
            Sattvika.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            satkāra-māna-pūjārtham<br />
            tapo dambhena caiva yat<br />
            kriyate tadiha proktaṁ<br />
            rājasaṁ calamadhruvam<br />
            [18]<br />

        </div>
        <p class="slokadescription">
            Those penance to attract the respect of others with selfish motives and
            without due commitment and sincerity are said to be Rajasika.
        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            mūḍha-grāheṇātmano yat<br />
            pīḍayā kriyate tapaḥ<br />
            parasyotsādanārthaṁ vā<br />
            tat tamasam udahrtam<br />
            [19]<br />
        </div>
        <p class="slokadescription">

            Those austerities performed by the unwise for the sake of selfish motives
            even by torturing their bodies or for the ruin of others are said to be Tamasika.
            Black magic (Witchery), terrorism, conspiracy etc. are Tamasika actions.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            dātavyam iti yad dānaṁ<br />
            dīyate'nupakārine<br />
            deśe kāle ca pātre ca<br />
            taddānaṁ sāttvikaṁ smṛtam<br />
            [20]<br />

        </div>
        <p class="slokadescription">
            Wise men view that alms given to one, considering the right time and place
            to the right person on the basis of the eligibility of the person receiving it; is said to
            be Sattvika.
        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            yat tu pratyupakārārthaṁ<br />
            phalamuddiśya vā punaḥ<br />
            dīyate ca parikliṣṭaṁ<br />
            taddānam rājasaṁ smṛtam<br />
            [21]<br />
        </div>
        <p class="slokadescription">


            Helps given for getting something in return and done with mental tension are
            said to be Rajasika.
            When we help others it must be done with our full satisfaction. At present
            alms giving has become a claim of the recipient. Forceful collection of funds in the
            name of charity or any other public purpose has become an order of the day. There
            are some professionally experienced persons engaged in the collection of money
            in the name of political and some other organizational purposes. It is wittingly
            reported that when an expert, in collecting money from the public, died there were
            some money and the counter foils of the receipt book, in the pocket of his
            underwear. A gentleman remarked that such persons will continue, their profession
            even after their death, in the other world.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            adeśakāle yaddānam<br />
            apātrebhyaś ca dīyate<br />
            asat-kṛtam avajñātaṁ<br />
            tattāmasamudāhṛtam<br />
            [22]<br />

        </div>
        <p class="slokadescription">
            Alms given to non-deserving persons without considering; time, place and
            eligibility of the person and with hatred are Tamasika.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            om tat sad iti nirdeśo<br />
            brahmaṇastri-vidhaḥ smṛtaḥ<br />
            brāhmanāstena vedāśca<br />
            yajñāsca vihitāḥ purā<br />
            [23]<br />


        </div>
        <p class="slokadescription">
            Om, Tat & Sat’ refer to the truth, knowledge and peace. It is said that Vedas
            and Bramanas are created with the spirit of these syllables, at the time of cosmic
            dawn.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            tasmād oṁ ityudāhṛtya<br />
            yajña-dāna-tapaḥ-kriyāḥ<br />
            pravartante vidhānoktāḥ<br />
            satataṁ brahma-vādinām<br />
            [24]<br />
        </div>
        <p class="slokadescription">
            Therefore the priests while performing sacrifices, alms giving and penance
            are being done chanting ‘Om’ taking the true meaning of it.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            tad ity anabhisandhāya<br />
            phalaṁ yajña-tapaḥ-kriyāḥ<br />
            dāna-kriyāśca vividhāḥ<br />
            kriyante mokṣa-kaṅkṣibhiḥ<br /> [25]<br /><br />
            sadbhāve sādhubhāve ca<br />
            sad ity etat prayujyate<br />
            praśaste karmani tathā<br />
            sacchabdaḥ pārtha yujyate<br /> [26]<br />
        </div>
        <p class="slokadescription">

            ‘Tat’ means God that everything is done in the ideation of the Supreme.
            When yajna, penance and alms giving are done with the true ideation of ‘Om’, one
            does not desire anything than peacefulness or real knowledge.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            yajñe tapasi dāne ca<br />
            sthitiḥ sad iti cocyate<br />
            karma caiva tadarthīyaṁ<br />
            sad ity evābhidhīyate<br />
            [27]<br />
        </div>
        <p class="slokadescription">
            In the performance of sacrifices ‘Sat’ is used to mean stability, alms giving
            and penance. It is also used as a word for the Divine consciousness.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            aśraddhayā hutaṁ dattaṁ<br />
            tapastaptaṁ kṛtaṁ ca yat<br />
            asad ity ucyate pārtha<br />
            na ca tat pretya no iha<br />
            [28]<br />
        </div>
        <p class="slokadescription">
            Where sacrifices, alms giving, penance and other actions are performed
            carelessly, they are called Asad (negative or naught). Such actions have no
            relevance in this world or the world here after.
            All actions shall be performed according to the instructions of the scriptures
            and with purity of the mind. The aim of true education is to refine one’s mind. There
            are many educated persons expressing their social status arrogantly like
            professors, doctors, administrators, engineers, scientists, ministers, political
            leaders etc. But they are of no real use to themselves or to the society and that
            they are really torturing their souls with negative actions and bondages.
        </p>
    </div>
