@{
    ViewBag.Title = "The Light of Gita - Chapter III";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter III</h2>
        <h3 style="color:#0094ff;">Karma Yoga</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                The important methods of yoga are Karma yoga and Jnana yoga, though there are other ways such as Bhakti yoga(Yoga of devotion), Samnyasa yoga(yoga of total surrender), Karma Samnyasa yoga etc.
            </p>
            <p class="slokadescription">
                We know that all the developments of human society are based on karma(action). Even our life on earth is to do action.It is stated that the ultimate aim of our birth is to attain God, after shaking off all bondages, being attributed to our karma. Karmapasa is the bondage preventing us from realizing God and uniting with Him. Owing to delusion and attraction to the material world around, one often forgets his ultimate aim and easily falls from the goals, being bound by Karmapasa (The bondage of action). One must perform right action of purifying his mind, for getting relieved from the evils within. To remove the impurities from one’s mind, it calls for shedding of arrogance, selfishness and imbibing the good qualities like love, affection, sympathy, kindness, hard work etc. Arrogance is the most unwelcome state of our mind calling for urgent concern and refinement. Only by refining one’s self one can do right actions properly and to go ahead in the path of the realization of the Supreme. Right action purifies one’s mind and the purified mind helps him to progress in the right direction. Karma yoga stands for doing right actions, always taking the ideation (Bhava) of the Supreme.
            </p>
            <p class="slokadescription">
                Do every action with the true ideation of the Supreme and escape from the bondages of your actions.
            </p>
        </div>
    </div>
</div>
<div class="slokaWrapper">
    <div class="slokaDiv">
        arjuna uvāca<br />

        jyāyasī cetkarmanaste<br /> matā buddhir janārdana<br /> tat kim karmani ghore māṁ<br /> niyojayasi keśava<br />
        [1]<br />

    </div>
    <p class="slokadescription">
        Arjuna asked: Krisna, if the path of knowledge is superior to the path of action, why do you urge me to do the dreadful act of war?  It seems a very relevant question. War is really dreadful. Many human beings and animals are killed in the battle. But if a man follows the path of right
        knowledge, he need not kill anybody. However, at times, war becomes unavoidable.
    </p>
    <br />

    <div class="slokaDiv">
        vyāmiśreṇeva vākyena<br /> buddhim mohayasīva me<br /> tad ekam vada niścitya<br /> yena śreyo'hamāpnuyam<br />[2]<br />
    </div>
    <p class="slokadescription">
        Arjuna said to Krisna, You, by your words puzzled me and I am in a confused state. Therefore Krisna, tell me clearly and definitely what is the right and better way by which I can attain the highest good. Arjuna seems not interested to fight when he is in the battle field. A brilliant warrior like Arjuna has become a coward and is putting forward some lame excuses for not to fight. Once the armies have signalled for the war, it should begin. Nobody can run away from the battle field, normally.
    </p>
    <br />
    <div class="slokaDiv">
        sri-bhagavan uvāca<br />

        loke'smin dvi-vidhā niṣṭha<br />  purā proktā mayānagha<br />  jñānayogena sāṅkhyānāṁ<br />  karma-yogena yoginām<br /> [3]<br />
    </div>
    <p class="slokadescription">
        Sri Krisna said: Arjuna, I have already stated earlier that there are two types of yoga. Sankhyas adopt the path of knowledge and some select the path of right action (Karma yoga).   To attain God by right knowledge one can follow Jnana yoga (way of right knowledge).  As one acquires more and more right knowledge he comes nearer to God. A Karma yogi engaged in right actions shall also attains the Supreme consciousness.

        Whether one follows Sankhya yoga or Karama yoga it is immaterial but the merger of the self with the Supreme is that counted.
    </p>
    <br />
    <div class="slokaDiv">
        na karmaṇāmanārambhān<br />  naiṣkarmyam puruṣo'śnute<br />  na ca sannyasanādeva<br />  siddhim samadhigacchati<br /> [4]<br />
    </div>
    <p class="slokadescription">
        No one can get freedom from the bondage of Karma (action) without commencing action or attain perfection by ceasing to perform his duty either. Perfection refers to the complete purity of mind. Purification or refinement of one’s mind is not possible simply by starting the right action or by stopping it. All actions have to be performed with purity of mind. No one shall escape from performing his duties.
    </p>
    <br />
    <div class="slokaDiv">

        na hi kaścitkṣanamapi<br /> jātu tiṣthatyakarmakrt<br /> kāryate hyavaśah karma<br /> sarvah prakṛti-jair guṇaiḥ<br /> [5]<br />

    </div>
    <p class="slokadescription">
        No person can remain without doing any action even for a while. The operative principles of Prakriti; Sattva, Rajo and Tamo gunas or forces active in one’s mind, induce him to perform some action.  Human mind is a combination of the forces of Sattva, Rajo and Tama gunas. Sattva guna stands for the purity of mind, Rajo guna, the inherent cause of power and Tamoguna to generate mean thoughts like animal instincts.  Since, in human beings these forces are always active they generate thoughts leading to various actions. All actions are being performed by human beings on the basis of the influence of the subtle forces of Prakriti acting in him.
    </p>
    <br />
    <div class="slokaDiv">
        karmendriyāṇi samyamya<br /> ya āste manasā smaran<br /> indriyārthān vimūḍhātmā<br /> mithyācāraḥ sa ucyate<br /> [6]<br />

    </div>
    <p class="slokadescription">
        One, who controls his sensory organs outwardly and if he thinks of sense objects internally, he is said to be hypocrite. Control of sensory organs is necessary for everyone. Otherwise the sensory organs will seek sensual enjoyments and that the individual will act accordingly.  For a true spiritual aspirant control of senses is more important than others. The sensory organs are our friends and so also enemies. Uncontrolled sensory organs are really enemies whereas controlled senses are friends. It is a part of civility and culture to bring the sensory organs under control. A person without controlled senses would be reduced to the level of animals.
    </p>
    <br />
    <div class="slokaDiv">
        yastvindriyāṇi manasā<br /> niyamyārabhate 'rjuna<br /> karmendriyaiḥ karma-yogam<br /> asaktaḥ sa viśiṣyate<br /> [7]<br />

    </div>
    <p class="slokadescription">
        He who, controls the sensory organs and does his duty without attachment really excels others. A person attached to Karma adds bondages to his soul. At first one should control his sensory organs. All bondages bind the soul and prevent one in realizing the Supreme.  Once the soul is relieved from all bondages, it attains liberation or Ananda. All methods of yoga process are to free the soul from the bondages of the operative principles of Prakriti.
    </p>
    <br />
    <div class="slokaDiv">
        niyatam kuru karma tvam<br /> karma jyāyo hyakarmaṇaḥ<br /> śarīra-yātrāpi ca te<br /> na prasiddhyedakarmaṇaḥ<br /> [8]<br />

    </div>
    <p class="slokadescription">
        You should perform the duty assigned to you, invariably. Doing right action is superior to inaction. You cannot even maintain your body by inaction. The world exists as such due to Karma.Inaction prevents all the developments. Right action should be performed. There are good and vice actions, i.e. right and wrong actions. A spiritual aspirant should select the most appropriate path of action.
    </p>
    <br />
    <div class="slokaDiv">
        yajñārthāt karmano'nyatra<br /> loko'yam karma-bandhanaḥ<br /> tadartham karma kaunteya<br /> muktasaṅgah samācara<br /> [9]<br />

    </div>
    <p class="slokadescription">
        Arjuna, every action brings bondage to one unless being performed for the sake of sacrifice (Yajna). Therefore you should perform your duty in such a way that it would not cause bondage to your soul.    When duty is performed for the welfare of others it becomes a sacrifice, i.e. selfless action.
    </p>
    <br />
    <div class="slokaDiv">
        sahayajñāh prajāh sṛṣṭvā<br /> purovāca prajāpatiḥ<br /> anena prasaviṣyadhvameṣa<br /> vo'stviṣṭakāmaādhuk<br /> [10]<br />

    </div>
    <p class="slokadescription">
        It is said; that Brahma (the creator), in the beginning, having created mankind, advised them that they should prosper by joint sacrifice (Sahayajna). Many joint endeavors bring you to the desirable wellbeing. Sahayajna refers to the joint action, performed for the welfare of all. The spirit of the noble idea of democracy as developed today is joint action. A true yogi is one who finds satisfaction while serving others.
    </p>
    <br />
    <div class="slokaDiv">
        devān bhāvayatānena<br /> te devā bhāvayantu vaḥ<br /> parasparam bhāvayantaḥ<br /> śreyah paramavāpsyatha<br /> [11]<br />

    </div>
    <p class="slokadescription">
        Make happy the Gods by your sacrifices. They shall also make you happy. Where both the Devas (Gods) and yourself become happy, it would lead you to the highest good. In yajna, there is the concept of Gods (Devas). The Supreme taking different forms in the minds of those conducting definite sacrifices are called Devas. The images of Devas formed are different in various sacrifices. In most cases the images of the Gods are related to power. The images of Devas are the condensed form of your intensified ideation or imagination of God. While performing sacrifices or prayers worshipping of the images as God, brings great satisfaction to the worshipper.
    </p>
    <br />
    <div class="slokaDiv">
        iṣṭān bhogān hi vo devā<br /> dāsyante yajñabhāvitāḥ<br /> tair dattān apradāyaibhyo<br /> yo bhuṅkte stena eva saḥ<br /> [12]<br />

    </div>
    <p class="slokadescription">
        When the Gods are satisficed with your sacrifices they would bless you by providing desired enjoyments un-asked. But one enjoying the gift without pleasing the Gods by sacrifices, is a thief. All sacrifices, collective or individual shall be performed for the welfare of all. However most of them are for the material interests of the individuals or groups. Those who enjoy the share or benefits of other’s sacrifices are really thieves. In real life we may come across with many such people. They are very cunning to take the advantage of others work and sacrifices. They are sinners.
    </p>
    <br />
    <div class="slokaDiv">
        yajña-śiṣṭāśinaḥ santo<br /> mucyante sarva-kilbiṣaiḥ<br /> bhuñjate te tvaghaṁ pāpā<br /> ye pacantyātma-kāraṇāt<br /> [13]<br />

    </div>
    <p class="slokadescription">
        They stand absolved of all sins who partake the leftover of the sacrifices. They are sinners who cook food for their own enjoyment and physical nourishments. When one takes food after submitting it to the God he gets immense internal relief and satisfaction. It absolves him from bondages. There is a ritual even today one mentally surrendering the food to God before taking it. We must always remember that the food placed before us is the result of the work of many and the grace of God.  Wasting of food is therefore a sin against others and to the Supreme. It is the secret of receiving prasada, the food after surrendering the same to the deity in temples, that one gets relief from attachment.
    </p>
    <br />
    <div class="slokaDiv">
        annād bhavanti bhūtāni<br />  parjanyādanna-sambhavaḥ<br />  yajñād bhavati parjanyo<br />  yajñah karma-samudbhavaḥ<br /> [14]<br />

    </div>
    <p class="slokadescription">
        All beings come into existence from food. Production of food depends upon the rainfall. Rainfall is based on the sacrifices and that the sacrifices are rooted in right action.   For the existence of all living beings on the earth food is essential. Without plants we cannot live. There is a saying that unless we do right actions for others’ welfare there would not be any rainfall at all. People do sacrifices (yajna) when there are in miseries caused by droughts, floods and other mishaps.
    </p>
    <br />
    <div class="slokaDiv">
        karma brahmodbhavam viddhi<br /> brahmākṣara-samudbhavam<br /> tasmāt sarva-gataṁ brahma<br /> nityam yajñe pratiṣṭhitam<br /> [15]<br />

    </div>
    <p class="slokadescription">
        The prescribed actions are rooted in Vedas; Vedas (divine scriptures) are originated form the indestructible God. Therefore the all-pervading God is present in all sacrifices, duly performed.  When actions become sacrifice without selfish motive, presence of the Divine is felt.
    </p>
    <br />
    <div class="slokaDiv">
        evam pravartitam cakram<br /> nānuvartayatīha yah<br /> aghāyur indriyārāmo<br /> mogham pārtha sa jīvati<br /> [16]<br />

    </div>
    <p class="slokadescription">
        Arjuna, he who does not follow the principles of the wheel of creation and does not do his duties is considered a sinner, sensual and his life on this earth is meaningless and has no use to anybody.

        Those who live for their own enjoyments do not make any sacrifices. They are not even inclined to do their own duties properly. They are sinners and do every action for their sensual enjoyments and also create problems for others. Unfortunately many people whom we come across are of this category.
    </p>
    <br />
    <div class="slokaDiv">
        yastvātma-ratireva syad<br /> ātma-trptaśca mānavaḥ<br /> ātmanyeva ca santuṣṭastasya<br /> kāryam na vidyate <br />[17]<br />

    </div>
    <p class="slokadescription">
        He who rejoices in his own self and is satisfied and happy having purified his mind has no other moral duties to be performed. One has to refine his mind very much so as to find delight in himself (soul). A clear and pure mind makes one happy and contented.
    </p>
    <br />
    <div class="slokaDiv">
        naiva tasya kṛtenārtho<br /> nākṛteneha kaścana na<br /> cāsya sarva-bhūteṣu<br /> kaścid artha-vyapāśrayah<br /> [18]<br />

    </div>
    <p class="slokadescription">
        A person rejoicing in his own atma and is happy and contented; has no special purpose served by performing an act or not. He has no attachment to anything and has no bondage.  All bondages are painful to the soul. Even when one is bound by golden chains it is bondage and a pain to the soul. Our soul should become totally free and it is the ultimate aim of every human being. For a person who is not bound by any action, no action remains to be performed.
    </p>
    <br />
    <div class="slokaDiv">
        tasmād asaktah satataṁ<br /> karyam karma samācara <br />asakto hyācaran karma<br /> paramāpnoti pūrusaḥ<br /> [19]<br />

    </div>
    <p class="slokadescription">
        One should perform all his moral obligations well without attachments. Doing one’s duty efficiently without attachment would help him to attain the Divine, the Supreme. A person doing his duty without attachment attains the state of equanimity. If a person works surrendering unto God, no doubt, he will attain the Supreme. This is the secret of Karma yoga. That is, work is worship to God. Many see that Karma yoga is more suitable to them. Mental purification is the objective.
    </p>
    <br />
    <div class="slokaDiv">
        karmaṇaiva hi samsiddhim<br /> āsthitā janakādayah<br /> loka-sangrahamevāpi<br /> sampaśyan kartumarhasi<br /> [20]<br />

    </div>
    <p class="slokadescription">
        The great seers like Janaka and such others attained the Supreme state, performing right action taking the ideation of the Divine, always within. Therefore, Arjuna, you too perform your moral duty in the best interest of others. Janaka was a king and a great Karma yogi. A person enjoying sensual pleasures need not be attached or bound. It depends upon his inner attitude. For great souls it makes no difference in enjoying sensual pleasures or not. Internally they are unattached. Doing any action taking the ideation of the Divine makes one unattached and leads him to the Supreme. Escape from attachment and bondages through the secret of Karma yoga, surrendering unto God.
    </p>
    <br />
    <div class="slokaDiv">
        yad yad ācarati śreṣṭhas-<br /> tat tad evetaro janaḥ<br /> sa yat pramānam kurute<br /> lokastad anuvartate<br /> [21]<br />

    </div>
    <p class="slokadescription">
        Common people follow whatever the great men do. Usually people regard the standard of action set forth by the wise and the great and they adopt the same in their lives.
    </p>
    <br />
    <div class="slokaDiv">
        na me pārthāsti kartavyaṁ<br /> triṣu lokeṣu kiñcana<br /> nānavāptam avāptavyaṁ<br /> varta eva ca karmaṇi<br /> [22]<br /><br />



        yadi hyaham na varteyaṁ<br /> jātu karmany atandritaḥ<br /> mama vartmānuvartante<br /> manuṣyah pārtha sarvaśaḥ<br /> [23]<br />


    </div>
    <p class="slokadescription">
        Partha, I have nothing to do in the three worlds and nothing is attainable to me but still I continuously perform actions.   For Paramatma (God) no action needs be performed. Everything takes place with in Him. But if God does not do any action the world would not exist.       Therefore everybody should perform right action invariably even for the interest of others. Those who do not perform their moral obligations are sinners. Where one taking the ideation of the supreme, does any action, he will not be tainted by the bondage of attachment. By right action one’s mind gets purified. A purified mind would be peaceful.
    </p>
    <br />
    <div class="slokaDiv">
        utsīdeyur ime lokā<br /> na kuryām karma cedaham <br />sankarasya ca kartā syām<br /> upahanyāmimāh prajāh<br /> [24]<br />

    </div>
    <p class="slokadescription">
        If I do not to act the world will perish. It may prove to be instrumental to great confusion and to the destruction of all. Sri Krisna, the great Guru rises himself to the level of the Supreme and reveals us as above. Even a great yogi or Guru may have such state of realization at times.
    </p>
    <br />
    <div class="slokaDiv">
        saktāh karmaṇyavidvāmso<br /> yathā kurvanti bhārata<br /> kuryādvidvāms tathasaktaś-<br /> cikīrsurloka-saṅgraham<br /> [25]<br />

    </div>
    <p class="slokadescription">
        Arjuna, when the unwise do their actions with severe attachments, the men of great wisdom do every act without attachment and for the welfare of others.  The unwise do their actions with less confidence and with strong attachment. Attachment brings internal bondages which in turn loses the soul’s freedom. The wise man realizes the truth and does his duties without attachment. Performing right action without attachment is Karmayoga.
    </p>
    <br />
    <div class="slokaDiv">
        na buddhi-bhedam janayed<br /> ajñānām karma-sangināṁ<br /> josayet sarva-karmāni<br /> vidvān yuktah samācaran<br /> [26]<br />

    </div>
    <p class="slokadescription">

        The wise should be very careful not to make severe confusion, of on a sudden, in the unwise performing their actions with attachment. However they can, slowly and in good spirit, be persuaded to do their duties properly and rightly. If the faith of the unwise is broken suddenly, it may lead to their mental disorder and severe discomforts. When a faith is lost we must be able to substitute it with another suitable one. Even blind faith shall give comforts to the people to a certain extent.
    </p>
    <br />
    <div class="slokaDiv">
        prakrteh kriyamāṇāni<br /> gunaih karmani sarvasaḥ<br /> ahankāra-vimūdhātmā <br />kartāham iti manyate<br />[27]<br />

    </div>
    <p class="slokadescription">
        All actions are being performed according to the extent and intensity of the influence of the operative principles of Prakriti acting in everybody. But an egoistic and foolish man thinks that he is the real cause and the doer of actions. In everybody actions are performed according to the influence of the combination of Sattva, Rajo and Tamogunas. An individual can be classified into three according to the predominance and combination of these forces. A civilized man with purity of mind is ‘Sattvika’. Those with arrogance and who long for sensual enjoyment and power are ‘Rajasika’. A person with animal instincts dominated is ‘Tamasika’.
    </p>
    <br />
    <div class="slokaDiv">

        tattvavittu mahā-bāho<br /> guṇa-karma-vibhāgayoḥ<br /> gunā guṇeṣu vartanta<br /> iti matvā na sajjate<br /> [28]<br />

    </div>
    <p class="slokadescription">

        But the wise men knowing the nature and influence of these forces of Prakriti, remain unattached to the result of actions.

        The wise, do all actions without attachment and without desire for the fruits of action and escape from Karmapasa (bondage of action). There are only a very few who know the secret. It is the forces of Prakriti acting in us categorises the human beings into three classes.
    </p>
    <br />
    <div class="slokaDiv">
        prakṛter guṇa-sammūdhāḥ<br /> sajjante guṇa-karmasu<br /> tānakrtsna-vido mandān<br /> kṛtsna-vin na vicālayet<br /> [29]<br />
    </div>
    <p class="slokadescription">
        Those who do not know the influences of Prakriti in them add bondage by every action. It is unwise to rectify them of on a sudden. They are the slaves of the forces of Prakriti. They do not want to be free from their present state.   There are people who think that mind and soul are the same. They are more egoistic in nature. They have no earnest desire to know the truth even, and are adamant in their views. It is very difficult to convince them and to direct them to the right path. Perhaps they may take many births and deaths to become ready to accept the spiritual aspect of their life.
    </p>
    <br />
    <div class="slokaDiv">
        mayi sarvāni karmāni<br /> sannyasyādhyātma-cetasā<br /> nirāśīr nirmamo bhūtvā<br /> yudhyasva vigata-jvarah<br />[30]<br />
    </div>
    <p class="slokadescription">
        Therefore, Arjuna, dedicating everything on Me, without the feeling of ownership and desire and shunning your mental fever, get ready to fight the determined war.

        Krisna asked Arjuna to surrender everything to Him; Karma and Karmapasa and to perform all actions free from bondage. In short the feeling of ‘I’ generates bondages. It is a deep psychological truth too.
    </p>
    <br />
    <div class="slokaDiv">
        ye me matamidam nityam<br /> anutiṣṭhanti mānavāḥ<br /> śraddhāvanto'nasūyanto<br /> mucyante te'pi karmabhiḥ<br />[31]<br />
    </div>
    <p class="slokadescription">
        If anyone, carefully and without jealousy and with utmost faith follows Me, shall not be affected by the attachment of the bondages of any action.   Karma yoga stands for the union of the self with the Supreme by performing right action with true ideation of God. It calls for doing actions surrendering the mind of the doer to God. Then the feeling of doership disappears from the doer of Karma. Gradually one develops a feeling that God does everything, instead of ‘I’ and ‘My’ feelings.
    </p>
    <br />
    <div class="slokaDiv">
        ye tvetad abhyasūyanto<br /> nānutiṣṭhanti me matam<br /> sarva-jñāna-vimūdhāmstān<br /> viddhi naṣṭān acetasaḥ<br />[32]<br />
    </div>
    <p class="slokadescription">
        But those who do not obey and follow My advice due to jealousy and ignorance are fools deluded by the veil of maya and are lost. Normally, there are only very few who admit good advices. Many look upon great ideas with doubt and conceit. They look not into the merit of the idea but the person who tells it. They express very strongly, in the negative, against the good at first and later they may admit it internally. But they admit wrong and negative advices easily. We can see any number of such people at our home and elsewhere. They are not able to do anything positive and are problem creators. Better to keep silence and avoid them from discussions.      Negativity in man is natural and the positivity is cultural.
    </p>
    <br />

    <div class="slokaDiv">
        sadṛśam ceṣṭate svasyāh<br /> prakṛter jñānavān api<br /> prakṛtim yānti bhūtāni<br /> nigrahaḥ kim kariṣyati<br /> [33]<br />
    </div>
    <p class="slokadescription">
        All beings act according to the forces of Prakriti in them. Even the wise men act according to the innate nature of his personality. So what is the use for any external restraints? All act according to their mental makeup as expressed by the intensity and influence of the gunas, the operative principles of Prakriti. The character and conduct of one are mainly depended upon the interactions of the principles of Sattva, Rajo, Tamo gunas of Prakriti. The intensity of Rajo and Tamo gunas can be decreased or Sattva gunas can be increased by yoga of vidya. By the practice of yoga the minds of those, not even civilized, can be positively upgraded. A person shall not be considered as refined by his physical appearance only. Internal purity is more important. Some people consider the external beauty alone and discard the internal purity and culture.  Generally a boy, wishing to marry a fair and beautiful girl and who has not considered her inner qualities like humbleness, love and affection, consideration for others, hardworking nature etc.,  would certainly realise his mistake later.
    </p>
    <br />
    <div class="slokaDiv">
        indriyasyendriyasyārthe<br /> rāga-dvesau vyavasthitau<br /> tayor na vaśamāgacchettau<br /> hyasya paripanthinau<br /> [34]<br />
    </div>
    <p class="slokadescription">
        As attraction and repulsion are related to sense objects wise man shall not become slave of his senses. Attraction and hatred are man’s enemies.   Raga, refers to sensual love or attraction. A common man is usually a slave of raga and hatred. He may be faced with many a problem, but he may not realize the cause of the problem due to the impurity and lack of refinement of his mind. Even an uncivilized man’s smile or laughter is enough to create problems. Once during a Rail journey, a lady member of a spiritual organization, talked about her organization to a handsome young traveller. The young man laughed, again and again. The lady became very angry, overcome by shivering. Again the young man laughed. It became a great problem to her. This shows that even in laughter the inherent internal nature of the young man was present. He was not refined and was Rajasika by nature.
    </p>
    <br />
    <div class="slokaDiv">
        śreyān sva-dharmo vigunah<br /> para-dharmāt svanuṣṭhitat<br /> sva-dharme nidhanam śreyah<br /> para-dharmo bhayāvahaḥ<br /> [35]<br />
    </div>
    <p class="slokadescription">
        Everybody should perform his duty even though not very efficiently. But if he does other’s duty well it is of no relevance. One should realise his moral obligation and perform his duty. One doing others duty without performing his own duty is like committing suicide and is also fear generating. There are, some interested in doing other’s duty neglecting their own. One should essentially identify his own duty and perform it at first. Some are, not good at home in performing their duties but are very much interested in doing others duty elsewhere. Everybody must perform his duty well. Doing others duty without doing own duty is only a show and that he is a sinner.
    </p>
    <br />
    <div class="slokaDiv">
        arjuna uvāca<br /> atha kena prayukto 'yaṁ<br /> pāpam carati pūruṣaḥ<br /> anicchann api vārṣṇeya<br /> balādiva niyojitaḥ<br /> [36]<br />
    </div>
    <p class="slokadescription">
        Arjuna asked: Krisna, though I am not interested why I am compelled by force to do the sin of fighting the war? It was an indirect insult on Sri Krisna as if he was responsible for the war. The war was between the Pandavas and Kauravas. Sri Krisna, in no way, was responsible for the war. It is shifting of one’s moral duty to others. In the daily life we come across such people trying to shift their moral obligation to someone else to escape themselves from the consequences. Such acts are devilish.  Be careful of those shifting their responsibility or burden on you.
    </p>
    <br />
    <div class="slokaDiv">
        sri-bhagavān uvāaca<br />

        kāma eṣa krodha eṣa<br /> rajo-guna-samudbhavaḥ<br /> mahāśano mahā-pāpmā<br /> viddhy enam iha vairiṇam<br />[37]<br />
    </div>
    <p class="slokadescription">
        A strong desire caused by Rajo guna, may cause one to commit sins. Desires and anger are the main enemies of man.    In an individual where Rajo guna is predominant, desires and anger will be generated. Where desires could not be satisfied it will result automatically to anger. Even from a gentle man, unrefined words would come out, like that of a barbarian. The unconscious mind of an individual is the seat of animal instincts. When one is angry he is under the direct influence of his unconscious. Many become criminals and commits anti-social activities due to the unrefined animal instincts within them. By practicing yoga one can control his instinctual expressions to a great extent and can become civilized and cultured.
    </p>
    <br />
    <div class="slokaDiv">
        dhūmenāvriyate vahnir<br /> yathādarśo malena ca<br /> yatholbenāvṛto garbhas-<br /> tathā tenedamāvrtam<br /> [38]<br />
    </div>
    <p class="slokadescription">
        Like the flame of a fire is covered by smoke, a mirror by dirt and an embryo of a baby by amnion, real knowledge is veiled by desires (Kama). We know that where there is smoke, there is fire. Dirt covered mirror shall not show the clear image of an object. A baby in the womb is covered by amnion. There should be proper effort of cleaning, and by refining one’s mind to know the Supreme.
    </p>
    <br />
    <div class="slokaDiv">
        āvṛtam jñānametena<br /> jñānino nitya-vairiṇa<br /> kāma-rūpena kaunteya<br /> duṣpūreṇānalena ca<br /> [39]<br />
    </div>
    <p class="slokadescription">
        Krsina said: Arjuna, desires are like insatiable fires. Desires are the enemies of man. Knowledge (Jnana) is veiled by the desires. Unsatisfied desires have made human being the slave to his mind.  Desires follow the human beings, from birth to death and there after. Lord Buddha had said ‘Desire is a cause of misery’. We should try whether we can minimize our desires. By eliminating desires from one’s mind he can attain liberation. Desires actually torture the human soul.
    </p>
    <br />

    <div class="slokaDiv">
        indriyāni mano buddhira-<br /> syādhiṣṭhānamucyate<br /> etair vimohayatyeṣa<br /> jñānamāvrtya dehinam<br />[40]<br />
    </div>
    <p class="slokadescription">

        The Senses, the intellect and the mind are the seat of desires. They act as a veil to the real knowledge and influence pressure on an individual in the form of delusion. The Senses, the intellect and the mind together try to satisfy the desires. The desires cause one, even to commit criminal offences. Refinement of mind is essential to live in a society peacefully and happily. Without mental purification by suitable yoga practices realization of God is not possible.
    </p>
    <br />
    <div class="slokaDiv">
        tasmāttvam indriyāṇyādau<br /> niyamya bharatarṣabha<br /> pāpmānaṁ prajahi hyenaṁ<br /> jñāna-vijñāna-nāśanam<br /> [41]<br />
    </div>
    <p class="slokadescription">
        Therefore, Arjuna, you shall control your senses and instincts that prevent the real knowledge.  Control of one’s senses is highly essential or otherwise the mind and the body will move in the direction of sense objects. Organs are classified into two; sensory organs and motor organs. Eyes, nose, ears, tongue and skin are sensory organs. Hands, legs, mouth, reproductory organs and excretory organ constitute one’s motor organs. Sensory organs are said to be gate way of knowledge; through which knowledge enters into one’s mind. Motor organs are the executory organs to assist the sense organs. Uncontrolled sensory and motor organs cause bondages and pain to the soul.
    </p>
    <br />
    <div class="slokaDiv">
        indriyāni parāṇyāhur-<br /> indriyebhyah paraṁ manaḥ<br />
        manasas tu parā buddhir-<br /> yo buddheḥ paratastu saḥ <br />  [42]<br />
    </div>
    <p class="slokadescription">
        The Senses are superior to body, the mind is superior to the senses, the intellect is superior to the mind and the soul is superior to the intellect. This shows the progress from static state to the subtle. Atma is the most subtle entity in us. To understand the atma one should refine his mind and make it more subtle. The Sattva guna is said to be more subtle than other forces of Prakriti. Therefore he whose mind is predominant with Sattva guna can realize the atma easily.
    </p>
    <br />
    <div class="slokaDiv">
        evaṁ buddheḥ param buddhvā<br /> saṁstabhyātmānam atmanā<br /> jahi śatruṁ mahābāho<br /> kāmarūpam durāsadam<br />   [43]<br />
    </div>
    <p class="slokadescription">
        Arjuna, considering that soul as superior to intellect, one must remove the enemies, being desires, by controlling his mind. The Mind and the intellect are not the one. The seat of the intellect is in the mind. That part of the mind doing reasoning and logical exercises is called intellect. One can know his soul by the intellect and not by senses. ‘Budhi grayham Ateedriyam’ i.e. one can know God by the intellect and not by his senses. Do your karma submitting everything unto God to relieve yourself from the attachment of action and to attain liberation in the form of peacefulness or bliss.  Doing of all right actions without attachment is Karmayoga.

    </p>
    <br />
</div>