@{
    ViewBag.Title = "The Light of Gita - Chapter XVIII";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter XVIII</h2>
        <h3 style="color:#0094ff;">Moksha Samnyasa Yoga</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                The term ‘moksha’ refers to the liberation of one’s soul from his mind which is
                under the grip of the forces of Prakriti. Nyasa stands for the surrender. Total
                surrender to God is samnyasa. Once the ego, the mind and the intellect of a person
                are surrendered unto the Supreme; it is said to be samnyasa. It helps to liberate
                one’s self from the operative principles of Prakriti. The forces of Prakriti in one’s
                mind torture the soul continuously and that the soul intensely desires for the
                liberation or total freedom from the mind. It is discussed in this chapter as to how
                liberation can be attained by surrendering oneself unto God.
                <br /><br />
                The ultimate aim of all individuals is liberation from bondages; internal and
                external. Everyone shall one day attain the state of liberation or perfection
            </p>
        </div>
    </div>
</div>
<div class="slokaWrapper">
    <div class="slokaDiv">
        arjuna uvāca<br /><br />
        sannyāsasya mahā-bāho<br />
        tattvam icchāmi veditum<br />
        tyāgasya ca hṛśīkeśa<br />
        pṛthak keśi-niṣūdana<br />
        [1]<br />
    </div>
    <p class="slokadescription">
        Arjuna asked: O Krisna, I like to know about the truth of samnyasa and
        thyaga (sacrifice) particularly.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śrī-bhagavān uvāca<br /><br />
        kāmyānāṁ karmaṇāṁ nyāsaṁ<br />
        sannyāsaṁ kavayo viduḥ<br />
        sarva-karma-phala-tyāgaṁ<br />
        prāhus tyagam vicakṣanāḥ<br />
        [2]<br />
    </div>
    <p class="slokadescription">
        Sri Krisna said: Some sages opine that samnyasa is giving up of all actions
        motivated by desires, while others are of the view that it is giving up of the fruits of
        all actions.
        ‘Kamyanam Karmanam nyasam’ refers to those actions generated out of
        desires; i.e. actions causing bondages to the soul and giving up fruits of action . It
        is karma sanyasa and also it is called Nishkama Karma. Nishkama Karma is
        considered by many as an outstanding message of Bagavad Gita to the whole
        world.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tyājyaṁ dosa-vad ity eke<br />
        karma prāhur manīṣiṇaḥ<br />
        yajña-dāna-tapah-karma<br />
        na tyājyam iti cāpare<br />
        [3]<br />
    </div>
    <p class="slokadescription">
        Some wise men view that all actions shall be given up as they contain some
        negative elements, while others opine that actions like sacrifices, charity and
        penance shall not be given up.
        It is not proper that all action should be shunned as it contains the seeds of
        evil (negative forces). Nobody can live without doing action. It is therefore desirable
        to do all right actions without attachment and without causing bondages. Actions
        performed for the welfare of others, submitting fruit of action to God will not bring
        any evil effect of action to the doer i.e. bondage.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        niścayaṁ sṛṇu me tatra<br />
        tyāge bharata-sattama<br />
        tyāgo hi puruṣa-vyāghra<br />
        tri-vidhaḥ samprakīrtitaḥ<br />
        [4]<br />
    </div>
    <p class="slokadescription">
        Arjuna: you hear from Me about Thyaga (giving up). There are three types
        of thyaga, according to My view.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yajña-dāna-tapaḥ-karma<br />
        na tyājyaṁ kāryam eva tat<br />
        yajño dānaṁ tapaś caiva<br />
        pāvanāni manīṣiṇam<br />
        [5]<br />
    </div>
    <p class="slokadescription">
        Jnana (real knowledge), sacrifice, alms giving and penance shall not be
        given up. They purify the wise man’s mind.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        etāny api tu karmāṇi<br />
        saṅgaṁ tyaktvā phalāni ca<br />
        kartavyānīti me pārtha<br />
        niścitaṁ matam uttamam<br />
        [6]<br />
    </div>
    <p class="slokadescription">
        According to My strong view; sacrifices, alms giving and penance shall be
        performed without the desire of fruits of action.
        Desire for the fruits of action brings bondages to the soul. The secret of
        giving up of fruits of action is that it shall not attract bondages to one.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        niyatasya tu sannyāsaḥ<br />
        karmano nopapadyate<br />
        mohāt tasya parityāgastāmasaḥ<br />
        parikīrtitaḥ<br />
        [7]<br />
    </div>
    <p class="slokadescription">
        One should do his moral obligation but shall not perform any action, either
        prohibited or motivated by desires.If one does not do his moral duties due to
        ignorance, the giving up is called Tamasika.
        One should invariably perform his moral duties. We may come across with
        many not performing their right duties on flimsy grounds. If the employees in
        Governmental services do not do their moral obligations to the people by solving
        their problems such actions are Thamasika.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        duḥkham ity eva yat karma<br />
        kāya-kleśa-bhayāt tyajet<br />
        sa kṛtvā rājasaṁ tyāgaṁ<br />
        naiva tyāga-phalaṁ labhet<br />
        [8]<br />
    </div>
    <p class="slokadescription">
        Some do not do their duties which are physically not comfortable to perform.
        Their giving up is Rajasika.
        One must do all right actions enabling the world to progress.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        kāryam ity eva yat karma<br />
        niyataṁ kriyate'rjuna<br />
        saṅgaṁ tyaktvā phalaṁ caiva<br />
        sa tyāgaḥ sṁttviko mataḥ<br />
        [9]<br />
    </div>
    <p class="slokadescription">
        The duty prescribed shall be performed, invariably. But it shall be performed
        without attachment and desire for the fruits. All actions performed without desire
        for the fruits of action are Sattvika.
        The bondages of all actions bind the soul. All right actions shall be
        performed without attachment and consequent bondages.It is not the action but
        the bondage that matters. Doing right action and giving up the fruits for others, is
        Sattvika Thyaga.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        na dveṣṭy akuśalaṁ karma<br />
        kuśale nānuṣajjate<br />
        tyāgī sattva-samāviṣṭo<br />
        medhāvī chinna-saṁśayaḥ<br />
        [10]<br />
    </div>
    <p class="slokadescription">
        Where one does not give up action not bringing happiness but gives up
        attachment and the bondages of action; it is Sattvika Thyaga (sacrifice).
        One shall not go away from doing right action but shall surrender the fruits of
        action to others or to the Supreme. Any action being performed for the welfare of
        others, taking the true ideation of the Supreme will not bring any illeffects like
        bondages to the soul. Right actions refine one’s mind and remove bondages of the
        soul.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        na hi deha-bhṛtā śakyaṁ<br />
        tyaktuṁ karmāny aśeṣataḥ<br />
        yastu karma-phala-tyāgī<br />
        sa tyāgīty abhidhīyate<br />
        [11]<br />
    </div>
    <p class="slokadescription">
        For, even maintaining one’s body actions are necessary and that no one can
        give up action. A thyagi is one who gives up the fruits of action for others.
        One has to perform a number of functions to maintain his body. But if he
        performs all actions without attachment and desire for fruits he is a thyagi
        (renouncer).


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        aniṣṭaṁ iṣṭam miśraṁ ca<br />
        tri-vidhaṁ karmaṇaḥ phalam<br />
        bhavaty atyāgināṁ pretya<br />
        na tu sannyāsināṁ kvacit<br />
        [12]<br />
    </div>
    <p class="slokadescription">
        There are three types of action as regards to an individual; welcome,
        unwelcome and mixed. Those who do not give up the results of their actions get
        the fruits even after their death. But a samnyasin who has renounced the fruits of
        action shall not have the enjoyment of the fruits or the pain of the bondages.
        One should do all right action giving up the fruits to God or others.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        pañcaitāni mahā-bāho<br />
        kāranāni nibodha me<br />
        sāṅkhye kṛtānte proktāni<br />
        siddhaye sarva-karmaṇām<br />
        [13]<br />
    </div>
    <p class="slokadescription">
        Arjuna; hear from Me about the five remedies of nullifying the effects of the
        bondages of action as given in Sankhya yoga.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        adhiṣṭhānaṁ tathā kartā<br />
        karaṇaṁ ca pṛthag-vidham<br />
        vividhāsca pṛthak ceṣṭa<br />
        daivaṁ caivātra pañcamam<br />
        [14]<br />
    </div>
    <p class="slokadescription">
        There are five operating factors like the seat of action (body) the agent (doer)
        different senses and their movements and the fifth the Divine or the destiny. Divya
        here means God or destiny.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śarīra-vāṅ-manobhir yat<br />
        karma prārabhate naraḥ<br />
        nyāyyaṁ vā viparītaṁ vā<br />
        pañcaite tasya hetavaḥ<br />
        [15]<br />
    </div>
    <p class="slokadescription">
        The five factors are the causes involved in the performance of all actions,
        right or wrong; by mind, speech or body.
        These five organs combined is the totality of an individual.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tatraivaṁ sati kartāram<br />
        ātmānaṁ kevalaṁ tu yaḥ<br />
        paśyaty akṛta-buddhitvān<br />
        na sa paśyati durmatiḥ<br />
        [16]
    </div>
    <p class="slokadescription">
        However if one considers that the detached atma (soul) is responsible for all
        actions, he is foolish with polluted mind.
        Atma (soul) is a particle of the imperishable Supreme entity. The soul does
        not to do anything. All action are performed by the mind under the influence of the
        forces of Prakriti; Sattva, Raja and Tama, acting within one.
        The soul is being tortured by the mind and that the soul does not do anything.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yasya nāhaṅkṛto bhāvo<br />
        buddhir yasya na lipyate<br />
        hatvāpi sa imamllokan<br />
        na hanti na nibadhyate<br />
        [17]<br />
    </div>
    <p class="slokadescription">
        He who is free from the feeling of doer-ship of action is not affected by the
        results of worldly action, and that even if he kills all the beings without attachment,
        he is not affected by the ill effects of action; i.e. Karmapasa.
        It is not the doing of actions but doing without attachment and bondages that
        matters. When ‘I’ feeling or doer ship of action disappears from one’s mind all
        action being performed by him get sublimated or directed towards the Supreme.
        He becomes only an instrument of the Supreme. Those who are bound by
        Karmapasa are very much egoistic and stern in their views which are often wrong.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        jñānaṁ jñeyaṁ parijñatā<br />
        tri-vidhā karma-codanā<br />
        karaṇaṁ karma karteti<br />
        tri-vidhaḥ karma-saṅgrahaḥ<br />
        [18]<br />
    </div>
    <p class="slokadescription">
        The knower, the knowledge and the object of knowledge are the three
        motivating factors of action. The doer, the organs and the activity are the three
        constituents involved in any action.
        All the three are essentially involved in every action or otherwise no
        knowledge will emerge. Therefore every individual shall strive for knowledge to be
        achieved by right action.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        jñānaṁ karma ca kartā ca<br />
        tridhaiva guṇa-bhedataḥ<br />
        procyate guṇa-saṅkhyāne<br />
        yathāvacchṛṇu tāny api<br />
        [19]<br />
    </div>
    <p class="slokadescription">
        In Sankhya yoga it is clearly stated as to how the knower, knowledge and
        action, are influenced by the forces of Prakriti. You shall hear it right from Me.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sarva-bhūteṣu yenaikaṁ<br />
        bhāvam avyayam īkṣate<br />
        avibhaktaṁ vibhakteṣu<br />
        taj jñānaṁ viddhi sattvikam<br />
        [20]<br />
    </div>
    <p class="slokadescription">
        He who knows the one imperishable and Divine existing equally in every
        being his knowledge is said to be Sittvika.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        pṛthaktvena tu yajjñānaṁ<br />
        nānā-bhāvān pṛthag-vidhān<br />
        vetti sarveṣu bhūteṣu<br />
        tajjñānaṁ viddhi rājasam<br />
        [21]<br />
    </div>
    <p class="slokadescription">
        Where one knows that different souls exist in various beings; his knowledge
        is said to be Rajasika.
        Some ignorant persons think that the soul existing in various beings are
        different. They are of Rajasika by nature. Those worshipping power (Sakhteya) are
        with Rajasika properties. They are very much egoistic and selfish.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yat tu kṛtsna-vad ekasmin<br />
        kārye saktam ahaitukam<br />
        atattvārtha-vad alpaṁ ca<br />
        tat tāmasam udahṛtam<br />
        [22]<br />
    </div>
    <p class="slokadescription">
        Where one thinks that the body or the form is the whole and everything clings
        to it; his knowledge is irrational and said to be Tamasika.
        Some think that the body has only one life or soul and that there is nothing
        exist apart. Some may think that God does not exist. Their knowledge is illogical and
        irrational and hence Thamasika.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        niyataṁ saṅga-rahitaṁ<br />
        arāga-dveṣataḥ kṛtam<br />
        aphala-prepsunā karma<br />
        yat tat sāttvikam ucyate<br />
        23<br />
    </div>
    <p class="slokadescription">
        Those actions being performed in accordance with Vedas and as prescribed
        by the scriptures, without the doer ship feeling and desire for fruits are Sattvika.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yat tu kāmepsunā karma<br />
        sāhaṅkāreṇa vā punaḥ<br />
        kriyate bahulāyāsaṁ<br />
        tad rājasam udāhṛtam<br />
        24<br />
    </div>
    <p class="slokadescription">
        Those actions being performed with the desire of fruits with doer ship feeling
        and with difficulty are Rajasika in nature.
        ‘I’ and ‘My’ feelings are very predominant in men with Rajasika disposition.
        They do not have the real concept of God.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        anubandhaṁ kṣayaṁ hiṁsām<br />
        anapekṣya ca pauruṣam<br />
        mohād ārabhyate karma<br />
        yat tat tāmasam ucyate<br />
        25<br />
    </div>
    <p class="slokadescription">
        The actions being performed without regard to the illeffects of fruits or the
        final results, the ability of the doer, the pains and loss of others; are of Tamasika
        nature.
        268
        Some may do actions foolishly out of ignorance and that such actions are
        Tamasika.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        mukta-saṅgo'nahaṁ-vādi<br />
        dhṛty-utsāha-samanvitaḥ<br />
        siddhy-asiddhyor nirvikāraḥ<br />
        kartā sāttvika ucyate<br />
        26<br />
    </div>
    <p class="slokadescription">
        But the actions, performed by those unattached, egoless, having mental
        strength and enthusiasm and disinterested in fruits are of Sattvika nature.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        rāgī karma-phala-prepsur<br />
        lubdho hiṁsātmako'śuciḥ<br />
        harṣa-sokānvitaḥ kartā<br />
        rājasaḥ parikīrtitaḥ<br />
        27<br />
    </div>
    <p class="slokadescription">
        He who is attached to actions, miserly, desirous of torturing others and
        without purity of mind and who is affected by happiness and sorrow while earning
        money; is of Rajasika nature.
        A miser is very selfish. There is a saying that no money shall be lent to a
        miser for it is very difficult to get back the same. We may have many an example
        before us. Miser is greedy too.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        ayuktaḥ prākṛtaḥ stabdhaḥ<br />
        śatho naiṣkṛtiko'lasaḥ<br />
        viṣādī dīrgha-sūtrī ca<br />
        kartā tāmasa ucyate<br />
        28<br />
    </div>
    <p class="slokadescription">
        He who is without self-control, uncultured, arrogant, deceitful, likes to rob
        others wealth, slothful, down hearted (unhappy) and procrastinating (delaying); is
        said to be Tamasika by nature.
        A Tamasika person is not humble, he delays all his duties to be performed.
        He tries not to perform a right action. He wants to live at the expense of others.
        Such persons are headache to the family and the society. They are mainly guided
        by animal instincts.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        buddher bhedaṁ dhṛteścaiva<br />
        guṇataḥ tri-vidhaṁ śṛnu<br />
        procyamānam aśeṣeṇa<br />
        pṛthaktvena dhanañjaya<br />
        29<br />
    </div>
    <p class="slokadescription">
        Arjuna, I shall explain the threefold classifications on the basis of influence
        of the three forces of Prakriti on intellect and firmness separately. Hear from Me.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        pravṛttiṁ ca nivṛttiṁ ca<br />
        kāryākārye bhayābhaye<br />
        bandhaṁ mokṣaṁ ca yā vetti<br />
        buddhiḥ sā pārtha sāttvikī<br />
        30<br />
    </div>
    <p class="slokadescription">
        He, whose intellect is based on right action and renunciation and he who
        knows what to do and what should not; and also knows what is kindness and what
        is not; what is liberation and what is bondage; is Sattvika by nature.
        A person with Sattvika intellect knows well as to what is right or wrong. He
        enjoys peace within and is very near to truth and able to know the absolute truth
        soon. Therefore most of his actions would be directed towards freeing the soul
        from the bondages of action.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yayā dharmam adharmaṁ ca<br />
        kāryaṁ cākaryam eva ca<br />
        ayathāvat prajānāti<br />
        buddhiḥ sā pārtha rājasī<br />
        31<br />
    </div>
    <p class="slokadescription">
        He who does not know what is his moral obligation (duty) and what is not;
        and knows not what to do or not to do.His intellect (cognitive faculty) is said to be
        Rajasika.
        Rajasa Prakriti is the most powerful nature of an individual. Those with
        Rajasika nature are generally powerful and worship God in the ideational form of
        Supreme power. They are very much ego centered and lacking humbleness. They
        are identified by their intense desire towards sensual objects and are ready to do
        anything lawfully or unlawfully to amass money and wealth. Most of them are with
        demoniac (Asura) disposition. It is not desirable to have close association with
        them.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        adharmaṁ dharmam iti yā<br />
        manyate tamasāvṛtā<br />
        sarvārthān viparītāṁś ca<br />
        buddhiḥ sā pārtha tāmasī<br />
        32<br />
    </div>
    <p class="slokadescription">
        Arjuna, some consider adharma (forbidden act) as right action (Dharma).
        Their mind is filled with ignorance and darkness. They see everything in the wrong
        perspective. Their intellect is Tamasika.
        Some people do socially forbidden act as the right action. They are wrong
        and Tamasika by nature. Animal instincts are predominant in them.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        dhṛtyā yayā dhārayate<br />
        manaḥ-prāṇendriya-kriyāḥ<br />
        yogenāvyabhicāriṇyā<br />
        dhṛtiḥ sā pārtha sāttvikī<br />
        33<br />
    </div>
    <p class="slokadescription">
        He who controls his mind, vital airs and senses by unwavering firmness
        through yoga of meditation; his firmness is Sattvika.
        To control one’s mind he should establish firmness of mind. Firmness of
        one’s mind is called ‘Dharana sakti’. This power helps one to fix his mind on one
        object without wavering. Yoga of meditation helps to maintain firmness of one’s
        mind.
        Once a doctor took his daughter at 1 am at night by car, for she had to attend
        a competitive entrance Examination test, in the morning, held at a centre in another
        state. Seven hours journey was necessary to reach the place. She could not
        perform the test well as she was sleepy and tired. Though the doctor was a pious
        gentleman, he had no unwavering faith in God and had an element of fear in him.
        No person of common sense would have done such a blunder, not reaching the
        place a day earlier. A wavering mind is not firm on what to do or what not to do.
        One should take his own responsibility in every action.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yayā tu dharma-kāmārthan<br />
        dhṛtyā dhārayate'rjuna<br />
        prasaṅgena phalākāṅkṣī<br />
        dhṛtiḥ sā pārtha rājasī<br />
        34<br />
    </div>
    <p class="slokadescription">
        Arjuna, where firmness is attained by dharma (duty), artha (material) and
        kama (desire); it is called Rajasika Druti (firmness).
        Firmness of mind or intellect can be maintained even by those motivated by
        material desires. But it has no spiritual relevance.There are many trying to acquire
        wealth and material pleasures by controlling and regulating there mental activities
        firmly. They are not in the desirable direction so far as spirituality is concerned.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yayā svapnaṁ bhayaṁ śokaṁ<br />
        viṣādaṁ madam eva ca<br />
        na vimuñcati durmedhā<br />
        dhṛtiḥ sā pārtha tāmasī<br />
        35<br />
    </div>
    <p class="slokadescription">
        The firmness, of evil minded persons who are, by nature not interested to
        give up the habits of oversleep, fear, anxiety, sorrow, vanity and arrogance; is
        Tamasika.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sukhaṁ tvidānīṁ tri-vidhaṁ<br />
        śṛnu me bharatarṣabha<br />
        abhyāsād ramate yatra<br />
        duḥkhāntaṁ ca nigacchati<br /> [36]<br /><br />
        yat tad agre viṣam iva<br />
        pariṇāme'mṛtopamam<br />
        tat sukhaṁ sāttvikaṁ proktam<br />
        ātma-buddhi-prasāda-jam<br /> [37]<br />
    </div>
    <p class="slokadescription">
        Arjuna, hear from Me about three types of happiness (enjoyments). He who
        brings an end to sorrow and miseries by constant worship of the Supreme, in the
        form of meditation or service to God; his happiness is said to be Sattvika.
        Though in the beginning it would be sorrowful later would develop into joy
        like nectar. The Sattvikia happiness helps to promote one’s spiritual
        consciousness.<br /><br />
        They may, in the beginning, face with internal and external conflicts. But in
        the course of time their mind will become pure and calm and they may realize the
        greatness of spiritual happiness or peacefulness.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        viṣayendriya-saṁyogād<br />
        yat tad agre 'mṛtopamam<br />
        pariṇāme viṣam iva<br />
        tat sukhaṁ rājasaṁ smṛtam<br />
        38<br />
    </div>
    <p class="slokadescription">
        Though sensual enjoyments seem like nectar in the beginning it may later
        become unwelcome and morbid and disgusting and that such enjoyments are
        Rajasika by nature.<br /><br />
        People with Rajasika nature engage in sensual enjoyments with strong
        egoistic temperament. They consider it as the greatest pleasure. The interaction
        with such people makes Sattvika unwelcoming and painful. They are egoistic,
        arrogant and expressing vanity.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yad agre cānubandhe ca<br />
        sukhaṁ mohanam ātmanaḥ<br />
        nidrālasya-pramādotthaṁ<br />
        tat tāmasam udāhṛtam<br />
        39<br />
    </div>
    <p class="slokadescription">
        The enjoyment one derives from over sleep, indolence (idleness) and
        obstinate (stubborn) error is Tamasika.<br /><br />
        We might have come across with many such people who take delicious food
        and sleep even during day times while others are hard working. Eat, drink and
        merry are the general nature of the persons with static nature (Tamasika nature).
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        na tad asti pṛthivyāṁ vā<br />
        divi deveṣu vā punaḥ<br />
        sattvaṁ prakṛti-jair muktaṁ<br />
        yad ebhih syāt tribhir guṇaiḥ<br />
        40<br />
    </div>
    <p class="slokadescription">
        Nobody on the earth, in the heavens and in the middle is free from the
        influences of the forces of Prakriti (Sattva, Rajo and Tamo gunas).
        Even heaven is the realm of enjoyment. If there is a place in between the
        heaven and the earth there too will be the influence of forces of Prakriti. It shows
        that Gods and human beings are under the influence of Prakriti. Gods do not mean
        the Supreme Self or the Paramatma, but, the imaginary forms like Sun god, Indra,
        Vayu deva, Agni deva and so on.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        brāhmaṇa-kṣatriya-viśāṁ<br />
        śūdrāṇāṁ ca parantapa<br />
        karmāṇi pravibhaktāni<br />
        svabhāva-prabhavair guṇaiḥ<br />
        41<br />
    </div>
    <p class="slokadescription">
        Arjuna, the moral obligations or duties of the four divisions of the human
        beings; viz, Brahmana, Kshatriya, Vaisya and Sudra; emerge from their nature.
        They are classified according to their innate nature.<br /><br />
        ‘Janmana Jayate Sudra, Karmana Jayete Dvija’ is a Vedic statement which
        states that everybody is Sudra by birth but by right action one can become Dvija
        (Brahmana), by resetting the forces of Prakriti in him i.e., by improving the
        influence of Sattvika force to become predominant in one. It shows that right
        actions promote Sattvika predominance in one. Other forces of Prakriti; Rajasa
        and Tamasa forces can also be made predominant or not, based on actions
        performed. The term Brahmana refers to only those who have realized the
        Supreme (Brahma).


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śamo damastapaḥ śaucaṁ<br />
        kṣantir-ārjavam eva ca<br />
        jñānaṁ vijñānaṁ āstikyaṁ<br />
        brahma-karma svabhāva-jam<br />
        42<br />
    </div>
    <p class="slokadescription">
        Controlling of mind and senses, taking up hardships in discharging ones
        moral obligations, purity internally and externally, kindness to forgive others
        mistake, straightforwardness, belief in sacred scriptures and in God, belief in the
        life after death etc.; are the unique qualities of a Brahmana.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śauryaṁ tejo dhṛtir dākṣyaṁ<br />
        yuddhe cāpy apalāyanam<br />
        dānam īśvara-bhāvaś ca<br />
        kśātraṁ karma svabhāva-jam<br />
        43<br />
    </div>
    <p class="slokadescription">
        Expressing valour, fearlessness, firmness, cleverness, not fleeing from
        battle, bestowing gifts, aristocratic bent of mind etc. are the characteristic features
        of Kshatriya.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        kṛṣi-go-rakṣya-vāṇijyaṁ<br />
        vaiśya-karma svabhāva-jam<br />
        paricaryātmakaṁ karma<br />
        śūdrasyāpi svabhāva-jam<br />
        44<br />
    </div>
    <p class="slokadescription">
        Agriculture, rearing of cattle and exchange of merchandise are the right
        duties of Vaisya.
        Services to other classes are considered as the duty of a Sudra. A Sudra
        performs his duty mainly manually
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sve sve karmaṇy abhirataḥ<br />
        saṁsiddhiṁ labhate naraḥ<br />
        sva-karma-nirataḥ siddhiṁ<br />
        yathā vindati tat śṛnu<br />
        45<br />
    </div>
    <p class="slokadescription">
        If one performs his duty with devotion he can attain the level of the highest
        perfection by way of the realization of the Supreme. Hear from Me how one with
        inborn duty can attain the highest goal of realization of the Divine Pursa.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yataḥ pravṛttir bhūtānām<br />
        yena sarvam idaṁ tatam<br />
        sva-karmaṇā tam abhyarcya<br />
        siddhiṁ vindati mānavaḥ<br />
        46<br />
    </div>
    <p class="slokadescription">
        He who worships the Lord of the universe the Omnipresent Supreme
        consciousness, and doing right actions, shall verily attain perfection.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śreyān sva-dharmo viguṇaḥ<br />
        para-dharmāt sv-anuṣṭhitāt<br />
        svabhāva-niyataṁ karma<br />
        kurvan nāpnoti kilbiṣam<br />
        47<br />
    </div>
    <p class="slokadescription">
        It is desirable to do one’s own duty, though devoid of merit; than performing
        others duty well. One shall not incur sin by not performing his duty.
        Everybody should perform his duty ordained by his nature. It should be done
        well as far as possible. An individual shall not do others duty forgetting his own
        obligations. If he does so it will attract sin to him. For example; the duty of a doctor
        is to attend his patients and to treat them properly. But if he does political activities
        also neglecting his own duty, he is a sinner.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sahajaṁ karma kaunteya<br />
        sadoṣam api na tyajet<br />
        sarvārambhā hi doṣeṇa<br />
        dhūmenagnir ivāvṛtaḥ<br />
        48<br />
    </div>
    <p class="slokadescription">
        Arjuna, one shall never neglect doing this duty even though it is somewhat
        defective. Every action must have some negative sides too, like the existence of
        smoke along with fire.
        Everybody should do their duties as along as life exists. Right action is
        instrumental to development.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        asakta-buddhiḥ sarvatra<br />
        jitātmā vigata-spṛhaḥ<br />
        naiṣkarmya-siddhiṁ paramāṁ<br />
        sannyāsenadhigacchati<br />
        49<br />
    </div>
    <p class="slokadescription">
        He who is unattached, not craving for sensual enjoyments and the mind and
        senses are under control; shall attain the ultimate state through the knowledge of
        yoga.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        siddhiṁ prāpto yathā brahma<br />
        tathāpnoti nibodha me<br />
        samāsenaiva kaunteya<br />
        niṣṭhā jñānasya yā parā<br />
        50<br />
    </div>
    <p class="slokadescription">
        Arjuna, know from Me, in brief, how one can attain the state of inaction, the
        ultimate state of realization.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        buddhyā viśuddhayā yukto<br />
        dhṛtyātmānaṁ niyamya ca<br />
        śabdādīn viṣayāṁs tyaktvā<br />
        rāga-dveṣau vyudasya ca<br />
        [51]<br /><br />

        viviktasevī laghv-āśī<br />
        yata-vāk-kāya-mānasaḥ<br />
        dhyāna-yoga-paro nityam<br />
        vairāgyaṁ samupāśritaḥ<br />
        [52]<br /><br />
        ahaṅkāraṁ balaṁ darpaṁ<br />
        kāmaṁ krodhaṁ parigraham<br />
        vimucya nirmamaḥ śānto<br />
        brahma-bhūyāya kalpate<br />
        [53]<br />
    </div>
    <p class="slokadescription">

        An individual, with unpolluted intellect and Sattvika, regulated by diet,
        leaving in solitude and disinterested in worldly pleasures; his mind, speech and
        body keeping under control and leaving the negative factors like egoism,
        sternness, lust, anger and greed etc. and devoted to the yoga of meditation;
        becomes eligible for attaining oneness with Brahma (the Supreme
        consciousness).
        One should do all necessary to make his mind refined and pure.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        brahma-bhūtaḥ prasannātma<br />
        na śocati na kaṅkṣati<br />
        samaḥ sarveṣu bhūteṣu<br />
        mad-bhaktiṁ labhate parām<br />
        54<br />
    </div>
    <p class="slokadescription">
        A Sankhya yogi with extreme devotion who has established his identity with
        the Supreme and who remains cheerful and no longer carve for anything else shall
        attain Me.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        bhaktyā mām abhijānāti<br />
        yāvān yaścāsmi tattvataḥ<br />
        tato māṁ tattvato jñātva<br />
        viśate tad-anantaram<br />
        55<br />
        He, who tries to know Me with extreme devotion, knows Me and My
        greatness and consequently attains Me.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            sarva-karmāṇy api sadā<br />
            kurvāṇo mad-vyapāśrayaḥ<br />
            mat-prasādād avāpnoti<br />
            sāśvataṁ padam avyayam<br />
            56<br />
        </div>
        <p class="slokadescription">
            A Karmayogi who does all actions fixing this mind on Me without the feeling
            of doer ship, reaches Me by My grace and attains the Supreme state.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            cetasā sarva-karmāṇi<br />
            mayi sannyasya mat-paraḥ<br />
            buddhi-yogam upāśritya<br />
            maccittaḥ satataṁ bhava<br />
            57<br />
        </div>
        <p class="slokadescription">
            Therefore, Arjuna, fixing your mind on Me and taking the ideation of God,
            even mindedly and solely devoted to Me and constantly worship Me.
        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            maccittaḥ sarva-durgāṇi<br />
            mat-prasādāt tariṣyasi<br />
            atha cet tvam ahaṅkārān<br />
            na śroṣyasi vinaṅkṣyasi<br />
            58<br />
        </div>
        <p class="slokadescription">
            Arjuna, establishing your mind in Me, try to overcome all difficulties by My
            grace. On the other hand if you do not follow Me due to egotism you would perish.
            In short the basis of all evils is egotism.
        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            yad ahaṅkāram āśritya<br />
            na yotsya iti manyase<br />
            mithyaiṣa vyavasāyaste<br />
            prakṛtistvāṁ niyokṣyati<br />
            [59]<br /><br />

            svabhāvajena kaunteya<br />
            nibaddhaḥ svena karmaṇā<br />
            kartuṁ necchasi yan mohāt<br />
            kariṣyasy avāso'pi tat<br /> [60]<br />

        </div>
        <p class="slokadescription">
            If due to egotism and ignorance you are not ready to fight for war, the Prakriti
            in you will cause you to do the act which you do not like.
            Even when one is not interested to do an act, he may be compelled to do
            the same act being promoted and compelled by the forces of Prakriti in him.
        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            īśvaraḥ sarva-bhūtānāṁ<br />
            hṛd-deśe 'rjuna tiṣṭhati<br />
            bhrāmayan sarva-bhῡtāni<br />
            yantrārῡḍhāni māyayā<br />
            61

        </div>
        <p class="slokadescription">
            The God, abiding in the heart of all beings, compels them to act, according
            to their karma by the illusive power of Him. All beings are the vehicles of his body.
            In all bodies, remaining as the soul, the Supreme helps them to move
            forward their life cycle depending on the illusionary power, (maya) of Prakriti.
            It is the secret of the wheel of life cycle.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            tam eva śaraṇaṁ gaccha<br />
            sarva-bhāvena bhārata<br />
            tat-prasādāt parāṁ śāntiṁ<br />
            sthānaṁ prāpsyasi śāśvatam<br />
            62<br />
        </div>
        <p class="slokadescription">
            Therefore Arjuna, you seek shelter in the Supreme and that by His grace
            you can attain the ultimate peaceful state.
            Faith is the basis for every good action. One must have deep faith in God.
            Where one loses faith in Him, he loses peacefulness too.
            One story seems relevant here. Once, Acharya guru gave to a boy, a chain
            made of Rudraksha (beads taken from a plant) to wear. He had intense desire for
            acquiring objects of sensual enjoyments. The chain was first a blessing to him.
            Gradually that blessing became a burden to the boy, as he had to follow certain
            values in life. He took out the chain from his neck and threw forcefully away into
            the sea. There was a conflict in him to be faithful to his duties to God or not. Finally
            his innate nature of pleasure principle won. For many, virtue is a burden and vice
            is welcome. Once a poet stated ‘Light is sorrow and darkness is peace’. It is a
            negative poem.
            The troubled sea is a symbol of the tense mind and the calm one is of a
            peaceful mind.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            iti te jñānam ākhyātaṁ<br />
            guhyād guhyataraṁ mayā<br />
            vimṛśyaitad aśeṣeṇa<br />
            yathecchasi tathā kuru<br />
            63<br />
        </div>
        <p class="slokadescription">
            Sri Krnsa said: Thus I have imparted to you the most secret and noble
            knowledge and that you can now think over and act according to your own will.
            Everyone is free to act according to his will and desire. God or Guru is not
            responsible for any wrong action willfully done by any person. A Guru guides you
            only to move in the right path.

            Once, a lady who had to attend an interview for a higher post in an academic
            institution, approached an Acharya seeking his blessings. The Acharya told her if
            she had adequate qualifications and true faith in Guru and God she would get the
            job. A gentle man present there at that time said “if she gets the job it would be
            taken for granted that she had deep faith in God and Guru”. She did not get the
            job. There are many seeking the grace of Gurus for material benefits only. They
            are in the wrong direction and are sinners.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            sarva-guhyatamaṁ bhūyah<br />
            śṛnu me paramaṁ vacah<br />
            iṣṭo 'si me dṛḍham iti<br />
            tato vakṣyāmi te hitam<br />
            64<br />
        </div>
        <p class="slokadescription">
            Arjuna, you are extremely dear to Me and therefore hear again My supreme
            secret word, the most esoteric truth. I think that it would be beneficial to you.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            man-manā bhava mad-bhakto<br />
            mad-yājī māṁ namaskuru<br />
            māṁ evaiṣyasi satyaṁ te<br />
            pratijāne priyo'si me<br />
            65<br />
        </div>
        <p class="slokadescription">
            I promise that you would attain Me provided you fix your mind on Me with
            devotion, worship Me and bow to me. This secret is imparted to you because you
            are very dear to Me.
            Though it seems as very simple to fix one’s mind devotedly on the Supreme,
            it is practically difficult for anybody other than a true devotee whose aim is only to
            attain God. Such devotees are very rare.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            sarva-dharmān parityajya<br />
            māṁ ekaṁ śaraṇaṁ vraja<br />
            ahaṁ tvāṁ sarva-pāpebhyo<br />
            mokṣayiṣyami mā śucaḥ<br />
            66<br />
        </div>
        <p class="slokadescription">
            Surrender all your moral duties unto Me; the all-pervading, all powerful and
            all sustaining Supreme Divinity, and worship Me taking refuge in Me alone. I shall
            absolve you from all your sins; don’t worry.
            This is considered as a very important stanza of Bagavad Gita by scholars
            and men of wisdom. If one surrenders everything to the Supreme, all of his actions
            will be got purified. Humbleness and purity of mind will follow. The clean and
            purified mind causes the soul to merge with the Supreme. It calls for the constant
            penance and true devotion to God.
            Though we have many moral obligations the ultimate duty is to attain the
            Supreme.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            idaṁ te nātapaskāya<br />
            nābhaktāya kadācana<br />
            na cāśuśrūṣave vācyaṁ<br />
            na ca māṁ yo'bhyasūyati<br />
            67<br />
        </div>
        <p class="slokadescription">
            The great secret of the Gospel of Bagavad Gita should not be imparted to
            anybody who lacks penance or to whom lacking devotion or to whom not willing to
            hear and to anybody who finds fault with Me.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            ya idaṁ paramaṁ guhyaṁ<br />
            mad-bhakteṣv-abhidhasyati<br />
            bhaktiṁ mayi parāṁ kṛtvā<br />
            mām evaiṣyaty asaṁśayaḥ<br />
            [68]<br /><br />
            na ca tasmān manuṣyeṣsu<br />
            kaścin me priya-kṛttamaḥ<br />
            bhavitā na ca me tasmād<br />
            anyaḥ priyataro bhuvi <br />[69]<br />
        </div>
        <p class="slokadescription">
            He who with utmost devotion imparts the secrets of Bagavad Gita to my
            devotees will attain Me.There is no doubt.
            The secret of Bagavad Gita should be imparted only to the deserving devotees.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            adhyeṣyate ca ya imaṁ<br />
            dharmyaṁ saṁvādam āvayoh<br />
            jñāna-yajñena tenāham<br />
            iṣṭaḥ syām iti me matiḥ<br />
            70
        </div>
        <p class="slokadescription">
            Arjuna, he who shall study with devotion, the discussion between you and
            Me shall become a true devotee of Me.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            śraddhāvān anasūyaś ca<br />
            śṛṇuyād api yo naraḥ<br />
            so 'pi muktaḥ śubhaṁllokān<br />
            prāpnuyāt puṇya-karmaṇām<br />
            71
        </div>
        <p class="slokadescription">
            He who with devotion hears the holy ideas and truths of Bagavad Gita shall
            be absolved from his sins and that he will attain the world of holiness and
            happiness.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            kaccid etat śhrutaṁ pārtha<br />
            tvayā ekāgreṇa cetasā<br />
            kaccid ajñāna-sammohaḥ<br />
            praṇaṣṭaste dhanañjaya<br />
            72<br />
        </div>
        <p class="slokadescription">
            Arjuna, did you hear the message of Gita with due attention and did you
            overcome your misunderstanding arised out of ignorance?
            arjuna uvāca


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            naṣṭo mohaḥ smṛtir labdhā<br />
            tvat-prasādān mayācyuta<br />
            sthito 'smi gata-sandehaḥ<br />
            kariṣye vacanaṁ tava<br />
            73
        </div>
        <p class="slokadescription">
            Arjuna said: Krisna, by the grace of You all my delutions have been
            vanished. I do realize the truth and I shall act according to your will. I am ready to
            act as per your direction.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            sanjaya uvāca
            ity ahaṁ vāsudevasya<br />
            pārthasya ca mahātmanaḥ<br />
            saṁvādam imam aśrauṣam<br />
            adbhutaṁ roma-harṣaṇam<br />
            74<br />
        </div>
        <p class="slokadescription">
            Sanjaya said to Dhrutarastra: I could hear the mysterious conversation
            between the great Sri Krisna and Arjuna and I am having a thrilling experience of
            their wonderful discussion.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            vyāsa-prasādat śhrutavan<br />
            etad guhyam ahaṁ param<br />
            yogaṁ yogeśvarāt kṛṣṇat<br />
            sākṣāt kathayataḥ svayam<br />

            75<br />
        </div>
        <p class="slokadescription">
            Sanjaya said: By the grace of Vedavyasa I could also hear about the secret
            of yoga that Krisna directly imparted to Arjuna.
            Sanjaya was given by the saint Vedavyasa the divine power to see things going
            on in the distant battle field.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            rājan saṁsmṛtya saṁsmṛtya<br />
            saṁvādam imam adbhutam<br />
            keśavārjunayoḥ puṇyaṁ<br />
            hṛṣyāmi ca muhur muhuḥ<br />
            76<br />
        </div>
        <p class="slokadescription">
            Sanjaya said: I am very happy to remember again and again the
            conversation between Sri Krisna and Arjuna and I consider it as a great virtue on
            my part.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            tacca saṁsmṛtya saṁsmṛtya<br />
            rūpam aty-adbhutaṁ hareḥ<br />
            vismayo me mahān rājan<br />
            hṛṣyāmi ca punaḥ punaḥ<br />
            77<br />
        </div>
        <p class="slokadescription">
            Sanjaya said: I feel great wonder and anxiety, recollecting the universal form
            of Sri Krisna and feel happy again and again.
            We know that it is jovial and comfortable to recollect the memories that are
            wonderful, happy and soothing.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            yatra yogeśvaraḥ kṛṣṇo<br />
            yatra pārtho dhanur-dharaḥ<br />
            tatra śrīr vijayo bhūtir<br />
            dhruvā nītir matir mama<br />
            78<br />
        </div>
        <p class="slokadescription">
            Sanjaya said: Wherever Sri Krisna, the Lord of yoga and wherever Arjuna
            the weilder of Gandiva bow are present; goodness, victory, glory and unfailing
            righteousness will follow. It is My conviction.
            Sri Krisna represents the Supreme consciousness and Arjuna the symbol of
            power. Winning of virtue will be possible only by a harmonious combination of
            consciousness and power. Power in the hands of one without consciousness
            would develop to be dangerous. Consciousness alone will not suffice. It must be
            supported by necessary powers too.
            A story of Rama of Thennaly comes to the memory. Rama was a great soul.
            Once his deity, the Goddess of Kali appeared before him carrying in one hand a
            cup filled with the drink representing knowledge and in the other hand a cup filled
            with the drink representing power. The Goddess asked Rama to drink from any
            one of the cups. Rama immediately took both the cups and drank there from. The
            Goddess asked him why he did against her direction. Rama replied, with a smile
            that he had no use of drinking from one cup alone. Even the Goddess laughed
            aloud hearing the replies of Rama.
            This means that both consciousness and power are necessary for
            development in any field especially in the material and intellectual realms.
            Even a bird’s eye view of the Gospels of Bagavad Gita, would essentially
            cause one to have a holy bath (Baptism) in the waters of knowledge.
            Let there be prosperity, happiness, love, compassion and peace with grace
            of the Divine light of the Supreme consciousness.
        </p>
    </div>
