@{
    ViewBag.Title = "The Light of Gita - Chapter XI";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter XI</h2>
        <h3 style="color:#0094ff;">Viswaroopa Darsana</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                The Lord, Sri Krisna has revealed the secret of the universe and spirituality, also about the power of the human mind and its helplessness etc. through the ten previous chapters (I-X). But Arjuna was not fully convinced. Therefore Sri Krisna was compelled to give Arjuna the vision of his universal person making him ready for the performance of his moral obligation to fight against Kauravas. Sri Krisna was pleased to have Arjuna the divine vision of His universal divine form covering the whole universe. This vision made Arjuna to belive that there is nothing beyond Krisna and he got ready forthwith to fight.
                <br /><br />
                It is very difficult to convince a person of the Supreme consciousness unless he is inclined to it with deep devotion.
            </p>
        </div>
    </div>
</div>

<div class="slokaWrapper">

    <div class="slokaDiv">
        arjuna uvāca<br /><br />
        mad-anugrahāya paramaṁ<br />
        guhyam adhyātma-samjñitam<br />
        yat tvayoktaṁ vacastena<br />
        moho 'yaṁ vigato mama<br />
        1<br />
    </div>
    <p class="slokadescription">
        Arjuna said: I am very thankful to you for the deep spiritual wisdom imparted
        to me with love and affection. The delusion existed in me has completely vanished.
        As a result of the profound knowledge imparted to Arjuna he felt very happy
        and his doubts were disappeared. Krisna revealed to Arjuna the subtle and sacred
        knowledge. It is said that great seer’s words are light.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        bhavāpyayau hi bhūtānāṁ<br />
        śrutau vistaraśo mayā<br />
        tvattah kamala-patrākṣa<br />
        māhātmyam api cāvyayam<br />
        2<br />
    </div>
    <p class="slokadescription">
        Arjuna said: I have heard from you the details of evolution and the final
        dissolution of beings and about the immortal glory of your status.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        evam etad yathāttha tvam<br />
        ātmānaṁ parameśvara<br />
        draṣṭum icchāmi te rūpam<br />
        aiśvaraṁ puruṣottama<br />
        3<br />
    </div>
    <p class="slokadescription">
        Arjuna continued: I have no doubt that what you have said is true, yet I am
        eager to see your Supreme divine person of glory, wisdom, energy, strength,
        valour and brightness.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        manyase yadi tacchakyaṁ<br />
        mayā draṣṭum iti prabho<br />
        yogeśvara tato me tvaṁ<br />
        darśayātmānam avyayam<br />
        4<br />
    </div>
    <p class="slokadescription">
        Arjuna prayed: Krisna, If you find I am eligible, kindly reveal your Supreme
        imperishable form to me.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śrī-bhagavān uvāca<br />
        paśsya me pārtha rūpāni<br />
        śataśo 'tha sahasraśaḥ<br />
        nānā-vidhāni divyāni<br />
        nānā-varnākṛtīni ca<br />
        5
    </div>
    <p class="slokadescription">
        Krisna said: You see my hundreds and thousands of divine forms in different
        colours and shapes.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        paśyādityān vasūn rudrān<br />
        aśvinau marutastathā<br />
        bahūny adṛṣṭa-pūrvāṇi<br />
        paśyaścaryāṇi bhārata<br />
        [6]<br /><br />
        ihaika-sthaṁ jagat kṛtsnaṁ<br />
        paśyādya sa-carācaram<br />
        mama dehe guḍākeśa<br />
        yaccānyad draṣṭum icchasi<br />
        [7]<br />
    </div>
    <p class="slokadescription">
        Arjuna, You may see suns vasus, Rudras (the god of destruction), Aswini
        Devas, wind Gods etc. You may also see other wonderful forms you have never
        seen before.
        Krisna asked Arjuna: Behold in Me all the animate and inanimate beings and
        whatever else you want to see.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        na tu māṁ sakyase draṣṭum<br />
        anenaiva sva-cakṣuṣā<br />
        divyaṁ dadāmi te cakṣuḥ<br />
        paśya me yogam aiśvaram<br />
        8<br />
    </div>
    <p class="slokadescription">
        You cannot see My supreme person by your naked eyes. And I therefore
        give you the divine eye by which you can see My supreme yogic form.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sanjaya uvāca<br /><br />
        evam uktvā tato rājan<br />
        mahā-yogeśvaro hariḥ<br />
        darśayāmasa pārthāya<br />
        paramaṁ rūpam aiśvaram<br />
        9
    </div>
    <p class="slokadescription">
        Sanjaya told Drutharastra that Sri Krisna showed his Supreme person to
        Arjuna.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        aneka-vaktra-nayanam<br />
        anekadbhūta-darśanam<br />
        aneka-divyābharanaṁ<br />
        divyānekodyatāyudham<br />
        [10]<br /><br />
        divya-mālyāmbara-dharaṁ<br />
        divya-gandhānulepanam<br />
        sarvāścarya-mayaṁ devam<br />
        anantaṁ viśvato-mukham<br />
        [11]<br />
    </div>
    <p class="slokadescription">
        Arjuna saw the wonderful cosmic form of Sri Krisna possessing many
        mouths and eyes, wearing many divine ornaments and with lifted weapons,
        wearing divine garments and cloths covered by sandal-pastes all over the body and infinite faces directed to all sides. Arjuna saw the divine cosmic form, very
        much shining and spreading light around.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        divi sūrya-sahasrasya<br />
        bhaved yugapadutthitā<br />
        yadi bhāh sadṛśī sā syād<br />
        bhāsastasya mahātmanaḥ<br />
        12<br />
    </div>
    <p class="slokadescription">
        Arjuna saw the Divine effulgence as if thousand suns rising forth, spreading
        lights around.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tatraika-sthaṁ jagatkṛtsnaṁ<br />
        pravibhaktamanekadhā<br />
        apaśyad deva-devasya<br />
        śarīre pāṇḍavastadā<br />
        13<br />
    </div>
    <p class="slokadescription">
        Arjuna saw the entire world in the Supreme person of Sri Krisna in different
        forms.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tataḥ sa vismayāviṣṭo<br />
        hṛṣṭa-romā dhanañjayaḥ<br />
        pranamya śirasā devaṁ<br />
        kṛtāñjalirabhāṣata<br />
        [14]<br />
        <br />
        arjuna uvāca
        paśyāmi devāmstava deva dehe<br />
        sarvāṁstathā bhūta-viśeṣa-saṅghān<br />
        brahmāṇamīśaṁ kamalāsanastham-<br />
        ṛṣīṁśca sarvān uragāṁśca divyān<br />
        [15]<br />
    </div>
    <p class="slokadescription">

        Arjuna said to Sri Krisna with utmost reverence:
        I see in your body all Gods and other beings including the Brahma, seated
        in the lotus, Siva and many Risis and divine serpents.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        aneka-bāhūdara-vaktra-netraṁ<br />
        paśyami tvāṁ sarvato 'nanta-rūpam<br />
        nāntaṁ na madhyaṁ na punastavādiṁ<br />
        paśyāmi viśveśvara viśva-rūpa<br />
        16<br />
    </div>
    <p class="slokadescription">
        I see your supreme person with numerous hands and bellies, faces and
        eyes. But I cannot see your beginning, middle and end.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        kirītinaṁ gadinaṁ cakriṇaṁ ca<br />
        tejo-rāśiṁ sarvato dīptimantam<br />
        paśyāmi tvāṁ durnirikṣyaṁ samantād<br />
        dīptānalārka-dyutim aprameyam<br />
        17<br />
    </div>
    <p class="slokadescription">
        I see your person encrowned wielding clubs and discus (chakra) shinning
        and spreading light like the burning fire and the splendor of sun.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tvam akṣaraṁ paramaṁ veditavyaṁ<br />
        tvam asya viśvasya paraṁ nidhānam<br />
        tvam avyayah śāśvata-dharma-goptā<br />
        sanātanastvaṁ puruṣo mato me<br />
        18<br />
    </div>
    <p class="slokadescription">
        I know you are the imperishable Brahma, the ultimate abode, shelter of all
        and the protector of the world. I know that you are the immortal Purushothama.
        It is Paramatma who is imperishable, the sustainer of the universe and the
        immortal consciousness to be realized.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        anādi-madhyāntam ananta-vīryam<br />
        ananta-bāhuṁ sasi-sūrya-netram<br />
        paśyāmi tvām dīpta-hutāśa-vaktraṁ<br />
        sva-tejasā viśvam idam tapantam<br />
        19<br />
    </div>
    <p class="slokadescription">
        I see your Supreme form without beginning, middle and end; with infinite
        powers, numerous hands, having eyes like the sun and the moon. I see your mouth
        flaming with fire by the radiance of which the whole world is scorching.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        dyāvāpṛthivyor idam antaraṁ hi<br />
        vyāptaṁ tvayaikena diśaśca sarvāḥ<br />
        dṛṣṭvādbhutaṁ rūpam ugraṁ tavedaṁ<br />
        loka-trayaṁ pravyathitaṁ mahātman<br />
        20<br />
    </div>
    <p class="slokadescription">
        I see your form being spread to all directions of the universe. The three
        worlds shiver seeing your dreadful form.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        amī hi tvāṁ sura-saṅghā viśanti<br />
        kecid bhītāḥ prāñjalayo gṛṇanti<br />
        svastīty uktvā maharṣi-siddha-sanghaḥ<br />
        stuvanti tvām stutibhiḥ puṣkalābhih<br />
        21<br />
    </div>
    <p class="slokadescription">
        A group of Gods enter into you, some folding their hands uttering your
        names and glories, out of fear. The great Risis and siddhas say “Let there be
        peace” and pray to you by sacred hymns.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        rudrādityā vasavo ye ca sādhyā<br />
        viśve 'śvinau marutaścoṣmapāś ca<br />
        gandharva-yakṣāsura-siddha-saṅghāḥ<br />
        vīkṣante tvāṁ vismitāś caiva sarve<br />
        22<br />
    </div>
    <p class="slokadescription">
        Many look upon You with severe anxiety and fear. They include eleven
        Rudras, twelve Adithyas and eight Vasus, Sadhyas and Visvedevas, two Aswini
        devas, fortynine Maruths, Manes, Gandharvas, Yakshas, Asuras and Siddhas.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        rūpaṁ mahat te bahu-vaktra-netraṁ<br />
        mahā-bāho bāhu-bāhūru-pādam<br />
        bahūdaram bahu-damṣṭrā-karālaṁ<br />
        dṛṣṭvā lokāh pravyathitās tathāham<br />
        23<br />
    </div>
    <p class="slokadescription">
        I and the whole world have become terrified and peaceless with shivering,
        seeing your Supreme person spread the whole universe, brightening with different
        colours and your big mouth open; endowed with numerous arms, thighs and feet,
        having a number of bellies looking fierce with many teeth.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        nabhah-spṛśaṁ dīptam aneka-varṇaṁ<br />
        vyāttānanaṁ dīpta-viśāla-netram<br />
        dṛṣṭvā hi tvām pravyathitāntar-ātmā<br />
        dhṛtiṁ na vindāmi śamaṁ ca viṣṇo<br />
        24<br />
    </div>
    <p class="slokadescription">
        I have become frightened and lost my control seeing your Supreme person
        extending up to heavens, bright, multi coloured with mouths wide open and with
        large flaming eyes.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        daṁṣṭrā-karālāni ca te mukhāni<br />
        dṛṣṭvaiva kālānala-sannibhāni<br />
        diśo na jāne na labhe ca śarma<br />
        prasīda deveśa jagan-nivāsa<br />

        25<br />
    </div>
    <p class="slokadescription">
        I am frightened and lost happiness and balance of mind altogether, seeing
        your dreadful faces and teeth; flaming like fire of total universal destruction.
        Therefore, You may please be kind enough to release me from the fear.
        The vision of the Supreme person of the Lord, though was mild and soothing
        to Arjuna, in the beginning; it developed into dreadful vision and Arjuna prayed to
        Krisna to be kind enough to release him from the dreadful sights.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        amī ca tvāṁ dhṛtarāṣṭrasya putrāh<br />
        sarve sahaivāvani-pāla-saṅghaiḥ<br />
        bhīṣmo droṇah sūta-putras tathāsau<br />
        sahāsmadīyair api yodha-mukhyaiḥ<br />
        [26]<br /><br />
        vaktrāṇi te tvaramānā viśanti<br />
        daṁṣṭrā-karālāni bhayānakāni<br />
        kecid vilagnā daśanāntareṣu<br />
        sandṛśyante cūrṇitair uttamāṅgaiḥ<br />
        [27]<br />
    </div>
    <p class="slokadescription">
        I see Dhrtarastra, along with his sons and soldiers and a host of kings
        entering into your open mouth. Bhishma, Drona and Karna also enter into your
        mouth along with some chief warriors on our side, and are crushed under your
        teeth. Some are stuck up between the gaps of your teeth’s with their heads crushed
        terribly.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yathā nadīnāṁ bahavo 'mbu-vegāḥ<br />
        samudram evābhimukhā dravanti<br />
        tathā tavāmī nara-loka-vīrā<br />
        viśanti vaktrāṇy abhivijvalanti<br />
        28<br />
    </div>
    <p class="slokadescription">
        As the streams of various rivers merge into the sea, the powerful warriors enter
        in your flaming mouth.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yathā pradīptaṁ jvalanaṁ pataṅgā<br />
        viśanti nāśāya samṛddha-vegāḥ<br />
        tathaiva nāśāya viśanti lokāstavāpi<br />
        vaktrāṇi samṛddha-vegāḥ<br />
        29<br />
    </div>
    <p class="slokadescription">
        As the little flies and insects speedily rush into the blazing fire to meet their
        end, solders speedily enter into your mouth for their extinction.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        lelihyase grasamānaḥ samantāl<br />
        lokān samagrān vadanair jvaladbhih<br />
        tejobhir āpūrya jagat samagraṁ<br />
        bhāsas tavogrāh pratapanti viṣṇo<br />
        30<br />
    </div>
    <p class="slokadescription">
        Lord, swallowing with your mouth you are licking people on all sides. You
        are burning the entire universe with the terrible radiance of fire.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        ākhyāhi me ko bhavān ugra-rūpo<br />
        namo 'stu te deva-vara prasīda<br />
        vijñātumicchami bhavantam ādyaṁ<br />
        na hi prajānāmi tava pravṛttim<br />
        31<br />
    </div>
    <p class="slokadescription">
        Arjuna prayed: I prostrate before you, please tell me who you are in the
        terrible form? Be pity on me I wish to know more about you the God of creation
        and your purpose.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śrī-bhagavān uvāca<br /><br />
        kalo 'smi loka-kṣaya-kṛt pravṛddho<br />
        lokān samāhartum iha pravṛttaḥ<br />
        ṛte 'pi tvāṁ na bhaviṣyanti sarve<br />
        ye 'vasthitāh pratyanikeṣu yodhāḥ<br />
        32<br />
    </div>
    <p class="slokadescription">
        Krisna said: I am Kala, the destroyer of the worlds. I am to destroy these
        people even without you and that all the warriors arrayed in the enemy side should
        die.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tasmāt tvam uttiṣṭha yaśo labhasva<br />
        jitvā śatrūnbhuṅkṣva rājyaṁ samṛddham<br />
        mayaivaite nihatāh pūrvam eva<br />
        nimitta-mātraṁ bhava savya-sācin<br />
        33<br />
    </div>
    <p class="slokadescription">
        Therefore Arjuna, you arise and get ready to fight and win the glory and
        enjoy the rich kingdom. The warriors stand before us are already slain by Me and
        that you are only an instrument.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        droṇaṁ ca bhīṣmaṁ ca jayadrathaṁ ca<br />
        karṇaṁ tathānyān api yodha-vīrān<br />
        mayā hatāṁs tvaṁ jahi mā vyathiṣṭhā<br />
        yudhyasva jetāsi raṇe sapatnān<br />
        34<br />
    </div>
    <p class="slokadescription">
        Krisna asked Arjuna: kill Drona, Bishma, Jayadratha and Karna along with
        other warriors who stand already killed by Me. You need not fear, victory will be
        yours and therefore fight.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sañjaya uvāca<br /><br />
        etac chrutvā vacanaṁ keśavasya<br />
        kṛtāñjalir vepamānaḥ kirītī<br />
        namaskṛtvā bhūya evāha kṛṣṇaṁ<br />
        sa-gadgadaṁ bhīta-bhītaḥ praṇamya<br />
        [35]<br />
        arjuna uvāca<br /><br />
        sthāne hṛṣīkeśa tava prakīrtyā<br />
        jagat prahṛṣyaty anurajyate ca<br />
        rakṣāṁsi bhītāni diśo dravanti<br />
        sarve namasyanti ca siddha-saṅghāḥ<br />
        [36]<br />
    </div>
    <p class="slokadescription">
        Sanjaya said: Arjuna bowed before Krisna hearing the words and spoke to
        him with extreme terror. The entire world worshipping you is very happy and
        loves you, the demons fearing run away in different directions and the virtuous
        are bowing before you
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        kasmācca te na nameran mahātman<br />
        garīyase brahmaṇo 'py ādi-kartre<br />
        ananta deveśa jagan-nivāsa<br />
        tvam akṣaraṁ sad-asat tat paraṁ yat<br />
        37<br />
    </div>
    <p class="slokadescription">
        Arjuna said: You are the great and primordial cause even to Brahma and the
        Supreme Guru. How all do not bow before you? You are the visible and subtle,
        imperishable and the God of all Gods and the Brahma.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tvam ādi-devaḥ puruṣah purāṇastvam<br />
        asya viśvasya paraṁ nidhānam<br />
        vettāsi vedyaṁ ca paraṁ ca dhāma<br />
        tvayā tataṁ viśvam ananta-rūpa<br />
        38<br />
    </div>
    <p class="slokadescription">
        Arjuna continued: You are the original deity and the most ancient entity and
        the ultimate abode of all. You are the knowledge and the knowable. You pervade
        the whole world in endless forms.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        vāyur yamo 'gnir varuṇah śaśāṅkaḥ<br />
        prajāpatis tvaṁ prapitāmahaś ca<br />
        namo namas te 'stu sahasra-kṛtvah<br />
        punaś ca bhūyo 'pi namo namas te<br />
        39<br />
    </div>
    <p class="slokadescription">
        You are Vayu (the wind God), Yama (the God of death), Agni ( the God of
        fire), the Moon God, Brahma (God of creations) and even the father of Brahma. I
        humbly bow before you a thousand times.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        namaḥ purastādatha pṛṣṭhatas te<br />
        namo 'stu te sarvata eva sarva<br />
        ananta-viryāmita-vikramas tvaṁ<br />
        sarvaṁ samāpnoṣi tato 'si sarvah<br />
        40<br />
    </div>
    <p class="slokadescription">
        Arjuna said: Krisna, you are the Lord of the universe with infinite powers. I
        offer my salutations to you from, in front of you and from behind. I revere and bow
        to you from all sides. You, have the limitless power, and pervade everywhere and
        you are everything.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sakheti matvā prasabham yad uktam<br />
        he kṛṣṇa he yādava he sakheti<br />
        ajānatā mahimānaṁ tavedaṁ<br />
        maya pramādāt praṇayena vāpi<br />
        [41]<br />
        yaccāvahāsārthaṁ asat-kṛto 'si<br />
        vihāra-śayyāsana-bhojaneṣu<br />
        eko'thavapyacyuta tat-samakṣaṁ<br />
        tat kṣāmaye tvām aham aprameyam<br /> [42]<br />
    </div>
    <p class="slokadescription">
        Without knowing the greatness of you I have addressed you ‘O Krisna, O
        Yadava, O comrade.’ It was due to my ignorance or love. I could not serve you well
        at plays, reposing, sitting or at meals. Kindly forgive me.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        pitāsi lokasya carācarasya<br />
        tvamasya pūjyasca gurur garīyān<br />
        na tvat-samo'sty abhyadhikaḥ kuto 'nyo<br />
        loka-traye'py apratima-prabhāva<br />
        43<br />
    </div>
    <p class="slokadescription">
        Krisna, You are really the father and Guru of this world. You are the most
        powerful in the three worlds.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tasmāt pranamya praṇidhāya kāyaṁ<br />
        prasādaye tvām aham īśamīdyam<br />
        piteva putrasya sakheva sakhyuh<br />
        priyaḥ priyāyārhasi deva soḍhum<br />
        44<br />
    </div>
    <p class="slokadescription">
        Arjuna prostrated before Krisna: You are the ruler of the universe and worthy
        of praise. I ask You to pardon me as a father to his son, friend to his friend and
        husband to his loving wife.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        adṛṣṭa-pūrvaṁ hṛṣito 'smi dṛṣṭvā<br />
        bhayena ca pravyathitaṁ mano me<br />
        tadeva me darśaya deva rūpaṁ<br />
        prasīda devesa jagannivāsa<br />

        45<br />
    </div>
    <p class="slokadescription">
        I feel transformed into happiness seeing your wonderful form which I did not
        see before. But at the same time there is fear in my mind. I pray to you to reveal
        me your Divine form of Vishnu with four arms; you are the abode of everything and
        the most gracious.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        kirītinaṁ gadinaṁ cakra-hastam<br />
        icchāmi tvāṁ draṣṭum ahaṁ tathaiva<br />
        tenaiva rūpena catur-bhujena<br />
        sahasra-bāho bhava viśva-mūrte<br />
        46<br />
    </div>
    <p class="slokadescription">
        Kindly reveal to me your Divine crowned form with four arms carrying a
        conch and discus in either of the two hands and lotus and club in other two hands;
        though you have thousands of arms.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śrī-bhagavān uvāca
        mayā prasannena tavārjunedaṁ<br />
        rūpaṁ paraṁ darśitam ātma-yogāt<br />
        tejomayaṁ viśvam anantam ādyaṁ<br />
        yanme tvadanyena na dṛṣṭapūrvam<br />
        47<br />
    </div>
    <p class="slokadescription">
        Krisna said: I showed you my Divine Supreme forms as I am pleased with
        you. Nobody has seen My universal form, ever before, so effulgent, primal and
        infinite.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        na veda-yajñādhyayanairna dānair<br />
        na ca kriyābhir na tapobhirugraiḥ<br />
        evaṁ-rūpaḥ śakya ahaṁ nṛloke<br />
        draṣṭuṁ tvadanyena kurupravīra<br />
        48<br />
    </div>
    <p class="slokadescription">
        Krisna continued: Arjuna, nobody other than you could see my universal
        Supreme person even by studying Vedas, doing sacrifices, giving alms, by
        severe penance or by virtuous actions.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        mā te vyathā ma ca vimūḍha-bhavo<br />
        dṛṣṭvā rūpaṁ ghoram īdṛṅ mamedam<br />
        vyapetabhih prīta-manāḥ punastvaṁ<br />
        tadeva me rūpamidaṁ prapaśya<br />
        49<br />
    </div>
    <p class="slokadescription">
        Don’t be perplexed or feared seeing my dreadful forms; you may now behold
        My beautiful form; four armed form wearing the conch, discus, mace and lotus.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sanjaya uvāca<br /><br />
        ityarjunaṁ vāsudevastathoktvā<br />
        svakaṁ rūpaṁ darśayāmāsa bhūyaḥ<br />
        āśvasayamāsa ca bhītamena<br />
        bhūtvā punaḥ saumyavapur mahātmā<br />
        50<br />
    </div>
    <p class="slokadescription">
        Sanjaya told Dhrutaristra: Lord Krisna showed the beautiful and gentle form
        with four arms and consoled the frightened Arjuna.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        arjuna uvāca<br /><br />
        dṛṣṭvedaṁ mānuṣaṁ rūpaṁ<br />
        tava saumyaṁ janārdana<br />
        idānīmasmi saṁvṛttaḥ<br />
        sacetāḥ prakṛtiṁ gataḥ<br />
        51<br />
    </div>
    <p class="slokadescription">
        Arjuna said: Krisna, I have regained my former state of composure and
        calmness seeing your gentle form.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śrī-bhagavān uvāca<br /><br />
        su-durdarśamidaṁ rūpaṁ<br />
        dṛṣṭavānasi yanmama<br />
        devā apyasya rūpasya<br />
        nityaṁ darśana-kāṅkṣiṇaḥ<br />
        52<br />
    </div>
    <p class="slokadescription">
        Krisna said: It is very difficult to see My Supreme form. Even gods like to
        see this form.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        nāhaṁ vedairna tapasā<br />
        na dānena na cejyayā<br />
        śakya evaṁvidho draṣṭuṁ<br />
        dṛṣṭavānasi māṁ yathā<br />
        53<br />
    </div>
    <p class="slokadescription">
        It is not possible by the study of Vedas or penance or by sacrifice to see My
        universal form as you have seen.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        bhaktyā tvananyayā śakya<br />
        aham evam-vidho 'rjuna<br />
        jñātuṁ draṣṭuṁ ca tattvena<br />
        praveṣṭuṁ ca parantapa<br />
        54<br />
    </div>
    <p class="slokadescription">
        Arjuna, it is only by one with determinate and stable mind and devotion can
        have the vision of my divine Supreme person and enter into Me.
    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        mat-karma-kṛn mat-paramo<br />
        mad-bhaktaḥ saṅga-varjitaḥ<br />
        nirvairaḥ sarva-bhūteṣu<br />
        yaḥ sa māmeti pāṇḍava<br />

        55<br />
    </div>
    <p class="slokadescription">
        Arjuna, to reach Me one should perform all his right duties devotedly
        depending on Me, without attachment to any objects and hatred to anybody.
        In the chapter of Viswaroopa Darshana, the vision of the Supreme person,
        Sri Krisna suggests that everything in this universe is originated from His own
        entity, the Supreme consciousness. Arjuna saw the most dreadful of the Supreme
        and most beautiful and gentle form of the Lord. Arjuna was satisfied. His fears
        subsided and his faith increased. He got ready for the war.
    </p>
</div>
