@{
    ViewBag.Title = "The Light of Gita - Chapter VI";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter VI</h2>
        <h3 style="color:#0094ff;">Atma Samyama Yoga</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                The words ‘Atma samnyama’ refer to the control of one’s mind. It looks for as to how mind can be withdrawn from sense objects and can be directed towards the Supreme. A man’s mind is generally filled with a number of thoughts, positive and negative. ‘Dhyana’ refers to meditating upon God the infinite love and consciousness. It is the true dhyana or meditation.Naturally all the thoughts are related to mundanities and attached to sensual desires. Peace of mind is disturbed as the thought waves are increasing and even overlapping continuously. When the thoughts are very few one feels more and more peace of mind. By controlling the thoughts, related to sensual objects one can get internal peace. When the thought waves subside one’s mind becomes peaceful. Yoga is easy for a peaceful mind. When thought waves are continuously generated in one’s mind, one after another or simultaneously it becomes difficult to maintain equipose of mind. By the dhyana of the Supreme consciousness in the form of love and compassion one can easily get control over his senses and mind. It is said that the unit self (soul) shall have a long pilgrimage through births and deaths until the mind becomes purified enough to be merged with the Supreme. Dhyana helps one to purify his mind.
            </p>
            <p class="slokadescription">
                Do meditate upon the infinite love and compassion of the Supreme consciousness and get control over your senses and make your soul free to realize and merge with the Supreme.
            </p>
        </div>
    </div>
</div>
<div class="slokaWrapper">
    <div class="slokaDiv">
        -
    </div>
    <p class="slokadescription">
        -
    </p>
    <hr class="slokadividerL" />
    <br />
</div>