@{
    ViewBag.Title = "The Light of Gita - Chapter XI";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter XI</h2>
        <h3 style="color:#0094ff;">Viswaroopa Darsana</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                The Lord, Sri Krisna has revealed the secret of the universe and spirituality, also about the power of the human mind and its helplessness etc. through the ten previous chapters (I-X). But Arjuna was not fully convinced. Therefore Sri Krisna was compelled to give Arjuna the vision of his universal person making him ready for the performance of his moral obligation to fight against Kauravas. Sri Krisna was pleased to have Arjuna the divine vision of His universal divine form covering the whole universe. This vision made Arjuna to belive that there is nothing beyond Krisna and he got ready forthwith to fight.
                <br /><br />
                It is very difficult to convince a person of the Supreme consciousness unless he is inclined to it with deep devotion. 
            </p>
        </div>
    </div>
</div>

<div class="slokaWrapper">

        <div class="slokaDiv">
            arjuna uvāca
            <br /><br />
            mad-anugrahāya paramaṁ<br />
            guhyam adhyātma-samjñitam <br />
            yat tvayoktaṁ vacastena<br />
            moho 'yaṁ vigato mama<br />
            [1]
        </div>
        <p class="slokadescription">
            Arjuna said: I am very thankful to you for the deep spiritual wisdom imparted to me with love and affection. The delusion existed in me has completely vanished. 
            <br /><br />
            As a result of the profound knowledge imparted to Arjuna he felt very happy and his doubts were disappeared. Krisna revealed to Arjuna the subtle and sacred knowledge. It is said that great  seer’s words are light. 
        </p>
        <hr class="slokadividerL" />
        <br />
        <!-- ***div*** -->
        <div class="slokaDiv">
            bhavāpyayau hi bhūtānāṁ 
            śrutau vistaraśo mayā 
            tvattah kamala-patrākṣa 
            māhātmyam api cāvyayam 
            [2]
        </div>
        <p class="slokadescription">
            Arjuna said: I have heard from you the details of evolution and the final dissolution of beings and about the immortal glory of your status.
        </p>
        <hr class="slokadividerR" />
        <br />
        <!-- ******div****** -->


    <div class="slokaDiv">
        evam etad yathāttha tvam
        ātmānaṁ parameśvara 
        draṣṭum icchāmi te rūpam 
        aiśvaraṁ puruṣottama 
        [3]
    </div>
    <p class="slokadescription">
        Arjuna continued: I have no doubt that what you have said is true, yet I am eager to see your Supreme divine person of glory, wisdom, energy, strength, valour and brightness.
    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">
        manyase yadi tacchakyaṁ 
        mayā draṣṭum iti prabho 
        yogeśvara tato me tvaṁ 
        darśayātmānam avyayam
        [4]
    </div>
    <p class="slokadescription">
        Arjuna prayed: Krisna, If you find I am eligible, kindly reveal your Supreme imperishable form to me. 
    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->


    <div class="slokaDiv">
        śrī-bhagavān uvāca

        paśsya me pārtha rūpāni
        śataśo 'tha sahasraśaḥ 
        nānā-vidhāni divyāni
        nānā-varnākṛtīni ca 
        [5]
    </div>
    <p class="slokadescription">
        Krisna said: You see my hundreds and thousands of divine forms in different colours and shapes. 
    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">
        paśyādityān vasūn rudrān
        aśvinau marutastathā
        bahūny adṛṣṭa-pūrvāṇi
        paśyaścaryāṇi bhārata
        [6]

        ihaika-sthaṁ jagat kṛtsnaṁ
        paśyādya sa-carācaram
        mama dehe guḍākeśa
        yaccānyad draṣṭum icchasi
        [7]
    </div>
    <p class="slokadescription">
        Arjuna, You may see suns vasus, Rudras (the god of destruction), Aswini Devas, wind Gods etc. You may also see other wonderful forms you have never seen before.

        Krisna asked Arjuna: Behold in Me all the animate and inanimate beings and whatever else you want to see. 
    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->


    <div class="slokaDiv">
        na tu māṁ sakyase draṣṭum 
        anenaiva sva-cakṣuṣā 
        divyaṁ dadāmi te cakṣuḥ 
        paśya me yogam aiśvaram 
        [8]
    </div>
    <p class="slokadescription">
        You cannot see My supreme person by your naked eyes. And I therefore give you the divine eye by which you can see My supreme yogic form. 
    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">
        sanjaya uvāca

        evam uktvā tato rājan
        mahā-yogeśvaro hariḥ
        darśayāmasa pārthāya
        paramaṁ rūpam aiśvaram
        [9]
    </div>
    <p class="slokadescription">
        Sanjaya told Drutharastra that Sri Krisna showed his Supreme person to Arjuna
    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->


    <div class="slokaDiv">
        aneka-vaktra-nayanam 
        anekadbhūta-darśanam
        aneka-divyābharanaṁ
        divyānekodyatāyudham
        [10]

        divya-mālyāmbara-dharaṁ 
        divya-gandhānulepanam 
        sarvāścarya-mayaṁ devam 
        anantaṁ viśvato-mukham 
        [11] 
    </div>
    <p class="slokadescription">
        Arjuna saw the wonderful cosmic form of Sri Krisna possessing many mouths and eyes, wearing many divine ornaments and with lifted weapons, wearing divine garments and cloths covered by sandal-pastes all over the body and infinite faces directed to all sides. Arjuna saw the divine cosmic form, very much shining and spreading light around. 
    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">
        divi sūrya-sahasrasya
        bhaved yugapadutthitā 
        yadi bhāh sadṛśī sā syād
        bhāsastasya mahātmanaḥ
        [12]
    </div>
    <p class="slokadescription">
        Arjuna saw the Divine effulgence as if thousand suns rising forth, spreading lights around. 
    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->

    <div class="slokaDiv">
        tatraika-sthaṁ jagatkṛtsnaṁ 
        pravibhaktamanekadhā 
        apaśyad deva-devasya 
        śarīre pāṇḍavastadā
        [13]
    </div>
    <p class="slokadescription">
        Arjuna saw the entire world in the Supreme person of Sri Krisna in different forms. 
    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">
        tataḥ sa vismayāviṣṭo
        hṛṣṭa-romā dhanañjayaḥ 
        pranamya śirasā devaṁ 
        kṛtāñjalirabhāṣata [14]

        arjuna uvāca

        paśyāmi devāmstava deva dehe sarvāṁstathā bhūta-viśeṣa-saṅghān brahmāṇamīśaṁ kamalāsanastham- ṛṣīṁśca sarvān uragāṁśca divyān [15] 
    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->



    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->




    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->




    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->




    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->



    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->




    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->





    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->




    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->




    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->







    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->







    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->







    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->






    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->



    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->



    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->




    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->




    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />
    <!-- ***div*** -->
    <div class="slokaDiv">


    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
    <!-- ******div****** -->
</div>