@{
    ViewBag.Title = "The Light of Gita - Chapter II";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter II</h2>
        <h3 style="color:#0094ff;">Sankhya Yoga (Jnana yoga)</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                The term yoga refers to the union of individual soul (unit self) with the Supreme (Paramatma). The Seers, the wise and the devotees of God incessantly try to attain the state of communion of their souls with the God, the Supreme consciousness. Those who try for the communion of soul by acquiring right knowledge of the Paramatma (Supreme) are called the Sankhya. Sri Krisna tries to reveal the secret of Sankhya yoga in this chapter. We are fortunate enough to know it through the discussions of Arjuna and Sri Krisna. The process of Jnana yoga, unveils the secrets of the most subtle realms of human mind   and even beyond. It is true that the discussion is not mainly concerned with the message of war but of the deep inner realities and possibilities of the human mind.
            </p>
            <p class="slokadescription">
                The discussion is not only confined to mind but also of subtler realms, i.e. related to spirituality. The impending war acts only as a veil to the secrets being revealed. We can see through out this chapter that a Pandora’s Box of knowledge open. We shall approach it with utmost humbleness to get the hidden knowledge unveiled. SriKrisna opens his deep discussion on conscious realms, starting from this chapter onwards, like a beautiful lotus getting slowly bloomed into its perfect beauty and glory.
            </p>
        </div>
    </div>
</div>

<div class="slokaWrapper">

    <div class="slokaDiv">
        sañjaya uvāca:
        <br />
        taṁ tathā kṛpayāviṣṭa-<br />
        maśrupūrṇākulekṣaṇaṁ<br />
        viṣīdantamidaṁ vākyam-<br />
        uvāca madhusūdanaḥ <br />[1]<br />
        <br /><br />
        śrī Bhagavān uvāca:<br />
        kutasthvā kaśmalamidaṁ<br />
        viṣame samupasthitam<br />
        anāryamajuṣṭam asvargyam-<br />
        akīrtikaramarjuna <br />[2]
    </div>
    <p class="slokadescription">
        Sanjaya said: Sri Krisna asked Arjuna who was depressed, distressed, and very sad with tears filled in his eyes and in a helpless mood.
        <br />Why do you behave like a fool, not getting ready for the war, at this critical situation? It is not proper for a noble warrior like you and that it will neither bring heaven nor fame to you.
        <br />There is a saying that those who die in the battle for a good cause will attain heaven.
    </p>
    <hr class="slokadividerL" />
    <br />
    
    <div class="slokaDiv">
        klaibyaṁ mā sma gamaḥ<br />
        pārtha naitattvayyupapadyate<br />
        kṣudraṁ hṛdayadaurbalyaṁ<br />
        tykatvottiṣṭa parantapa <br />[3]<br /><br />

        Arjuna uvāca:<br />

        kathaṁ bhīṣmamahaṁ saṅkhe<br />
        droṇaṁ ca madhusūdana<br />
        iṣubhiḥ pratiyotsyāmi<br />
        pūjārhāvarisūdana<br /> [4]
    </div>
    <p class="slokadescription">
        Arjuna, you being the scorcher of enemies it is unbecoming on your part. Therefore shake off weak heartedness, stand up and get ready for the fight.
        Arjuna said: Krisna, how can I kill the most reverent persons like Bishma and Drona in the battle?
        <br />Bishma was the great grand uncle of Pandavas and Kauravas and Drona was the guru who taught the art of archery to both the Pandavas and the Kauravas.
        <br />Killing of parents or gurus remains a severe and lasting pain of man in the history of his civilization.
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        gurῡn ahatvā hi mahānubhāvān<br />
        śreyo bhoktuṁ bhaikṣyam apīha loke<br />
        hatvārtha-kāmāmstu gurūn ihaiva<br />
        bhuñnjīya bhogān rudhira-pradigdhān<br />
        [5]
    </div>
    <p class="slokadescription">
        It is better to lead a life of a beggar than killing the noble elders and that it is meaningless to enjoy the blood stained pleasures of wealth and sensual enjoyments after killing great men.
        It seems a genuine argument.
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        na caitad vidmah kataran no garīyo<br />
        yad vā jayema yadi vā no jayeyuḥ<br />
        yān eva hatvā na jijiviṣāmas<br />
        te 'vasthitāḥ pramukhe dhārtarāṣṭrāḥ<br />
        [6]
    </div>
    <p class="slokadescription">
        I do not know which is preferable, to fight the war or not. It is not sure whether we will win or they. I have no desire to live killing the Kauravas arrayed to fight against us.
        Arjuna was in severe dilemma.
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        kārpanya-dosopahata-svabhavāḥ<br />
        prcchāmi tvam dharma-sammudha-cetāḥ<br />
        yac chreyah syān niscitam bruhi tan me<br />
        sisyas te 'ham śādhi māṁ tvāṁ prapannaṁ<br />
        [7]
    </div>
    <p class="slokadescription">
        My mind is puzzled and I am not able to judge what is wrong and what is right. I am your disciple and find refuge in you, Krisna. You therefore kindly advise me which is decidedly better.
        <br />There is a practice among people approaching a guru to get the right advice at critical situations. But often they do not follow the advices that are against their material desires.
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        na hi prapaśyāmi mamāpanudyād<br />
        yac chokam ucchoṣanam indriyānām<br />
        avāpya bhūmāvasapatnam ṛddhaṁ<br />
        rājyaṁ surāṇām api cādhipatyam<br />
        [8]
    </div>
    <p class="slokadescription">
        I do not think that my grief could be driven away, even by getting the rich kingdom on the earth or the lordship of Devas above.
        <br />Arujna’s mind was filled with severe grief on the possible consequence of the war ahead.
        <br />It is also true for a common man that his guilt will continue to haunt him torturing, till death. Even in a great Guru there exists a very common mind as well. Only a very few know this.
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        sanjaya uvāca:
        <br />
        evamuktvā hṛsikesaṁ<br />
        gudākesah parantapaḥ<br />
        na yotsya iti govindam<br />
        uktvā tūṣṇīm babhῡva ha<br />[9]
    </div>
    <p class="slokadescription">
        Sanjaya said to Drutarastra: Having expressed his pathetic condition to Krisna, Arjuna reiterated that “He would not fight and kept silence.”
        <br />Normally such a decision of a war cannot be changed on a sudden.
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        tam uvāca hrsikeśaḥ<br />
        prahasann iva bhārata<br />
        senayorubhayor madhye<br />
        viṣīdantam idam vacah<br />
        [10]
    </div>
    <p class="slokadescription">
        Sri Krisna has told the following, with a more or less insulting smile to Arjuna who was in the midest of worries and in a deeply depressed state.
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        sri-bhagavān uvāca:
        <br />
        aśocyān anvaśocastvaṁ<br />
        prajñā-vādāms ca bhāṣase<br />
        gatāsūn agatāsῡṁśca<br />
        nānusocanti panditāḥ<br />
        [11]
    </div>
    <p class="slokadescription">
        You are in deep grief unnecessarily and speak like a learned man of wisdom. Wise men are not so sad over the dead or the living.
        <br />These types of excuses are common with many who withdraw themselves at the crucial point of time from an act putting the blame and burden on others.
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        natvevāham jātu nāsaṁ<br />
        na tvam neme janādhipāḥ<br />
        na caiva nabhavisyāmaḥ<br />
        sarve vayam atah param<br />
        [12]
    </div>
    <p class="slokadescription">
        Krisna said: You, I and the kings who gathered to fight here existed in the past and will continue to exist. Life does not cease forever by death.
        <br />Here, Sri Krisna reveals that birth and death will continue till one attains the ultimate state of liberation or moksha.
        Rebirth is one of the central concepts of the Eastern philosophies. The Western philosophies do not have a clear concept in the matter.
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        dehino 'smin yathā dehe<br />
        kaumaraṁ yauvanaṁ jarā<br />
        tathā dehāntara-prvptir<br />
        dhīrastatra na muhyati<br />
        [13]
    </div>
    <p class="slokadescription">
        The soul residing in the body is attributed to boyhood, youth and old age until the soul seeks another body after death for reincarnation or rebirth. No wise man becomes deluded by this.
        <br />Births and deaths go on repeatedly until the soul merges with the Supreme. So, one shall be ready for a better life, if not liberated, at the next birth.
        Do good to others shedding egoism, arrogance and selfishness to get a better life, hereafter.
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        mātrāsparśāstu kaunteya<br />
        śītosna-sukha-duhkhadāḥ<br />
        āgamāpāyino'nityas-<br />
        tāmstitiksaṣva bhārata<br />
        [14]
    </div>
    <p class="slokadescription">
        O son of Kunti, the dichotomic feelings of heat and cold, pleasure and pain etc. are due to the contact of senses with their objects of enjoyment. But these feelings are short lived. Better to ignore them.
        All pleasures and pains are transitory. Every beginning follows an end.
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        yam hi na vyathayantyete<br />
        purusam puruṣarṣabha<br />
        sama-duhkha-sukhaṁ dhīraṁ<br />
        so 'mrtatvāya kalpate<br />
        [15]
    </div>
    <p class="slokadescription">
        Krisna said; Arjuna, wise men do not bother for pleasure and pain and that they are not affected by the pair of opposites. Persons with equanimity only, shall become immortal.
        <br />It is not wise to remain in grief over the miseries or pains and to enthuse much over pleasures for they are transitory.
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        nāsato vidyate bhāvo<br />
        nābhāvo vidyate sataḥ<br />
        ubhayor api dṛṣṭo'ntas-<br />
        tvanayostattva-darśibhiḥ<br />
        [16]
    </div>
    <p class="slokadescription">
        The unreal has no permanent existence and the real never becomes extinct. The real exists all the time and the unreal goes on changing its form.
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        avināśi tu tadviddhi<br />
        yena sarvamidam tatam<br />
        vināśam avyayasyāsya<br />
        na kaścitkartum arhati<br />
        [17]
    </div>
    <p class="slokadescription">
        The term ‘asad’ refers to the illusionary world. The ultimate truth is the same that exists for ever. It is nothing other than the Supreme.
        <br />The all-pervading entity only is imperishable and that nobody can destroy that entity.
        <br />God alone is the ultimate truth and the indestructible.
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        antavanta ime dehā<br />
        nityasyoktāh śarīriṇaḥ<br />
        anāśino 'prameyasya<br />
        tasmād yudhyasva bhārata<br />
        [18]
    </div>
    <p class="slokadescription">
        The soul, residing in the body, is imperishable and eternal.
        As the body is perishable, there is no need to worry over the body.
        Some think that they are long living though not imperishable. They do not and cannot think of their deaths till seriously bed ridden.
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        ya enam vetti hantāraṁ<br />
        yaścainam manyate hatam<br />
        ubhau tau na vijānīto<br />
        nāyam hanti na hanyate<br />
        [19]
    </div>
    <p class="slokadescription">
        No one can kill the soul or the soul can be killed. Those who think so are fools.
        The atma is eternal and a part of the Supreme Being.
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        na jāyate mriyate vā kadācin<br />
        nāyam bhῡtvā bhavitā vā na bhῡyaḥ<br />
        ajo nityah śāśvato 'yam purāno<br />
        na hanyate hanyamāne śarire<br />
        [20]
    </div>
    <p class="slokadescription">
        Atma (soul) has never taken birth or is dead. Only the ignorant thinks that the soul can be killed. It is eternal and without beginning or end.
        Nobody can kill the one without beginning or end. The atma is a temporary resident in our body.
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        vedāvināśinam nityaṁ<br />
        ya enam ajam avyayam<br />
        katham sa purusah pārtha<br />
        kam ghātayati hanti kam<br />
        [21]
    </div>
    <p class="slokadescription">
        Arjuna, if one knows that the soul is imprishable, eternal and free from birth and death, who can kill it or causes it to be killed?
        It shows that the soul cannot be killed which is eternal.
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        vāsāmsi jirnani yathā vihāya<br />
        navāani grhṇāti naro 'parāni<br />
        tathā sarīrāni vihāya jirnāny<br />
        anyāni samyāti navāni dehī<br /> 
        [22]
    </div>
    <p class="slokadescription">
        As if human beings cast away, the old clothes; the soul residing in human body leaves the worn out bodies and enters into new bodies.
        <br /><br />
        Those who know the secret of dreams hold that changing of new dress is a symbol of rebirth or death. Thus rebirths continue till the soul gets liberation. 
        <br/><br />
        This is a clear deviation of the Eastern philosophy, from the Western. The Eastern is based on the concept of reincarnation. This concept was developed by many Eastern seers including Lord Buddha, as a result of their deep and long meditations on the Supreme and their experiences in spirituality.
        <br /><br />
        Everybody’s life is a continuous journey until his soul merges with the Supreme. There is a message to all that we should lead a life fulfilling our moral obligations to ourselves and to the society.
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        nainam chindanti śastrāni<br/>
        nainam dahati pāvakaḥ <br/>
        na cainam kledayanty āpo <br/>
        na śoṣayati mārutaḥ <br/>
        [23]
        <br/><br/>
        acchedyo 'yam adāhyo 'yam<br/>
        akledyo 'śoṣya eva ca<br/>
        nityah sarva-gatah sthānur<br/>
        acalo 'yam sanātanaḥ<br/>
        [24]   
        <br /><br />
    </div>
    <p class="slokadescription">
        The atma (soul) cannot be cut with weapon or burned by fire or wet by water or dried by wind. 
        <br />
        It means that the soul is beyond the purview of the five fundamental elements; Akas (Ether), Vayu (Air), Agni (Fire), Jala (Water) and Bhoomi (Earth).
        <br />
        Atma being a small particle of the Supreme consciousness is not a part of power (Prakriti). It is further made clear that God is not power but the entity beyond the fundamental elements of power. 
        <br />
        The Supreme is eternal (everlasting), omnipresent and immovable but the unit soul is under the bondage of the forces of Prakriti represented by one’s mind. 
        <br />
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        avyakto 'yam acintyo 'yam<br/>
        avikvryo 'yam ucyate<br />
        tasmād evam viditvainaṁ<br />
        nānuśocitum arhasi <br />
        [25] 
    </div>
    <p class="slokadescription">
        The soul is un-manifest and beyond the reach of our thoughts and is immutable. Therefore you need not be worried. <br/>
        The soul, used here is to mean the Paramatma. The unit soul feels pleasures and pains as it is under the grip of the mind influenced by the subtle principles of Prakriti.<br/>
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        atha cainaṁ nitya-jāta<br />
        nityaṁ vā manyase mrtam<br />
        tathāpi tvam mahā-bāho<br />
        nainam śocitum arhasi<br />
        [26]<br />
    </div>
    <p class="slokadescription">
        Arjuna, even when you think that the soul is subjected to death and rebirth why do you grieve in such a way? It is inevitable.<br />
        The arguments of Arjuna are not relevant and are the justifications of a coward. Any powerful man may be got puzzled while facing a more powerful person. <br />
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        jātasya hi dhruvo mrtyur<br /> 
        dhruvaṁ janma mrtasya ca<br /> 
        tasmād aparihārye 'rthe<br /> 
        na tvam śocitum arhasi <br />
        [27]<br />
    </div>
    <p class="slokadescription">
        As death is inevitable for the living and rebirth for the dead, there is no need to worry over.<br />
        Arjuna tries to escape from performing his moral obligation of fighting the war against the Kauravas. Krisna gives apt answers to his questions and justifications.<br />
        We know that there are some, in the ordinary course of life, who are negative in nature and often argue very vehemently against performing a right action. Such people cannot do anything good to the society, though often they live at the expense of others. <br />
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        avyaktādīni bhutāni<br />  
        vyakta-madhyāni bhārata<br />  
        avyakta-nidhanany eva<br />  
        tatra kā paridevanā<br />  
        [28]<br /> 
    </div>
    <p class="slokadescription">
        Arjuna, the beginning of all beings is not clear and so is their future.<br />  
        The present alone is clear to us and therefore it is meaningless to worry much over them.<br />  
        We should know that the present before us, is clear and that we should perform all our duties only at the present. Some may blame one stating that he would have and should have done such and such acts or work in the past. It is a technique to stop other’s arguments. No one can go back to the past and correctly do a work again. The irony is that the person blaming others so, would not have been ready to give any suggestion at the time of doing the action in the past. Such blamers are evil minded, negative and sinners. <br />  
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        āścarya-vat paśyati kaścid enam<br />
        āścarya-vad vadati tathaiva cānyaḥ<br />
        āścarya-vac cainam anyaḥ śṛṇoti<br />
        śrutvāpy enam veda na caiva kaścit<br />
        [29]<br />
    </div>
    <p class="slokadescription">
        One may hear about atma (soul) anxiously and one may speak about it seriously. But none actually knows the atma (soul) properly.<br /> 
        The knowledge of many about the atma is like the knowledge of the blind men explaining of the elephant they meet. The knowledge of the Supreme will never end. There is limitation to the human mind.<br /> 
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        dehi nityam avadhyo 'yaṁ<br />
        dehe sarvasya bhārata<br />
        tasmāt sarvāṇi bhῡtāni<br />
        na tvam śocitum arhasi <br />
        [30]<br />
    </div>
    <p class="slokadescription">
        Arjuna, why do you worry even after knowing that the soul residing in man cannot be slain?<br />
        The soul in everybody is the same, but the mind and the body differ. There is no body identical to another body, so is the mind. <br />
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        sva-dharmam api cāveksya<br />
        na vikampitum arhasi<br />
        dharmyād dhi yuddhāc chreyo 'nyat<br />
        kṣatriyasya na vidyate <br />
        [31]<br/>
    </div>
    <p class="slokadescription">
        There is nothing superior to one’s own moral obligations (dharma). The moral obligation of Ksatriya is to fight for a right cause.
        <br />
        Everybody must perform their moral obligations assigned to them. Those who do not perform their duty or run away from doing it, are sinners. 
        <br />
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        yadrcchayā copapannaṁ<br/>
        svarga-dvāram apāvṛtam<br/>
        sukhinaḥ kṣatriyāh pārtha<br/>
        labhante yuddham īdrśam <br/>
        [32]<br/>
    </div>
    <p class="slokadescription">
        Arjuna, war against evil is morally obliged and that it takes place only very rarely. Waging war against evil forces opens the gate way to heaven, for the Kshetriyas who die in the battle. <br/>
        This concept is practically good for it would act as an inspiration to the soldiers. We respect them earnestly on their death though none knows where their souls would go on leaving the body. <br/>
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        atha cet tvam imam dharmyaṁ<br />
        saṅgrāmaṁ na kariṣyasi<br />
        tatah sva-dharmaṁ kīrtiṁ ca<br />
        hitvā pāpam avāpsyasi <br />
        [33]<br/>
    </div>
    <p class="slokadescription">
        If you do not perform your moral obligation by fighting in the impending war, your fame will be lost as one who is not doing his duty and that you shall fall into sins.<br/>
        Everybody is destined to perform his moral duty inevitably. He who does not do his duty will be branded as sinners. <br/>
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        akirtiṁ cāpi bhῡtāni<br /> 
        kathayiṣyanti te 'vyayām<br /> 
        sambhāvitasya cākīrtir<br /> 
        maraṇād atiricyate<br />
        [34]<br/>
    </div>
    <p class="slokadescription">
        Others will carefully watch the loss of your fame. The ignominy (defamation) of a person, enjoying fame is worse than death.<br />
        We know that everyone doing wrong deeds is very particular for not it be known by others. It is very severe for a gentlemen falling victim of scandals which affect his good reputation. He may even commit suicide.<br /> 
        There are some who consider scandals as a credit. They are very grave sinners.<br />
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">
        bhayād raṇād uparataṁ<br /> 
        mamsyante tvām mahā-rathāḥ<br /> 
        yeṣām ca tvam bahu-mato<br /> 
        bhūtvā yāsyasi lāghavam <br /> 
        [35]<br/>
    </div>
    <p class="slokadescription">
        The enemy warrior chiefs may think that you manage to run away from the war field due to fear. You should know that they are who recognized you as a great warrior and that they would realize your real inner status on leaving the war field.<br />
        It is not desirable for anybody going away from performing his duty. Idle men often find excuses and keep aloof from doing their duties. However they are very eager to blame and find fault with others doing their right duties.<br />
        The psychology of the idle is to find fault with, those doing their duties. <br />
    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">
        avācya-vādāmś ca bahῡn<br /> 
        vadisyanti tavāhitāḥ<br />
        nindantas tava sāmarthyaṁ<br /> 
        tato duhkhataram nu kim <br />
        [36] <br/>
    </div>
    <p class="slokadescription">
        Your enemies will talk disparaging and unbecoming words against you. They would enjoy insulting you as well. What shall be more distressing than this?<br /> 
        For a gentle and dignified person, defamation is very serious and injurious to him. There are some trying to insult others though they cannot withstand insult on them. It is stated that a king can insult anybody but he cannot bear an insult on
        him. Our present political leaders are example of old kings who enjoyed luxuries of life.<br /> 
    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerL" />
    <br />

    <div class="slokaDiv">

    </div>
    <p class="slokadescription">

    </p>
    <hr class="slokadividerR" />
    <br />
</div>