@{
    ViewBag.Title = "The Light of Gita - Chapter V";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter V</h2>
        <h3 style="color:#0094ff;">Karma Samnyasa Yoga</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                Actions are performed with the help of sensory and motor organs and the mind. But the question is how an action affects a person; positively or negatively. Negative or positive impact of the action on individuals brings bondage to one’s soul. Action bringing bondages to one’s atma (soul) are not desirable. Karma samnyasa yoga stands for, internally surrendering the fruits of action unto the God, so that the atma shall not be affected by the bondages formed by actions.
            </p>
            <p class="slokadescription">
                If fruits of actions are surrendered unto God one can free his soul from karmapasa (bondage of action). It is what is meant by karma samnyasa yoga. Some consider Karma Samnyasa as the yoga of action and knowledge.
            </p>
            <p class="slokadescription">
                When the ownership of the fruits of action is submitted by one to the Paramapurusa there remains no attachment and hence there is no bondage to him. Surrender the fruits of action unto God and free yourself from the bondages.
            </p>
        </div>
    </div>
</div>

<div class="slokaWrapper">
    <div class="slokaDiv">
        arjuna uvāca

        sannyāsam karmanām kṛṣṇa punar yogam ca śaṁsasi yacchreya etayorekam tan me brūhi su-niścitam 1
    </div>
    <p class="slokadescription">

        Arjuna asked Krisna: Kindly make me clear whether Karma samnyasa yoga or Karma yoga (yoga of right action) is preferable. What is decidedly good for me?

    </p>
    <br />
    <div class="slokaDiv">
        śrī-bhagavān uvāca

        sannyāsah karma-yogaśca nihśreyasa-karāvubhau tayostu karma-sannyāsāt karma-yogo viśiṣyate 2

    </div>
    <p class="slokadescription">
        Krisna said: Both Karmasamnysa yoga and karmayoga lead one to the ultimate liberation. But Karmayoga (yoga of right action) is preferable.   Karma samnysa does not mean not performing the right action, but surrendering the fruits of action to God. It is Niskama karma. But those doing right actions must have a true ideation of the Divine within. A Karma yogi does not have the feeling of doer ship. He gets the same experience and satisfaction as that of deep meditation being performed by a Sankhyayogi. However Karma yoga is preferable to Sankhyayoga and Karmasamnyasa yoga.

    </p>
    <br />
    <div class="slokaDiv">
        jñeyah sa nitya-sannyāsī yo na dvesti na kāṅkṣati nirdvandvo hi mahā-bāho sukham bandhāt pramucyate         3

    </div>
    <p class="slokadescription">
        Arjuna, a Karmayogi has no hatred to anybody and he does all actions without the desire for the fruits and gets himself free from karmapasa (bondage of action). He becomes free from the pains of pairs of opposites (dichotomy).   As a Karmayogi performs all actions submitting himself to the Divine, he is not affected by likes and dislikes, pleasures and pains etc. (positive and negative actions). He maintains equanimity of mind. His thoughts are directed towards the Supreme Self.


    </p>
    <br />
    <div class="slokaDiv">
        sānkhya-yogau prthag bālāḥ pravadanti na paṇḍitāḥ ekam apy āsthitah samyag ubhayorvindate phalam 4

    </div>
    <p class="slokadescription">
        An unwise man thinks that Sankhyayoga and Karmayoga bring different results. It is not correct. He who follows either of the two can get the same result, i.e. freedom from bondage of action.  Yoga is the main concern and not the method adopted. It is a question ever existing as to whether Sankhyayoga or Karmayoga is superior. It is the question of fools and dull headed persons. The aim is the communion of soul with the Supreme and not the method of yoga. Everybody is free to select the most suited method as he pleases. As we can reach the same place by various modes of transportation, we can attain the Divine by different modes of yoga.

    </p>
    <br />
    <div class="slokaDiv">
        yat sāṅkhyaih prāpyate sthānaṁ tad yogairapi gamyate ekam sāṅkhyaṁ ca yogaṁ ca yah paśyati sa paśyati            5
    </div>
    <p class="slokadescription">

        The ultimate state of salvation (liberation) can be attained by Sankhyayoga and Karmayoga. Therefore, he is a real yogi who views that the results of the two methods are the same. His vision is right. As the purpose of practicing any methods of yoga is the same and that it is not wise to see the methods so differently. The term knowledge is to be taken as the real knowledge of the Supreme.

    </p>
    <br />
    <div class="slokaDiv">
        sannyāsas tu mahā-bāho duhkham āptum ayogataḥ yoga-yukto munir brahma na cirenādhigacchati 6
    </div>
    <p class="slokadescription">

        Without Karmayoga, sankhyayoga is difficult. A Karmayogi can reach the highest state of realization, fixing his mind on God, while performing all actions. A sankhyayogi, performs his penance based on his knowledge and experience. He also does karma along with the thought of the Supreme, but for a real Karmayogi his action itself is a worship to God.

    </p>
    <br />
    <div class="slokaDiv">
        yoga-yukto visuddhātmā vijitātmā jitendriyaḥ sarva-bhῡtātma-bhūtātmā kurvannapi na lipyate 7
    </div>
    <p class="slokadescription">

        A Karmayogi who has control over his senses and has purified his mind sees the very same soul in all beings. He is not affected by the bondage of action. Even when he performs any action, he is not tainted.  Where a person’s mind is purified and he has control over the senses and who is always engaged in the thoughts of the Divine, no bondage will be attracted by his actions.

    </p>
    <br />
    <div class="slokaDiv">
        naiva kiñcit karomiti yukto manyeta tattva-vit paśyan śrnvan sprśan jighrann aśnan gacchan svapan śvasan [8]
        pralapan visrjan grhnann unmiṣan nimiṣannapi indriyānīndriyārthesu vartanta iti dhārayan  [9]
    </div>
    <p class="slokadescription">
        A sankhyayogi who has established in the thoughts of God and has control over his senses thinks that he does not do anything even when he does the actions of seeing, hearing, touching, smelling, eating, drinking, walking, sleeping, breathing, speaking or attending the call of nature, grasping, opening or closing his eyes etc. A Sankhyayogi should think that every action is performed at the will of God and does not possess the doer ship of any action. He is only a medium to get the will of the God carried out. He who knows Brahma as the real doer is the one, who has the real knowledge.

    </p>
    <br />
    <div class="slokaDiv">
        brahmaṇy ādhāya karmani sangam tyaktvā karoti yaḥ lipyate na sa pāpena padma-patram ivāmbhasā 10
    </div>
    <p class="slokadescription">
        He who performs all actions surrendering unto God unattached, will remain as a lotus leaf on the surface of the water unwet. He is not also affected by the sin of Karma. The leaves of lotus plant grown in water are not got wet by water. The leaves always remain on the surface of the water without being wet. It is to state a person living in unfavorable environments and that he will not be affected even when he does all actions, surrendering to God.  Long ago samnyasins (those who renounced their homes in search of God) used to do their penance in forests remaining unattached or undisturbed by the family environment. But a real yogi is not affected by the environment. Most of those spiritual aspirants at that time might not have reached such a state of mind. We cannot blame those who sought refuge in forest during those days for they could not have attained the unattached state of mind. He who has unshakable faith in God will not be affected by any action. The question is related to those who have not reached the desired level of mental status.

    </p>
    <br />
    <div class="slokaDiv">
        kāyena manasā buddhyā kevalairindriyairapi yoginaḥ karma kurvanti saṅgaṁ tyaktvātma-śuddhaye 11
    </div>
    <p class="slokadescription">

        A Karmayogi performs all actions with his senses, mind, intellect and body without the feeling of doer ship. He shakes off the bondages of attachments and does all actions for the purifications of his mind. A karmayogi knows well that the feeling of doer ship is attachment. He does every action submitting the sense of doershipto the Supreme. He knows well that the ultimate cause of everything is the divine God. It is the  true concept and feeling that a Karmayogi should have.

    </p>
    <br />
    <div class="slokaDiv">
        yuktah karma-phalam tyaktvā śāntim apnoti naiṣṭhikīm ayuktah kāma-kārena phale sakto nibadhyate 12
    </div>
    <p class="slokadescription">

        By the act of offering the fruits of action to the Supreme, a Karmayogi is able to attain everlasting peace (realization of the Supreme self). But one who does all actions with the selfish interest is bound by his actions and desires. It is not whether all actions are performed but whether the feeling of doership could be sublimated and surrendered to the Supreme is that matters. We know that ultimate cause of everything is God and that without God nothing can exist. But we often forget this and do actions with a sense of doership and ownership. Do away with egoistic and doer ship feelings of action and become free from bondages. Bondage is a binding force making the soul a slave of one’s mind.

    </p>
    <br />
    <div class="slokaDiv">
        sarva-karmāni manasā sannyasyāste sukham vaśī nava-dvāre pure dehī naiva kurvan na kārayan 13
    </div>
    <p class="slokadescription">

        He who has controlled his senses and offered the fruits of action to the Supreme (mentally) remain peaceful and that he has nothing to do in particular in the body of nine openings. Controlling the senses is not easy but it is possible by deep faith in God and by giving up of all desires. Once control of senses is made possible one can easily surrender himself to God. Otherwise he will be driven away by his senses to satisfy sensual desires. na kartrtvaṁ na karmāṇi lokasya srjati prabhuḥ

    </p>
    <br />
    <div class="slokaDiv">
        na karma-phala-saṁyogaṁ svabhāvastu pravartate  14
    </div>
    <p class="slokadescription">

        There is no bondage of actions or fruits of action with God. He is independent. All actions are being performed according to the nature of Prakriti in Him. Therefore there is no doer ship of any action with God. Even the creation is done by Prakriti, under His eternal vigilance. Everybody does all actions as per the influence of forces of Prakriti acting in him. To change the influence of Prakriti present in us, we should do right actions surrendering ourselves to the Supreme. The collective influences of forces of Prakriti; Sattva, Rajo and Tama gunas can be positively changed or modified.

    </p>
    <br />
    <div class="slokaDiv">
        nādatte kasyacit pāpaṁ na caiva sukrtam vibhuḥ ajñānenāvrtam jñānaṁ tena muhyanti jantavaḥ 15
    </div>
    <p class="slokadescription">

        God, the Omnipresent, does not accept the good or evils of anybody. True knowledge is veiled by ignorance and therefore one is constantly influenced by delusion. Good and evil are the fruits of action. It has no relationship with God and He is not the receiver of good or evil results. Though one offers the fruits of action unto God, it is only a psychological drama to get relief from the  bondages of action and to free one’s soul.

    </p>
    <br />
    <div class="slokaDiv">
        jñānena tu tadajñānaṁ yeṣām nāśitam ātmanaḥ teṣām āditya-vaj jñānaṁ prakāśayati tat param 16
    </div>
    <p class="slokadescription">

        When ignorance, by which the soul being enveloped, is removed the soul would shine like the Sun and that one would realize the Supreme. It is due to the veil of ignorance that covers one’s soul from realizing the Divine. When the veil is removed one can know the presence of the Supreme within. The delusion created by Prakriti takes away one from real knowledge. Do right action to acquire real knowledge and free yourself from the bondages of Prakriti.

    </p>
    <br />
    <div class="slokaDiv">

        tad-buddhayas tadātmanās tan-niṣṭhās tat-parāyanāḥ gacchanty apunarāvrttiṁ jñāna-nirdhῡta-kalmaṣāḥ 17

    </div>
    <p class="slokadescription">


        He whose mind and intellect are established in God and who has wiped off his sins by real knowledge will attain a state of oneness with the Supreme without a further return; i.e. the ultimate merger of the soul with the Supreme. One can wash away his sins by constantly ideating on God. It is only by the true ideation of the Divine one can purify his mind. Good ideation (Bhava) changes one’s character and also his conduct. It is a psychological truth that one can convert his mind positively by the thoughts of the Divine. Every action should therefore be performed with the view to untying the bondages and to free your soul from the pains of the dichotomic influences.

    </p>
    <br />
    <div class="slokaDiv">
        vidyā-vinaya-sampanne brāhmane gavi hastini śuni caiva śvapāke ca paṅditāḥ sama-darśinaḥ 18

    </div>
    <p class="slokadescription">

        A wise man, established in the knowledge of God, sees no difference between a cow and the elephant, a dog and a Chandala (who lives eating the flesh of dogs) as regards to the Supreme entity existing in them.

        For an enlightened soul everything is the manifestation of the God. He sees everybody equally as to the existence of God. Everybody is alike except for the influence of Prakriti in him.

    </p>
    <br />
    <div class="slokaDiv">
        ihaiva tairjitah sargo yeṣām sāmye sthitam manaḥ nirdoṣam hi samaṁ brahma tasmād brahmani te sthitāḥ 19

    </div>
    <p class="slokadescription">
        He who is able to establish his mind, in the thoughts of God, even in this mortal world; can feel the presence of God everywhere. He becomes one with the God sooner or later.  Living in this world and to live in higher realms of God’s realization as well, is really great. It is the most desirable. Living in the thoughts of God is a great boon to the spiritual aspirants and that their lives become graceful.

    </p>
    <br />
    <div class="slokaDiv">
        na prahrṣyet priyam prāpya nodvijet prāpya cāpriyam sthira-buddhir asammūdho brahma-vid brahmani sthitaḥ 20

    </div>
    <p class="slokadescription">
        One who is free from doubts and does not enthuse much on good results or feels unhappy over the undesirable fruits of action is a person with determinate intellect and the knower of God and will remain established in Him. Doubts are the enemies of a spiritual aspirant, being influenced by Prakriti (maya) acting in him. When one’s mind is balanced with the forces of Prakriti and when Sattva guna is getting predominant, his doubts start melting away.

    </p>
    <br />
    <div class="slokaDiv">
        bāhya-sparśeṣvasaktātmā vindaty ātmani yat sukham
        sa brahma-yoga-yuktātma sukham akṣayam aśnute 21

    </div>
    <p class="slokadescription">

        He whose mind is unattached with sensual pleasures and he who finds intense peace in meditating upon God, keeps himself merged in the thoughts of God. He enjoys immeasurable peacefulness and bliss.

    </p>
    <br />
    <div class="slokaDiv">
        ye hi samsparśajā bhogā duhkha-yonaya eva te ādyantavantah kaunteya na teṣu ramate budhaḥ 22

    </div>
    <p class="slokadescription">

        All sensual enjoyments have limitations and are momentary. It also brings unhappiness. Desires cause miseries too. So the wise men do not attach much importance to sense enjoyments or pleasures. The pleasures caused by sensual desires and sense objects have their own limitations and therefore one looks for enjoyment from one object to another. Unblemished enjoyment or peace is beyond one’s senses. He who is able to merge with the Supreme refining his mind, attains everlasting peace and bliss. The infinite peace is called Ananda.

    </p>
    <br />
    <div class="slokaDiv">
        śaknotīhaiva yah sodhuṁ prāk śarira-vimoksanat kāma-krodhodbhavam vegaṁ sa yuktah sa sukhī naraḥ 23

    </div>
    <p class="slokadescription">
        He who is able to withstand and control anger and lust like sensual urges, even at the face of his death, is one enjoying the real happiness.  We know that it is not easy to control lust and anger. But it is possible by the true thoughts of God and submission to Him. The sensory organs are our friends as long as we have control over them and are enemies when they are not controlled. True thoughts of God refer to the ideation of the supreme consciousness.

    </p>
    <br />
    <div class="slokaDiv">
        yo 'ntah-sukho 'ntarārāmas- thatāntar-jyotireva yaḥ sa yogī brahma-nirvānaṁ brahma-bhūto 'dhigacchati 24

    </div>
    <p class="slokadescription">

        One who finds happiness in himself and delights in his illuminating soul, attains the ultimate goal of merging with the Supreme.  There are some who appear or pretend to be happy though internally they are much worried.There are some who are happy, internally and externally and find pleasure in the communion with the Supreme. Happiness or worries are due to the bondages of one’s action.Both are bondages to the soul.

    </p>
    <br />
    <div class="slokaDiv">
        labhante brahma-nirvānam- ṛṣayah kṣīna-kalmaṣāḥ chinna-dvaidhā yatātmānaḥ sarva-bhūta-hite ratāḥ 25

    </div>
    <p class="slokadescription">

        Those yogis or great seers who have washed off all their sins and who have removed all doubts and live for the welfare of other beings, having controlled their minds, attain the Supreme.

    </p>
    <br />
    <div class="slokaDiv">
        kāma-krodha-vimuktānaṁ yatīnām yata-cetasām abhito brahma-nirvānaṁ vartate viditātmanām 26

    </div>
    <p class="slokadescription">

        Those who are free from lust and anger and have control over their minds and who have realized the Supreme, enjoy eternal bliss everywhere. Our main enemies are lust and anger that prevent the spiritual progress. Those who are able to control these instincts are able to attain the real knowledge of the Supreme.We shall never talk about spirituality to those who have no control over anger and lust. A spiritual aspirant would be simple, loving and truthful. Do not be angry with those getting angry every now and then for they may lose their mental equilibrium.

    </p>
    <br />
    <div class="slokaDiv">

        sparśān krtvā bahir bāhyām- ścakṣuś caivāntare bhruvoḥ prānāpānau samau krtvā nāsābhyantara-cārinau [27]
        yatendriya-mano-buddhir munir mokṣa-parāyaṇaḥ vigatecchā-bhaya-krodho yah sadā mukta eva saḥ [28]


    </div>
    <p class="slokadescription">

        It is said that those withdrawing their minds, from external objects, controlling the Prana and Apana airs, keeping the mind between the eyebrows and meditating at the tip of their nostril, shall be freed from lust and anger and would attain liberation.   It is a method of yoga practice by which mind can be brought under control and that lust and anger can be controlled or removed. But such spiritual practices should be done under the strict guidance of a learned guru or otherwise it may lead to complications.

    </p>
    <br />
    <div class="slokaDiv">
        bhoktāram yajña-tapasāṁ sarva-loka-mahesvaram
        suhrdam sarva-bhūtānāṁ jñātvā mām śāntimṛcchati 29

    </div>
    <p class="slokadescription">

        I am the enjoyer of all sacrifices and austerities and the Supreme Lord of all, disinterested friend of everybody. Those devotees knowing Me as such attain lasting peace. ‘I’ refers to that seed of Paramatma existing in every being as soul. Man conducts sacrifices and penance to appease Gods, representing the various symbols of God. Sacrifices or penance for attaining God only can be called spiritual.  Surrender the fruits of every action unto God and be a Karma Samnyasa yogi.

    </p>
    <br />

</div>