@{
    ViewBag.Title = "The Light of Gita - Chapter XVI";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter XVI</h2>
        <h3 style="color:#0094ff;">Daivasura Sampath Vibhaga Yoga</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                The terms ‘Div’ refers to light and the term divine is related to it. Therefore Deva or
                God means the divine (light). The opposite word of Deva is Asura which means
                darkness or ignorance. Asuras are those who stand against virtue and virtuous
                persons. They are negative in character. Those with divine qualities march towards
                the Supreme light while those who with Asura qualities move only all along darkness or ignorance. People of Asura qualities make all the troubles to those
                with virtues. It is said that problems are created by Asuras while they are solved
                by Devas (good people). The values like love, compassion, affection, consideration
                for others, performing right duty etc. are not present in Asuras. Asuras with their
                demoniac powers constantly fight against the virtuous persons. Devas refer to
                those who have got the sparks of divine light within. We can classify and identify
                Devas and Asuras, among human beings, on the bases of the influence of the
                gunas of Prakriti acting in them. In this chapter it is discussed the influence of the
                forces of Prakriti in men and the character being expressed by the individuals. It is
                stated that the main cause of all human problems is the Asura tendenciy in man.<br /><br />
                Keep yourself away from the Asuras and not to pollute your mind by their
                influences.
            </p>
        </div>
    </div>
</div>
<div class="slokaWrapper">
    <div class="slokaDiv">
        śrī-bhagavān uvāca<br /><br />
        abhayaṁ sattva-saṁśuddhir<br />
        jñāna-yoga-vyavasthitiḥ<br />
        dānaṁ damaś ca yajñaś ca<br />
        svādhyāyastapa ārjavam <br />[1]<br />
        ahiṁsā satyam akrodhas<br />
        tyāgaḥ śantirapaiśunam<br />
        dayā bhūteṣvaloluptvam<br />
        mārdavaṁ hrīracāpalam<br /> [2]<br />
        tejaḥ kṣamā dhṛtiḥ śaucam<br />
        adroho nāti-mānitā<br />
        bhavanti sampadaṁ daivīm<br />
        abhijātasya bhārata<br /> [3]<br />

        Total, freedom from fear, mental purity, fixing mind in yoga and meditation,
        control of senses, worship of the Supreme and other Gods, sacrifices in fire,
        acquiring good knowledge, giving alms to others, stable and open mindedness,
        non-violence, gentle behavior, patience, neatness, courage, truthfulness,
        abstaining from gossip etc. are related to persons born with divine (Deva)
        characteristics.
        Higher thinking, understanding, not boasting oneself etc. are due to the
        grace of the divine Purusa.
        Purity of mind and purity of actions are really the gift of the Supreme.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            dambho darpo'bhimānaś ca <br />
            krodhaḥ paruṣyam eva ca<br />
            ajñānaṁ cabhijātasya<br />
            pārtha sampadamāsurim<br />
            [4]<br />

        </div>
        <p class="slokadescription">
            Showing contradiction in words and actions (hypocrisy), ignorance,
            arrogance and pride, sternness in wrong actions are the demoniac characteristics.
            Asuras are not humble. They think that they are only the right. Such people
            insult the good and spread rumors with a view to creating enmity with others and
            are very active and particular in bringing damage to the good name of others.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            daivī sampad vimokṣāya<br />
            nibandhāyāsurī matā<br />
            mā śucaḥ sampadaṁ daivīm<br />
            abhijāto'si pāṇḍava<br />
            [5]

        </div>
        <p class="slokadescription">
            The Divine grace and Divine properties lead one to liberation. But the,
            demoniac properties add bondages to the soul. Therefore, Arjuna, you need not
            worry as you possess the Divine properties.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            dvau bhūta-sargau loke'smin<br />
            daiva āsura eva ca<br />
            daivo vistāraśaḥ proktā<br />
            āsuraṁ pārtha me sṛnu<br />
            [6]

        </div>
        <p class="slokadescription">
            Arjuna, there are two types of men in this world; those with the divine
            properties and those with demoniac properties. You have already heard from Me
            relating to those with divine characteristics. Now you hear from Me of those with
            demoniac characteristics in detail.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            pravṛttiṁ ca nivṛttiṁ ca<br />
            janā na vidurāsurāḥ<br />
            na śaucaṁ nāpi cācāro<br />
            na satyaṁ teṣu vidyate
            [7]<br />

        </div>
        <p class="slokadescription">
            Those with Asura (demoniac) properties do not know what virtuous actions
            are and what not. They do not have external or internal purity and are not truthful
            and gentle. They always remain as a threat to the good people.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            asatyam apratiṣṭhaṁ te<br />
            jagad āhuranīśvaram<br />
            aparaspara-sambhūtaṁ<br />
            kim anyat kāma-haitukam<br />
            [8]<br />

        </div>
        <p class="slokadescription">
            Those with demoniac disposition may say that this world has no foundation
            and is unreal and Godless. The world is created and formed by the union of the
            male and female living beings and hold that there is no other relevance to this
            world. They are totally materialistic and egoistic in nature.



        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            etāṁ dṛṣtimavaṣṭabhya<br />
            naṣṭātmāno'lpa-buddhayaḥ<br />
            prabhavanty ugra-karmāṇaḥ<br />
            kṣayaya jagato'hitaḥ<br />
            [9]<br />

        </div>
        <p class="slokadescription">
            Those who are with devilish (Asura) disposition do terrible and wrong actions
            and become the enemies of the people and stand for the total destruction of the
            world.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            kāmam āśritya duṣpūraṁ<br />
            dambha-māna-madānvitaḥ<br />
            mohād gṛhitvāsad-grāhān<br />
            pravartante'śuci-vratāḥ<br />
            [10]<br />

        </div>
        <p class="slokadescription">
            They are concerned with their own sensual enjoyments and are happy in
            torturing the good people by hook or crook. They are deviish, ignorant and impure
            in character, cherishing the insatiable desires and improper conduct and actions;
            live in this world. They are irrational, egoistic, arrogant and hypocrites and are
            negative minded and are strongly against all good thoughts and actions. Anger is
            a common character of such persons. They oppose very vehemently positive
            actions and support all negativities. We can judge of their mental status on the
            basis of their responses to positive thoughts and actions.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            cintāmaparimeyāṁ ca<br />
            pralayāntām upāśritāḥ<br />
            kāmopabhoga-paramā<br />
            etāvad iti niścitāḥ <br />[11]<br />
            āśā-pāśa-śatair baddhāḥ<br />
            kāma-krodha-parāyaṇāḥ<br />
            īhante kāma-bhogārtham<br />
            anyāyenārtha-sañcayān<br /> [12]<br />

        </div>
        <p class="slokadescription">
            Those with demoniac nature stand for sensual pleasures till death and
            consider that the material pleasures are really desirable and real.
            There is a saying that ‘the eyes of a dead fox are directed towards the cage
            of the chicken.’ This can well be applied in the case of men with demoniac
            properties also. The demoniac are uncultured without any ray of light within. They
            are characterized by lust, anger and striving for amassing wealth even by unfair
            means. They are after money and wealth for increasing and maintaining their
            material pleasures.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            idam adya mayā labdham<br />
            imaṁ prāpsye manoratham<br />
            idam astīdamapi me<br />
            bhaviṣyati punardhanam<br />
            [13]<br />
            asau mayā hataḥ śatrurhaniṣye<br />
            cāparān api<br />
            īśvaro'hamahaṁ bhogī<br />
            siddho'ham balavān sukhī<br />
            [14]<br />
        </div>
        <p class="slokadescription">
            The people with Asura disposition may say ‘today I have got so much money
            and I shall attain anything and everything that I desire. I have much wealth and will
            earn more and more.’
            They always run after the objects of enjoyment and pleasure and possess
            them by any means and also commit mistakes and even criminal offences and
            justify them in the absence of evidences. They lead a life of egoistic disposition
            and do not know that their soul is witnessing everything. They may say “I killed an enemy and will kill others as well. I am the Lord of the world and I have divine
            powers and I am therefore satisfied.”
            Even in the methods of worship Asura and Deva differ. Those worshipping
            God to attain liberation are real spiritualists and their approach is positive. The
            positive approach is called Vidya which helps one to realize the Supreme and free
            the soul from bondages. It guides for the virtuous actions. On the other hand
            Avidya or ignorance is represented by Asuras, doing wrong actions and taking the
            soul away from the Supreme.

        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            āḍhyo'bhijānavān asmi<br />
            ko'nyo'sti sadṛśo mayā<br />
            yakṣye dāsyāmi modiṣya<br />
            ityajñāna-vimohitāḥ <br />[15]<br />
            aneka-citta-vibhrāntā<br />
            moha-jāla-samāvṛtāḥ<br />
            prasaktāḥ kāma-bhogeṣu<br />
            patanti narake'śucau<br /> [16]<br />
        </div>
        <p class="slokadescription">
            A person with Asura property thinks that he is rich with big family strength
            and he would say “I shall do sacrifices, give alms and will be happy” They become
            easy victims of lust and hunger and commit serious crimes and fall in the foulest
            hell.
            Once a devotee told egoistically ‘I performed Ganapathi sacrifice a thousand
            times.’ As there is arrogance in him, he could not get any benefit of Ganapathi
            sacrifice. He lost the materials used in the sacrifice and his valuable time and that
            these type of worships are negative.
            Performing sacrifices without purity and humbleness of mind is negative.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            ātma-sambhāvitāḥ stabdhā<br />
            dhana-māna-madānvitāḥ<br />
            yajante nāma-yajñaiste<br />
            dambhenāvidhi-pūrvakam<br />
            [17]<br />

        </div>
        <p class="slokadescription">
            The Asuras become very arrogant, overwhelmed with the desire of
            amassing wealth and luxuries. They perform some sacrifices to make others
            believe that they are doing the true sacrifice for others.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            ahaṅkāraṁ balaṁ darpaṁ<br />
            kāmaṁ krodhaṁ ca saṁśritāḥ<br />
            mām atma-para-deheṣu<br />
            pradviṣanto'bhyasūyakāḥ<br />
            [18]<br />

        </div>
        <p class="slokadescription">
            Egotism, brutality, arrogance, lust, anger etc. are increasingly present in
            people with Asura tendencies and they hate Me existing in them as their souls.
            They do insult and disown their own souls and the Supreme Self. They
            always try to discourage the positive movement of the humanity and promote vices
            saying that there is no God and they find no need to fear anybody.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            tānahaṁ dviṣataḥ krūrān<br />
            saṁsāreṣu narādhamān<br />
            kṣipamy ajasram aśubhān<br />
            āsurīṣveva yoniṣu <br />[19]<br />
            āsurīṁ yonim āpanna<br />
            mūḍhā janmani janmani<br />
            mām aprāpyaiva kaunteya<br />
            tato yānty adhamāṁ gatim<br /> [20]<br />
        </div>
        <p class="slokadescription">
            They are cruel, sinful and vice among men whom I cast again and again in
            the womb of demons.
            Arjuna, the Asura take birth after birth for a long period and are pulled down
            to the lower levels.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            tri-vidhaṁ narakasyedaṁ<br />
            dvāraṁ nāśanam ātmanaḥ<br />
            kāmaḥ krodhastathā lobhastasmād<br />
            etat trayaṁ tyajet<br />
            [21]<br />
        </div>
        <p class="slokadescription">
            It is said that lust, anger and greed are the three gate-ways open to hell.
            Therefore one should shun all the three.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            etair vimuktaḥ kaunteya<br />
            tamo-dvārais tribhir narah<br />
            ācaraty ātmanaḥ śreyastato<br />
            yāti parāṁ gatim<br />
            [22]<br />
        </div>
        <p class="slokadescription">
            He who escaped from the gates of hell (lust, anger and greed) shall strive
            for the liberation of his soul and attain Me in due course.
            Lust, anger and greed are the most avoidable and mean evils in man. If one
            can be free from these propensities he can move to higher planes of realization.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            yaḥ śāstra-vidhim utsṛjya<br />
            vartate kāma-karataḥ<br />
            na sa siddhim avāpnoti<br />
            na sukhaṁ na parām gatim<br />
            [23]<br />
        </div>
        <p class="slokadescription">
            As a man of Asura nature acts against the principles of scriptures in an
            arbitrary way according to his own will, never attains perfection or the Supreme
            Purusa.


        </p>
        <hr class="slokadividerL" />
        <br />
        <div class="slokaDiv">
            tasmācchāstraṁ pramāṇaṁ te<br />
            kāryākārya-vyavasthitau<br />
            jñātvā śāstra-vidhānoktaṁ<br />
            karma kartum ihārhasi<br />
            [24]<br />
        </div>
        <p class="slokadescription">
            Therefore, Arjuna, you do all right actions as per scriptures alone.
            In this chapter the characteristic of the divine and demoniac minds are
            subtlety analyzed.
            Try to overcome the vice characteristics of the mind and convert it into divine
            properties and march ahead to the Supreme Purusa (consciousness).
        </p>
    </div>
