@{
    ViewBag.Title = "The Light of Gita - Chapter XIII";
}
<style type="text/css">
    .slokaWrapper {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        text-align: justify;
        text-justify: inter-word;
        /*color: #020f19;*/
        font-size: 14px;
    }

    .slokaDiv {
        text-align: center;
        color: #12629c;
        background-color: #f2f2f2;
        padding: 10px;
        font-weight: 400;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerL {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to left, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadividerR {
        /*height: 1px;*/
        width: 50%;
        /*background-image: linear-gradient(to right, rgba(101,138,212,.5) 0%, rgba(121,220,98,.5) 100%);
        background-color: rgba(5,165,209,.75);*/
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .slokadescription {
        margin: 10px;
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2 style="color:#12629c;">Chapter XIII</h2>
        <h3 style="color:#0094ff;">Ksetra Ksetrajna Vibhaga Yoga</h3>
        <br />
        <div class="row">
            <p class="slokadescription">
                Ksetra refers to a particular realm or plane (Mandalam). It is to be
                understood as a place of worship. He who knows about Ksetra is Ksetrajna. Many
                of us conduct our worship in temples where images (idols) of Gods are
                consecrated for worship. Some worship their selected images of Gods in private
                prayer rooms at their homes. Some others worship God chanting His name always
                secretly. The ultimate goal for every method of worshipping God is to attain Him.
                But many worship God for their material benefits. They get it too, but not God.
                <br />
                In this chapter it is discussed about Ksetra, Ksetrajna and about the
                presence of God in the worshippers etc.
                Make your body a clean temple, with utmost purity and worship God with due
                devotion.
            </p>
        </div>
    </div>
</div>
<div class="slokaWrapper">
    <div class="slokaDiv">
        arjuna uvāca<br /><br />
        prakṛtiṁ puruṣaṁ caiva<br />
        kṣetraṁ kṣetra-jñaṁ eva ca<br />
        etad veditum icchāmi<br />
        jñānaṁ jñeyaṁ ca keśava<br />
    </div>
    <p class="slokadescription">
        Arjuna prayed Krisna to tell him about Prakriti, Purusa, Ksetra, Ksetrajna,
        Jnana, Jneyam etc.



    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        śrī-bhagavān uvāca<br /><br />
        idaṁ śarīraṁ kaunteya<br />
        kṣetram ity abhidhīyate<br />
        etad yo vetti taṁ prāhuḥ<br />
        kṣetra-jna iti tad-vidaḥ<br />
        1<br />
    </div>
    <p class="slokadescription">
        Krisna said: Arjuna, this body is to be understood as Ksetra and that
        according to the seers, he who knows about Ksetra is Kshtrajna.
        The true place of worship is one’s own body. Therefore one’s body must be
        kept pure and suitable for the worship. It is in the body where the soul being the
        practice of the Supreme resides. The aim of worship is to free the soul form the
        body and mind. The soul is under the strong bond of body and mind. Unless the
        mind is purified the bondages cannot be removed and the soul relieved. Purity of
        mind shall be followed by the purity of the body to do proper worship. It is said that
        when a person with purity of mind worships with devotion of the Supreme, he will
        be relieved from the worldly miseries, in due course.
        Really everyone is the priest in the temple of his body where the deity is the
        soul, representing the Supreme.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        kṣetra-jñaṁ cāpi māṁ viddhi<br />
        sarva-kṣetreṣu bhārata<br />
        kṣetra-kṣetrajñayor jñānaṁ<br />
        yat taj jñānaṁ mataṁ mama<br />
        2<br />
    </div>
    <p class="slokadescription">
        O Bharatha (Arjuna)’, I myself resides in everybody as his soul. Real
        knowledge is related to Ksetra (body) and Ksetrajna(soul).


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        tat kṣetraṁ yacca yadṛk ca<br />
        yad-vikāri yataś ca yat<br />
        sa ca yo yat-prabhāvās ca<br />
        tat samāsena me śṛṇu<br />
        3<br />
    </div>
    <p class="slokadescription">
        I shall explain you in brief as to what is Ksetra? How is it like?
        What are its attributes? What is the glory of Ksetrajna etc.You hear from Me.



    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        ṛṣibhir bahudhā gītaṁ<br />
        chandobhir vividhaiḥ pṛthak<br />
        brahma-sūtra-padaiścaiva<br />
        hetumadbhir viniścitaiḥ<br />
        4<br />
    </div>
    <p class="slokadescription">
        The great seers have explained in detail the Ksetra and the Ksetrajna in their
        own ways. It is available in various Vedas and is well explained in Brahma sutras.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        mahā-bhūtāny ahaṅkāro
        buddhir avyaktam eva ca<br />
        indriyāni daśaikaṁ ca<br />
        pañca cendriya-gocarāḥ<br />
        [5]<br /><br />
        icchā dveṣah sukhaṁ duḥkhaṁ<br />
        saṅghātaś cetanā dhṛtiḥ<br />
        etat kṣetram samāsena<br />
        sa-vikāram udāhṛtam<br />
        [6]<br />
    </div>
    <p class="slokadescription">

        The five fundamental elements ether, air, fire, water and earth; the intellect,
        ego, the manifest primordial Prakriti , five sensory and five motor organs and the
        mind; the five objects of senses; desires, hatred, happiness, sorrow and the body
        consisting of the senses and the soul all together is termed as Ksetra.
        The sensory and motor organs, atma and the body consisting of five
        fundamental elements and the human instincts and intellect; all represent or form
        the Ksetra. The same concept and principles are followed in the case of temples
        being used as the place of worship. One is in and the other is out.
        The human body is said to be a miniature form of the universe.




    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        amānitvam adambhitvam<br />
        ahiṁsā kṣāntir ārjavam<br />
        ācāryopāsanaṁ śaucaṁ<br />
        sthairyam ātma-vinigrahaḥ<br />
        7<br />
    </div>
    <p class="slokadescription">
        The qualities of Ksetrajna are the absence of pride and hypocrisy, patience,
        observing of non-violence, forgiving, straight forwardness in speech, devout
        services to the Guru, steadfastness, internal and external purity, cleanliness etc.



    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        indriyārtheṣu vairāgyam<br />
        anahaṅkāra eva ca<br />
        janma-mṛtyu-jarā vyādhi<br />
        duhkha-doṣānudarśanam<br />
        [8]<br /><br />
        asaktir anabhiṣvaṅgaḥ<br />
        putra-dāra-gṛhādiṣu<br />
        nityam ca sama-cittatvam<br />
        iṣṭāniṣṭopapattiṣu<br />
        [9]<br /><br />
        mayi cānanya-yogena<br />
        bhaktir avyabhicārinī<br />
        vivikta-deśa-sevitvam<br />
        aratir jana-saṁsadi<br />
        [10]<br /><br />
        adhyātma-jñāna-nityatvaṁ<br />
        tattva-jñānārtha-darśanam<br />
        etaj jñānam iti proktam<br />
        ajñānam yad ato 'nyathā<br />
        [11]<br />
    </div>
    <p class="slokadescription">
        Ksetrajna would be a person without sensual desires not anxious to birth,
        death, old age, diseases etc.; having no feeling of minenes to children, wife, home
        and is with full devotion to Me. He must reside in secluded and holy places and not
        in the company of others. He must be confident in the knowledge of atma knowing
        that the Supreme self is the origin of true knowledge. He must know that only by
        the knowledge of the Truth one can attain liberation.



    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        jñeyaṁ yat tat pravakṣyāmi<br />
        yaj jñātvāmṛtam aśnute<br />
        anādi mat-paraṁ brahma<br />
        na sattannāsad ucyate<br />
        12<br />
    </div>
    <p class="slokadescription">
        I shall explain in detail the truth you should know. Those who know this truth
        will attain the state of infinite happiness (bliss). It is the Supreme truth of
        Parabrahma, the Lord of the universe without beginning and end. Brahma alone is
        the cause of knowledge, consciousness and bliss.



    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sarvataḥ pāṇi-pādaṁ tat<br />
        sarvato 'kṣi-śiro-mukham<br />
        sarvatah śrutimal loke<br />
        sarvam āvṛtya tiṣṭhati<br />
        13<br />
    </div>
    <p class="slokadescription">
        As Brahma is all pervading it is said that it has hands and feet on all sides;
        eyes, ears, head and mouth in all directions.
        It does not mean God has many hands and legs. It is Omnipresent,
        Omnipotent and Omniscient.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        sarvendriya-gunābhāsaṁ<br />
        sarvendriya-vivarjitam<br />
        asaktam sarva-bhṛc caiva<br />
        nirguṇaṁ guṇa-bhoktṛ ca<br />
        14<br />
    </div>
    <p class="slokadescription">
        Though it knows everything it is devoid of sense organs and unattached. It
        is the sustainer of all and the enjoyer of all the qualities of Prakriti.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        bahir antaś ca bhūtānām<br />
        acaraṁ caram eva ca<br />
        sūkṣmatvāt tad avijñeyam<br />
        dūra-stham cāntike ca tat<br />
        [15]<br /><br />
        avibhaktaṁ ca bhūteṣu<br />
        vibhaktam iva ca sthitam<br />
        bhūta-bhartṛ ca taj jñeyaṁ<br />
        grasiṣṇu prabhaviṣṇu ca<br />
        [16]<br /><br />
        jyotiṣāmapi tajjyotis<br />
        tamasaḥ param ucyate<br />
        jñānam jñeyam jñana-gamyam<br />
        hṛdi sarvasya viṣṭhitam<br />
        [17]<br /><br />
        iti kṣetraṁ tathā jñānaṁ<br />
        jñeyaṁ coktaṁ samāsatah<br />
        mad-bhakta etad vijñāya<br />
        mad-bhāvāyopapadyate<br />
        [18]<br /><br />
    </div>
    <p class="slokadescription">
        Paramatma, the Supreme self, exists in and outside of all beings. It is the
        most subtle principle of the universe. Therefore it exists everywhere, though we do
        not know it at all.It is the spirit(satta) of everything. God is there, in all living and non-living things. He functions as the sustainer
        of the world as Vishnu; as the destroyer of the world, Rudra and as the creator
        Brahma. Brahma is the great light and is the cause of all lights. The light of Brahma
        (supreme) is beyond the principles of maya (Prakriti).

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        prakṛtiṁ puruṣaṁ caiva<br />
        viddhy anādī ubhāv api<br />
        vikārāms ca guṇāmścaiva<br />
        viddhi prakṛti-sambhavān<br />
        19<br />
    </div>
    <p class="slokadescription">
        One must know that Purusa (consciousness) and Prakriti (power) are
        beginningless. Everything is created by the influence of three gunas (forces of
        Prakriti). Thoughts and emotions are formed due to the influence of the forces of
        prakriti.
        Since Purusa and Prakriti are beginningless the question of their origin does
        not arise.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        kārya-karana-kartṛtve<br />
        hetuḥ prakrtir ucyate<br />
        puruṣaḥ sukha-duḥkhānām<br />
        bhoktṛtve heturucyate<br />
        20<br />
    </div>
    <p class="slokadescription">
        Prakriti is said to be the cause of creation. But Purusa (the individual soul)
        is said to be the cause of enjoyement of happiness and sorrow.
        Though Prakriti is the combination of the three forces; Sattva, raja and tama;
        there is no I feeling to Prakriti. The ‘I’ feeling is due to the consciousness (soul)
        present. Therefore the enjoyer of happiness and sorrow, causing bondages is the
        soul.
        Everybody is actually torturing his soul by enjoyments and sorrows, forming
        bondages.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        puruṣaḥ prakṛti-stho hi<br />
        bhuṅkte prakṛti-jān gunan<br />
        kāraṇaṁ guṇa-sango 'sya<br />
        sad-asad-yoni-janmasu<br />
        21<br />
    </div>
    <p class="slokadescription">
        The Purusa under the influence of Prakriti enjoys happiness or sorrow being
        created by the bondages of Prakriti. Where bondages are many the soul suffers a
        lot and where it is less the soul feels relief to that extent. The forces of Prakriti (the
        gunas) in one are responsible for the good and evil births of the soul.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        upadraṣṭānumantā ca<br />
        bhartā bhoktā maheśvaraḥ<br />
        paramātmeti cāpy ukto<br />
        dehe 'smin puruṣaḥ paraḥ<br />
        22<br />
    </div>
    <p class="slokadescription">
        The soul is the spirit dwelling in the body representing the Divine supreme
        entity, as stated by great seers. But it is controlled by the mind as influenced by
        the forces of Prakriti. It is the witnessing entity in everybody and is the cause of the
        unified action of the body.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        ya evaṁ vetti puruṣam<br />
        prakṛtim ca guṇaiḥ saha<br />
        sarvathā vartamāno 'pi<br />
        na sa bhūyo 'bhijāyate<br />
        23<br />
    </div>
    <p class="slokadescription">
        A yogi who truly knows Purusa and Prakriti, will not be affected by the
        bondages of Prakriti and that the right actions performed by him shall make him
        immortal without further birth.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        dhyānenātmani paśyanti<br />
        kecid ātmānam ātmana<br />
        anye sāṅkhyena yogena<br />
        karma-yogena cāpare<br />
        24<br />
    </div>
    <p class="slokadescription">
        Some try to see the Paramatma, the Supreme in his heart by their purified
        intellect and meditation; some by way of true knowledge and some by performing
        right action taking the ideation of the Divine.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        anye tv evam ajānantaḥ<br />
        śrutvānyebhya upāsate<br />
        te 'pi cātitaranty eva<br />
        mṛtyuṁ śruti-parāyaṇāḥ<br />
        25
    </div>
    <p class="slokadescription">
        Some others, without following the three methods; knowledge, meditation
        and right action, hearing from gurus (teachers) and attending the principles of
        spirituality carefully worshipping the Supreme will also be delivered from the
        tortures of births and deaths.
        There are many who do not know about Jnanayoga, Karmayoga, Dhyana
        yoga etc. but as advised by Sadgurus, they practice worshipping God. They also
        attain the Supreme. But often people are misguided by pseudo gurus. As a result
        the worshippers may face many a problem.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yavat saṅjāyate kiñcit<br />
        sattvaṁ sthāvara-jaṅgamam<br />
        kṣetra-kṣetrajña-saṁyogāt<br />
        tad viddhi bharatarṣabha<br />
        26<br />
    </div>
    <p class="slokadescription">
        Arjuna, you shall know that movables and immovable are created by the
        union of the Ksetra and Ksetrajna.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        samaṁ sarveṣu bhūteṣu<br />
        tiṣṭhantaṁ parameśvaram<br />
        vinaśyatsv avinaśyantaṁ<br />
        yaḥ paśyati sa paśyati<br />
        27<br />
    </div>
    <p class="slokadescription">
        He who sees equally the Supreme consciousness existing in the perishables
        living and non-living things; as imperishable is really a spiritual aspirant or yogi.
        In everybody (perishable) the imperishable soul exists. It is called the unit
        self or jivatma. At the time of death the mind carries with it the soul under its
        bondage and causes to births until the soul reaching the Supreme.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        samaṁ paśyan hi sarvatra<br />
        samavasthitam īśvaram<br />
        na hinasty ātmanātmānaṁ<br />
        tato yāti parāṁ gatim<br />
        28<br />
    </div>
    <p class="slokadescription">
        One who sees the Supreme equally in everything shall not kill himself. Those
        who realize the existence of Supreme consciousness everywhere, attain Him in
        due course. They cannot reject the Supreme self and the unit soul.

    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        prakṛtyaiva ca karmāni<br />
        kriyamāṇāni sarvaśaḥ<br />
        yaḥ paśyati tathātmānam<br />
        akartāraṁ sa paśsyati<br />
        29<br />
    </div>
    <p class="slokadescription">
        He who knows that all actions are performed according to the influence of
        Prakriti and that soul does not do anything really knows the truth.
        All actions are taken place according to the influence of Prakriti acting in one
        (Sattva, raja and tama-gunas) and that the jivatma has no role.



    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yadā bhūta-pṛthag-bhāvam<br />
        eka-stham anupaśyati<br />
        tata eva ca vistāraṁ<br />
        brahma saṁpadyate tadā<br />
        30<br />
    </div>
    <p class="slokadescription">
        When one realizes that the original basis of all beings is the Supreme
        consciousness and that the whole universe is emanated from Him, he attains
        perfection and merges into the Supreme, shaking of all bondages, caused by the
        actions under the influence of the natural forces.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        anāditvān nirgunatvāt<br />
        paramātmayam avyayaḥ<br />
        śarīra-stho 'pi kaunteya<br />
        na karoti na lipyate<br />
        31<br />
    </div>
    <p class="slokadescription">
        Arjuna, though Paramatma exists in every being along with the principle of
        Prakriti, He does not do anything and not create any attachment or bondage due
        to action.
        Nobody can pollute or make Brahma impure, as he is beyond the principles
        of Prakriti though the unit soul is tortured by the mind due to the influence of the
        forces of Prakriti.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yathā sarva-gatam saukṣmyād<br />
        ākāśaṁ nopalipyate<br />
        sarvatrāvasthito dehe<br />
        tathātmā nopalipyate<br />
        32<br />
    </div>
    <p class="slokadescription">
        The Supreme light of Paramatma, though exists in everything, it is so subtle
        and pure and cannot be mixed up with anything. It is not related to bodily actions.
        215
        The Supreme entity is all-pervading and hence it is subtler than the subtle
        and that nothing can influence Him.
        The irony is that the Supreme entity in the form of unit self (soul) suffers the
        pains and enjoys pleasures as being enslaved by the mind.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        yathā prakāśayaty ekaḥ<br />
        kṛtsnaṁ lokam imaṁ ravih<br />
        kṣetraṁ kṣetrī tathā kṛtsnaṁ<br />
        prakāśayati bhārata<br />
        33<br />
    </div>
    <p class="slokadescription">
        As the sun lightens up the entire world, the ksetrajna brightens the whole
        universe (ksetras).
        Here Ksetrajna is considered as Paramatma which is also called
        Suryanarayana, the cause of all lights, existing and spreading His light
        everywhere.


    </p>
    <hr class="slokadividerL" />
    <br />
    <div class="slokaDiv">
        kṣetra-kṣetrajñayor evam<br />
        antaraṁ jñāna-cakṣuṣa<br />
        bhūta-prakṛti-mokṣaṁ ca<br />
        ye viduryānti te param<br />
        34<br />
    </div>
    <p class="slokadescription">
        One who is able to know the difference between Ksetra and Ksetrajna by
        his invisible eye of knowledge reaches the Supreme.
        The aim of every soul is to attain total freedom and there by to reach the
        Supreme self
    </p>


</div>
